[2020-05-06 13:15] win32nipuh commented on #253
Btw, I go to branch release-6.0.0-dev and
see the
README.md Finbuckle.MultiTenant 5.0.4
CHANGELOG.md | release: v5.0.4

[2020-05-06 15:04] ZedZipDev commented on #256
What NuGet packages you have installed in the project?

[2020-05-06 15:41] AndrewTriesToCode commented on #253
@win32nipuh Thansk for pointing that out. I plan to do preview2 this weekend and will update the readme.

@Oleg26Dev  there is a blazor sample in the other open pull request. I've asked @Hammurabidoug if he wants to adapt that sample for this PR. His PR parameterized one of the multitenant stores for a custom tenantinfo -- this PR effectively does that for the entire library.

[2020-05-06 15:49] AndrewTriesToCode commented on #257
@win32nipuh Can you also post your `Configure` method in the `Startup` class?

This looks like a problem with EFCore migrations-- it is probably trying to create an instance of your db context for migration purposes but can't do so because there is no tenant for this request.

Do you plan to run migrations from the command line or let the application handle it?

Either way special consideration ar

[2020-05-06 15:55] AndrewTriesToCode commented on #256
@hhuseyinpay My guess is it is related to the host matching template here:
[code]

What is the url for the request throwing the error? Also I don't see it in your screenshot, but do you still have the default connection string value in the json for the configuration store?

[code]

[2020-05-06 16:02] AndrewTriesToCode commented on #248
@Oleg26Dev Does the typed `TenatInfo` in the preview for v6 look like it will address this for you?

[2020-05-06 16:41] ZedZipDev commented on #256
I had the same strange exception.
Install NuGets:
Microsoft.EntityFrameworkCore
Microsoft.EntityFrameworkCore.Sqlite
and try again. After it this exception can disappear.

[2020-05-06 18:17] ZedZipDev opened #258 "DataIsolationSample: Exception"
I have downloaded the Finbuckle.MultiTenant-release-6.0.0-dev
Open the solution in VS2019, Finbuckle.MultiTenant-release-6.0.0-dev
Run the project ASP.NET Core 3 DataIsolationSample:

[2020-05-06 18:36] ZedZipDev commented on #258
I have removed the NuGet and added the project and it works
Something wrong wth NuGet

[code]

[2020-05-06 18:36] AndrewTriesToCode commented on #258
@Oleg26Dev Thanks for creating the issue. I suspect it has to do with `ITenantInfo` not being injected correctly... I'm currently setting up a new computer so I haven't been able to test as usual. I will take a look at it this evening.

-Drew

[2020-05-06 18:36] ZedZipDev commented on #258
Andrew, check my comment above

[2020-05-06 18:37] AndrewTriesToCode commented on #258
Ah yes, I see it was still referencing the bad nuget package and not the code. Good catch.

[2020-05-06 18:38] AndrewTriesToCode commented on #258
The branch is a few commits newer than the preview1 nuget package. I will get a preview2 nuget out this weekend.

[2020-05-06 19:32] sberube commented on #93
Did someone manage to get Finbuckle working with IdentityServer4? Thanks!

[2020-05-06 19:35] sberube commented on #155
Hi @AndrewTriesToCode, do you have some kind of plan? Maybe I can give you a hand with this! Thanks!

[2020-05-07 03:59] michaelkaboro opened #259 "Use EF 6?"
Would be possible to use EF 6 for the Database context?

If not currently possible, do you think adding this functionality would be complicated as I see you have used EF Core mostly throughout the definition of MultiTenantDbContext.

If it wouldn't require a big change in the library, I would wish to include this, your guidance would very much be appreciated.

[2020-05-07 09:28] hhuseyinpay commented on #256
@Oleg26Dev I tried but it did not work for me:
![Screen Shot 2020-05-07 at 12 16 43](https://user-images.githubusercontent.com/14811488/81277180-bbc71980-905c-11ea-9c95-635a7257e069.png)

@AndrewTriesToCode I'm getting the error at https://localhost:5001/Identity/Account/Register and .../Login
Yes, I screenshotted just my edits. So other parts are the same with IdentityDataIsolation example.
![Scr

[2020-05-08 09:22] hhuseyinpay commented on #256
I find the problem. When using "*.__tenant__.?" strategy URL should end with  .com etc. So I added
 localhost.com to the hosts file and it worked.

[2020-05-08 09:22] #256 closed, assigned to nobody

[2020-05-08 15:56] AndrewTriesToCode commented on #155
hi @sberube Sorry I haven't responded yet -- I will write out some thoughts here later today. One thing to start with is to Identity all the different multitenant use cases with IS4. Some are obvious, but I suspect there are several less obvious ones.

[2020-05-08 15:58] AndrewTriesToCode commented on #259
hi @michaelkaboro

I don't think it would be that complicated--I'm not aware that I am using anything that is not in EF6. The bigger challenge is that I use MacOS so I can't easily try to do an EF6 version. I could install Windows 10 easily enough I guess. It's probably something not in the next release.

[2020-05-08 16:02] AndrewTriesToCode commented on #243
@Hammurabidoug I will have a 6.0.0-preview2 out this weekend where I am not relying on `HttpContextAccessor` I am curious to see if it will work for you in Blazor.

[2020-05-08 16:29] Hammurabidoug commented on #243
That's really good news. I'll check it out when you post it.

[2020-05-08 17:28] Hammurabidoug commented on #243
I pulled down your code from the release-6.0.0-dev branch. It looks good. I particularly like your addition of the ITenantInfo interface and the associated generics. You also opened up the setters on The MultiTenantContext properties.

For the middleware though, it would be nice if the storage of the context was abstracted out.  You could add an IContext parameter to the Invoke method, for instanc

[2020-05-09 05:53] ZedZipDev commented on #250
Hi Andrew,
I have created full functional Blazor Server app DataIsolationBlazorSample
https://github.com/Oleg26Dev/Finbuckle.MultiTenant/tree/release-6.0.0-dev/samples/ASP.NET%20Core%203/DataIsolationBlazorSample

The pull request is created to the release-6.0.0-dev.
Now it uses Finbuckle.MultiTenant project, later it can be replaced with NuGet package.
The Blazor sample project is added to sample

[2020-05-10 01:35] michaelkaboro commented on #259
Ok, I will work on this and send a pull request.

I don't think you would need to install Windows 10 though, for this, EF6 from version 6.4 is .net core compatible. Or is there something I am missing?

[2020-05-10 16:26] ZedZipDev commented on #243
Hi, Doug, I am trying to use your approach to read additional config parameters in my Blazor app+Finbuckle v6.
Could you please say me, why it does not work:
I get this piece of code
[code]
and replaced with this:
[code]

But the S3CustomOptions  is already null and I  the debug point is not reached.
What is incorrect?

[2020-05-10 17:49] ZedZipDev opened #261 "What is incorrect in WithPerTenantOptions in v6 vs v5?"
I am trying to use the  approach described in issue

"Get IOptions with a service class"
https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/243

to read additional config parameters in my Blazor app+Finbuckle v6.
Could you please say me, why it does not work:
I get this piece of code

services.AddBlazorMultiTenant().
WithStore<ConfigurationStore<DerivedTenantInfo>>(ServiceLifetime.Singleton

[2020-05-10 21:59] AndrewTriesToCode commented on #261
@Oleg26Dev
I'm looking into this. Thanks for reporting it.

[2020-05-10 22:02] AndrewTriesToCode commented on #259
@michaelkaboro  No, I didn't realize EF6 was not .Net Core compatible. I'd welcome a pull request. I wonder if we should add a new project e.g. Finbuckle.MultiTenant.EntityFramework6.

[2020-05-10 22:06] AndrewTriesToCode commented on #243
@Hammurabidoug
Yeah my next commit for preview2 is refactoring the middleware to use an `ITenantResolver` that will be agnostic to ASP.NET. Should work well for Blazor or hosted service situations.

[2020-05-11 03:24] AndrewTriesToCode commented on #261
Do you have a GitHub project I can look at?

Generally with per tenant options you would use the tenant information to modify the options -- looks like you have it the other way around here.

[2020-05-11 03:25] AndrewTriesToCode commented on #253
Preview2 update - it's taking longer than I thought. I am refactoring the middleware code and it is taking longer than I thought to do it right.

[2020-05-11 05:53] ZedZipDev commented on #261
I need to read some additional tenant specific settings like Connection string.
I have tried to build my project using approach suggested by Doug in this sample
https://github.com/Hammurabidoug/Finbuckle.MultiTenant/tree/master/samples/ASP.NET%20Core%203/BlazorSample

But he has the additional project in the Finbuckle and extension.
Andrew, may be v6 allows to do the same but simpler?
I mean: to c

[2020-05-11 09:32] gurdeepsira opened #262 "AWS Cognito"
Hi,
I am just exploring Finbuckle and it looks good.

This is not an issue but more a request for help. My multi-tenant app is using AWS Cognito. What needs to be done in Finbuckle to work with this? Is it possible to see any worked examples?

Thanks!

[2020-05-12 15:36] Hammurabidoug opened #263 "Have MultiTenantContext implement IMultiTenantContext in release-6.0.0-dev"
I am currently referencing the project files versus NuGet for the release-6.0.0-dev because I need the MultiTenantContext<TTenantInfo> to implement an IMultiTenantContext<TTenantInfo> interface in order to support testing mocks and alternate implementations of the context. I request switching references from a concrete class to an interface.

[2020-05-13 03:17] AndrewTriesToCode commented on #263
Hi I will plan to add that in. Out of curiosity what sort of alternative implementations do you use?

[2020-05-13 13:38] Hammurabidoug commented on #263
I only have different (Blazor-specific) implementations of the middleware and the accessor, so, for me, an IMultiTenantContext interface would be helpful for supporting unit testing mocks.

`

        [Fact]
        public void SetWithPerTenantOptionsDerivedTenantInfo()
        {
            // Arrange
            var expectedString = Guid.NewGuid().ToString();
            var expectedUri = new Ur

[2020-05-14 10:54] win32nipuh commented on #248
Hi Andrew,
I'm still wandering in the dark :-)
Ok, I can create my own class implements IMultiTenantDbContext, including ConnectionString and S3 Connection parameters. Ok, what is the correct ConfigureServices in this case?
Does a sample of code exists how to do it?

[2020-05-14 16:33] AndrewTriesToCode commented on #261
I figured out the problem and will have this fixed in preview2 out today or tomorrow.

[2020-05-14 16:34] AndrewTriesToCode commented on #262
hi @gurdeepsira

I'm not to familiar with Cognito. Is there a .Net Core code sample you can point me to that will give me an idea of where this library might be helpful?

[2020-05-14 16:36] AndrewTriesToCode commented on #248
hi @win32nipuh are you using the preview for version 6? I realize that in version 5 in the DbContext you can't get the `TenantInfo` directly, but in V6 I changed that so if you have a custom TenantInfo with extra properties like yours, in the db context configuration method you can access the `TenantInfo` and use those properties however you want.

[2020-05-14 17:13] AndrewTriesToCode commented on #253
Just uploaded preview2 to Nuget.

- Refactor tenant resolution logic into ITenantResolver.
- Mulitple strategies and stores can be registered.
  - They are run in order registered.
  - Multiple of the same type can be registered (mainly useful for DelegateStrategy)
  - The first strategy / store combo to return a TenantInfo is used.
- Refactors the middleware to use an ITenantResolver.
- Added IMu

[2020-05-14 17:14] AndrewTriesToCode commented on #263
@Hammurabidoug I just uploaded preview2 which has `IMultiTenantContext<TTenantInfo>`

[2020-05-14 17:14] AndrewTriesToCode commented on #261
@Oleg26Dev I just uploaded preview2 to Nuget -- this issue should be fixed.

[2020-05-14 17:15] AndrewTriesToCode commented on #258
@Oleg26Dev Hello again! Preview2 should fix this.

[2020-05-15 02:52] ElChepos opened #265 "[Question] Example for API."
Good job on your work ! Really nice project.

I have read all the docs and check the samples but can't find any doc on how to use the package with an API. On the API side, i have implanted the Context to store the Tenants Info with EF Core. Also I have a controller that returns the tenants’ info like your HTTPRemoteExample so the front end can call it.

The app consists of a DB for all the Tenants

[2020-05-15 07:59] win32nipuh commented on #248
Great, thank you.
Will try.
Btw, it will be great to test some examples to see "How to". Did you add/modify any samples?What about the doc about how to use this approach?

[2020-05-15 08:46] win32nipuh commented on #248
How to edit these functions to make they working?
This way I receive the syntax error. I see something is incorrect.

[code]

[2020-05-15 13:59] win32nipuh commented on #248
Hi Andrew, may be it is simpler:
could you please show the piece of code how to use the MultiTenantDbContext and how to  use TenantInfo in DBContext directly on the DataIsolationSample?
Thanx!

[2020-05-15 15:40] AndrewTriesToCode commented on #265
hi @jptoros

Yeah I need to get a good API sample up. Let me see if I understand your app correctly:

Is an API that is using the EFCoreStore for the multitenant store. What strategy are you using to determine the tenant?

And then in the API controllers you make some database calls, and you want it so that it connects to a different database depending on the tenant.

Is that close?

[2020-05-15 15:41] AndrewTriesToCode commented on #248
hi @win32nipuh I will take a closer look today and try to give you a better response

[2020-05-15 15:58] ElChepos commented on #265
Hey @AndrewTriesToCode,

you got it all right !

thank for the fast feedback. I will gladly help you with the creation of a sample if I can get it working.

For now what i have archived since yesterday night is
[code]
The first Context is the data of the app. Since depending on each tenant the connection string will change i don't set it in the Startup. For the TenantsContext which is the EFCoreSt

[2020-05-15 20:59] AndrewTriesToCode commented on #265
Hi, it looks like you got a lot working already. I'll try to address your questions, but in order to help I actually have to ask some more questions,

`WithRemoteAuthentication` takes effect when Auth0 is posting back to your app after the user has logged in. It shouldn't have any effect on app start because you haven't redirected the user to Auth0 yet. Question: do you want to determine the tenan

[2020-05-15 21:08] AndrewTriesToCode commented on #248
@win32nipuh I don't have updated docs yet but I think I can help you out.

On the data isolation sample I am using `TenantInfo`, but lets assume you have a different `ITenantInfo` called `MyCustomTenantInfo` with extra properties on it such as `ConnectionString2`, `AlternateConnectionString`, or whatever.

Then in your db context `OnConfiguring` you can access these properties and use them however

[2020-05-15 22:35] ElChepos commented on #265
Second case, I want everybody to go by the Auth0 Login page and with the token returned from Auth0 I will know which Tenant I should redirect to.

Strange here, I have tried your suggestion, but it still crash here. I do have the .WithFallbackStrategy("demo"); and the connectionstring of demo is set. But when the application run and arrive in the OnConfiguring of the AppContext I have a null refer

[2020-05-16 08:44] michaelkaboro commented on #259
EF6 v6.3 onwards is compatible with .net Core. Let me work on the EF6 version and do a pull request.

[2020-05-16 14:13] ZedZipDev commented on #248
Hi Andrew, it helps but partially ;-)
I use your OnConfiguring sample. In my case all additional parameters are null.

There is my derived tenant class
[code]

There is my code in the ConfigureServices()
...
[code]

Could you please give a piece of code how to correctly derive my own custom class instead of TenantInfo  which can have additional config parameters besides ConnectionString?
and how t

[2020-05-16 15:09] AndrewTriesToCode commented on #259
Thanks @michaelkaboro

Do me a favor and submit the pull request against the 6.0 dev branch. Also please set it up as a new Project in the solution, similar to the EFCore one. Hopefully not many changes are needed and the tests can all be carried over!

[2020-05-16 16:15] AndrewTriesToCode commented on #248
@Oleg26Dev Normally the derived `TenantInfo` would implement `ITenantInfo` but you are implementing `IMultiTenantDbContext`. Are you purposefully trying to combine an EFCore database context and the `TenantInfo`?

A more typical setup would look like
[code]
Then if your EFCore database context in OnConfiguring you can access the Tenant S3 options like so:
[code]

As an aside,I still don't understa

[2020-05-16 17:34] ZedZipDev opened #266 "DataIsolationSample cannot be built in v6.0.0-preview2"
I have tried to build the sample DataIsolationSample

1.   <PackageReference Include="Finbuckle.MultiTenant" Version="6.0.0-preview1" /> - OK
2.  <PackageReference Include="Finbuckle.MultiTenant" Version="6.0.0-preview2" /> Error:

`

[2020-05-16 17:45] AndrewTriesToCode commented on #266
Thanks @Oleg26Dev Can you please post the csproj file here?

Please try `dotnet clean`, `dotnet restore --force`, and rebuild. Still get the issue?

[2020-05-17 05:36] ZedZipDev commented on #266
[code]

[2020-05-17 05:39] AndrewTriesToCode commented on #266
If you comment out the package reference and uncomment the project reference does it compile?

[2020-05-17 05:41] ZedZipDev commented on #266
sorry, my mistake, just will repeat
Now I cannot build the Multitenant from sources because by some reasons it has code used namespaces from my other test project:

[code]

[2020-05-17 06:05] ZedZipDev commented on #266
Ok, it works.
I have cloned GIT repository to clear space, it works with project and using NuGet package too.
Also, as you wrote:

and rebuild

But again my recent question: how to get additional config parameters like ConnectionString,ConnectionString2,  S3/Minio connection parameters?

[2020-05-17 06:59] ZedZipDev commented on #258
Yes, the Preview2 is better. Thanx.

[2020-05-17 06:59] #258 closed, assigned to nobody

[2020-05-17 09:49] ZedZipDev commented on #248
Ok, you are right.
I am developing a Blazor app.
Each Tenant works with database and with a documents(files) storage.
They are independent.
E.g.

Tenant(i) works with his own database and file storage
         ->DatabaseContext ->Databse(i)
         ->S3FileService->File storage(i) (S3 or MinIO)

You can check the https://min.io/product/overview, the MinIO is compatible with AWS S3.

To connect to

[2020-05-17 16:28] #185 closed, assigned to nobody

[2020-05-19 08:56] win32nipuh commented on #248
Hi Andrew,
I do not see the  ConnectionString2, AlternateConnectionString in the myTenantInfo.
They should be defined. Can you please show the myTenantInfo for this sample? And how lokks ConfigureServices to use this myTenantInfo ?
How these strings read from appsettings.json?

[2020-05-19 16:46] AndrewTriesToCode commented on #248
hi @win32nipuh  and @Oleg26Dev I'm doing my best to help -- sorry for any confusion. It seems that there are two different discussions going on.

@win32nipuh can you please post a new issue with your specific situation and details?

@Oleg26Dev thanks for that detail. I think I understand now. It looks like you are accessing the app configuration directly instead of using the [Options](https://docs

[2020-05-19 18:15] ZedZipDev commented on #248
Andrew, thank you very much. I'll try it.
By the way:
Can I use object S3Options in the class?

public class MyTenatInfo : ITenantInfo
{
  // Normal properties:
  public string Id { get; set; }
  ...

  // Custom S3 tenant-specific properties that will "override" the S3 options:
  // I'm not sure which S3 settings you need to change per tenant so this is just an example.

 // public string S3Servi

[2020-05-19 19:21] ZedZipDev commented on #248
And here :
// and also in ConfigureServices use WithPerTenantOptions to have the options adjusted per tenant:
services.AddMultiTenant<MyTenantInfo>()...WithPerTenantOptions<S3Options>((tenantInfo, options) =>
{
  //options.ServiceURL = tenantInfo.S3ServiceUrl;// instead of this
    tenantInfo.S3ServiceUrl=options.ServiceURL;.//<-------?
});

[2020-05-19 23:18] AndrewTriesToCode commented on #248
Yes, you would need to make sure the json where you have the tenant details matches accordingly. It would need a nested object named S3Options with internal values for the properties of S3Options, per tenant.

However in `WithPerTenantOptions` you would still need to adjust the option 1 property at a time:
[code]

This won't work because you aren't changing the `option` at all, so in the S3 servic

[2020-05-20 10:30] ZedZipDev commented on #248
Hi Andrew, I moved forward using your decription. Thank you.
Yet another small problem appears:
That is my class:

[code]
Here the ti is null and naturally I have an error
System.InvalidOperationException: No database provider has been configured for this DbContext. A provider can be configured by overriding the DbContext.OnConfiguring method or by using AddDbContext on the application service pro

[2020-05-20 13:15] ZedZipDev opened #268 "Typo in the documentation"
There
https://www.finbuckle.com/MultiTenant/Docs/EFCore#deriving-from-multitenantdbcontext
need to remove ';' because it gives syntax error in the code

[code]

[2020-05-20 15:25] mikeandersun commented on #253
Please consider caching the `TenantInfo`.

[2020-05-20 16:18] ElChepos commented on #265
Hey @AndrewTriesToCode  one more questions that i'm not finding answer.

I'm trying to load AppConfiguration depending on the tenant in my Program.cs file.
I have 3 App Config with different features enables in them.
I have added to TenantInfo a new field named "AppTier" which can be "Gold, Silver'Bronze' depending on that value, I want to change the AppConfig that is loaded.

How should I proceed

[2020-05-20 23:43] AndrewTriesToCode commented on #253
hi @mikeandersun

Can you give me some more detail on what you have in mind? In the current build the tenant info is created once per request and reused for subsequent accesses during the request. I'm also planning a few things that will also help performance:

-  a session based strategy that will offer low cost tenant resolution on further requests after an initial request uses a more expensive

[2020-05-21 03:08] AndrewTriesToCode commented on #188
So I'm trying to learn Blazor to start thinking about the best way to support it. In a regular web app each request is a natural scope boundary to apply the tenant logic, and certain things are cached such as per-tenant options across requests to improve performance.

In Blazor I struggle to see such a natural scope boundary. I don't (yet) see a "pipeline" where it makes sense to inject logic arou

[2020-05-21 03:40] AndrewTriesToCode commented on #268
Thanks @Oleg26Dev

With v6 I've got a lot of documentation updating to do. Helping me with the typos is much appreciated.

[2020-05-21 03:41] AndrewTriesToCode commented on #268
If you want to please go ahead and submit a PR for any types you find. They should be quick and easy to merge into the dev-v6.0.0 branch

[2020-05-21 04:01] AndrewTriesToCode commented on #265
Hello!

**Auth0**
If you are sending everyone to Auth0 and using a token value to redirect to a tenant page then no need for `WithRemoteAuthentication`. Just stick to the strategy that matches your redirect (host, base path, route, etc...) I need to update the docs on when to use that.

**EF Core error**
Is it possible the app is trying to use the db context before the tenant is set? Like maybe mi

[2020-05-21 04:38] AndrewTriesToCode commented on #265
I think this will be something useful: [feature filters](https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-feature-filters-aspnet-core)

I can envision a feature filter that checks the current tenant info for a tier property like gold, silver, bronze. With v6 of this library you can define your own TenantInfo class so you could easily add a Tier property. In V5 and earlier you c

[2020-05-21 12:00] ZedZipDev commented on #268
Ок, done, I have create a pull-request.
Also, I have yet some other notes about typos and about some classes using.
Andrew, by the way, I have detected this trying to resolve my problem with DbContext.
Please take a look at this topic :
https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/248

[2020-05-22 16:47] AndrewTriesToCode commented on #248
@Oleg26Dev when you request a page and get the error what is the URL of the request?

Also can you show the controller or page code?

[2020-05-23 00:09] AndrewTriesToCode commented on #248
@Oleg26Dev thanks for sending me your project. I loaded it up and it had some compilation errors, but once I got it running I think the issue is that you have the host strategy in place. If you plug in static strategy instead of host strategy (just as a test) does the correct tenant load?

Do you have entries in your hosts file for the subdomain if you want to use host strategy on your own machine

[2020-05-23 06:51] ZedZipDev commented on #248
Thnx,
I am going to use host strategy in my real app.
To test host strategy I use DNS like xip.io
https://megacorp.127.0.0.1.xip.io:5001
https://finbuckle.127.0.0.1.xip.io:5001
https://initech.127.0.0.1.xip.io:5001
It is more easy and does not require  any editing of the hosts file.

For example: I run VS, it runs Chrome by default: https://localhost:5001
I run Opera with the query https://megacor

[2020-05-23 13:37] ZedZipDev commented on #248
I have made the test as you wrote:
1. The hosts file contains
127.0.0.1 finbuckle

2.  I use Static strategy and query : https://finbuckle:5001

[code]
3.  I use this context class:
[code]
All as I described before

[2020-05-23 19:55] AndrewTriesToCode commented on #248
@Oleg26Dev  I have tracked the problem down to how I cached the tenant and how Blazor handles scoped services. I should have a preview3 out tonight or tomorrow.

[2020-05-24 06:35] ZedZipDev commented on #248
@AndrewTriesToCode  Thank you!!!!
 I am waiting

[2020-05-24 17:20] ElChepos commented on #265
@AndrewTriesToCode  work #1 for the feature filters good find !

Gonna try to put up a sample soon for others peoples.

Best,

[2020-05-25 06:51] AndrewTriesToCode commented on #253
Just uploaded preview3:

**Preview 3 notes**
- Better Blazor support
  - `UseMultiTenant` once again requires `TTenantInfo` generic parameter (because reasons)
- Refactored `InMemoryStore` to use `InMemoryStoreOptions` which allow for simpler configuration.
  - `WithInMemoryStore` overload takes and acting to configure the options. The options specify case sensitivity and the seeded tenants in the

[2020-05-25 12:04] ZedZipDev commented on #248
Hi Andrew, thanx!
I have replaced the NuGet preview2 with the latest preview3 and it seems the app works fine,
e.g.
[code]

I will test it yet in details but it works.

[2020-05-25 12:14] ElChepos commented on #265
@AndrewTriesToCode is there a way to get all the system Tenants with the store ?

[2020-05-25 12:14] ZedZipDev opened #274 "How to retrieve the current tenant in the v6 (preview3)?"
I use the helper class to retrieve the current tenant, its name and
some of tenant-specific options.
I use HttpContext as it was recommended earlier.
The question is:
is this correct way or I need to use some other new approach?
That is my class:
[code]

In a razor page:
[code]

[2020-05-25 14:57] AndrewTriesToCode commented on #274
You can use the ‘HttpContext’ extension method.

Internally it just uses ‘IMultiTenantContextAccesor<TTenantInfo>‘ which you could use directly instead of ‘HttpContext’ and ‘IHttpContextAccessor’.

Also ‘MultiTentantContext<TTenantInfo>’ Can be injected directly.

[2020-05-25 15:10] AndrewTriesToCode commented on #265
There isn’t a single universal way... it depends on each store. What type are you using? Maybe it would be smart to add a way to do so.

[2020-05-25 15:19] ElChepos commented on #265
I use EFCore. I know i can query the DB. Was just asking if for we would have a extension for it within the store. Something like await _store.TryGetAllAsync();

`[HttpGet("{identifier}")]
        public async Task<ActionResult<Tenant>> Get(string identifier)
        {
            _logger.LogInformation("Tenants endpoint called with identifier \"{identifier}\".", identifier);

            var tena

[2020-05-25 15:23] AndrewTriesToCode commented on #265
Yeah that would be a good way to go. Also I think maybe a way to pull all the tenants across all the stores.

[2020-05-26 07:52] mingyangzhu opened #275 "implement dapper stores"
hi @AndrewTriesToCode,can implement dapper stores.dapper is a very popular lite orm.

[2020-05-27 01:41] KrishManohar opened #276 "Question API"
I am looking for a solution for multi tenant for my API.

What I am trying to accomplish is:

1. Login Database (Single Database with all users, and tenant information / connection string)
2. After User Login an JWT token is generated, I want to put a unique tenant id in there as well.
3. For Each Request the API would send the tenant id via JWT and there in hand lookup the tenant info for connect

[2020-05-28 01:13] AndrewTriesToCode commented on #276
hi @KrishManohar, here are some thoughts

1. This makes perfect sense. No need for the login database to also be the multitenant store, but no harm if it also is.
2. Seems straight forward.
3. For this you'd want to either create a new implementation of `IMultiTenantStrategy` or use the delegate strategy. The logic would just check the JWT for the tenant and return it as the identifier--the middle

[2020-05-28 01:15] AndrewTriesToCode commented on #275
hi @mingyangzhu
It might be possible. I'll take a look. Tenant resolution and per-tenant options will work with any other code -- a multitenant "context" for dapper (similar to for EFCore) might be doable.

[2020-05-28 02:19] mingyangzhu commented on #275
it`s great！！ tks for your reply.

[2020-05-28 19:18] KrishManohar commented on #276
@AndrewTriesToCode Thank you for your response. I will try and see how it goes.
Thanks

[2020-05-29 02:30] KrishManohar commented on #276
Hitting a little road block...

Is there and example of EF Store with Data Isolation?

Basically 1 db context to  lookup identity &  and allow  login to identity users.
I will  pass the Tenant Info  via JWT and it  will get  pass back when the tenant needs data.

I  might need to take a  break  on this because it might be simple, and I am overthinking it.

[2020-05-29 14:06] AndrewTriesToCode commented on #276
hi @KrishManohar
I don't have an example pf EF Store with Data Isolation, but I can try to put one together later today.

I'd recommend a separate Db Context for the EFCore multitenant store and a separate one for your main application logic (and probably even a separate one for Identity). They can all work as a single Db Context but it becomes difficult to manage when migrations from one are affe

[2020-05-29 14:07] AndrewTriesToCode commented on #276
If you have a repository with your project or a sample showing the problems you are hitting I'd be happy to take a look.

[2020-05-30 06:20] AndrewTriesToCode commented on #276
@KrishManohar I posted a modified `DataIsolationSample` [here](https://github.com/AndrewTriesToCode/Finbuckle.MultiTenant/tree/efcorestore-and-dateisolation/samples/ASP.NET%20Core%203/DataIsolationSample).

I'll probably clean this up and make it an official sample. I basically took the EFCoreStore from its sample and moved it into this sample. The main changes to the EFCoreStore sample dbcontext

[2020-05-30 22:52] ElChepos commented on #265
@AndrewTriesToCode is they a special way to redirect a user to xyz if not tenant is found ?

Example my app is web.testsaas.com if I user only enter that url can I redirect him to a specific url ?
Otherwise when they enter web.testsaas.com/tenantxyz it should work as usual.

Thx

[2020-05-31 11:59] ZedZipDev opened #277 "How to read the configuration from a separate file?"
Now the configuration is in the appsettings.json file in the section:
"Finbuckle:MultiTenant:Stores:ConfigurationStore"

Is it possible to use a separate file for the "Finbuckle:MultiTenant:Stores:ConfigurationStore"?

I pack my app to the Docker image and it may be useful to locate the config file in a mapped  folder to provide user possibility to edit the configuration.

I have made: moved the s

[2020-05-31 21:45] #237 closed, assigned to nobody

[2020-06-01 13:50] KrishManohar commented on #276
@AndrewTriesToCode perfect, thank you :)

[2020-06-02 19:50] Hammurabidoug opened #278 "6.0.0-preview3 IdentityDataIsolationSample throws except"
When attempting to build and run the IdentityDataIsolationSample using the 6.0.0-preview3 branch, the following exception is thrown:

This is causing all the other Identity classes that require injection of the ApplicationDbContext. The full Aggregate exception is:

The exception is thrown in the Program.Main method when the IHostBuilder.Build() method is called.

[2020-06-03 03:39] AndrewTriesToCode commented on #277
@Oleg26Dev you can use another file: see the general file configuration provider info here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#file-configuration-provider

In fact you can use any ASP.NET Core configuration provider or a custom one: database, environment variables, secret store... anything really.

[2020-06-03 03:41] AndrewTriesToCode commented on #277
Do you still get an error if you use `WithConfigurationStore()` instead of `WithStore<...>()`? Also can you post your `Program.cs` file where the host is configured?

[2020-06-03 03:44] AndrewTriesToCode commented on #278
@Hammurabidoug  Thanks for posting this. I'll take a look and make sure I get it working again.

[2020-06-03 04:26] AndrewTriesToCode commented on #278
OK I just updated that branch with the fix. I changed the layout view to tolerate a null multi tenant context and I changed the application db context to take `ITenantInfo` in the constructor rather than `TenantInfo`. Thanks again!

[2020-06-04 10:41] win32nipuh commented on #277
That is Program.cs
[code]

[2020-06-05 01:43] AndrewTriesToCode commented on #277
Hello @Oleg26Dev Thanks for the details. Two things:

1) The path to your json file should be `@".\Config\appsettings2.json"` (only a single leading dot) based on your folder configuration.

2) You create a config in `Main`, but that is a totally separate configuration from the one ASP.NET Core creates and uses. To add your json file to the built-in configuration call `ConfigureAppConfiguration` a

[2020-06-06 19:53] GioviQ opened #280 "MultiTenant entity primary key best practices"
With MultiTenant attribute or with method isMultiTenant a TenantId property is added to the entity without any changes to the primary key of the enity.

In some cases the primary keys are well know strings and there would be an entity per Tenant with the same key in the same db and that's not possible.

So, do I have to make PK + TenantId a new composite key by myself? Or is there something else i

[2020-06-07 00:18] AndrewTriesToCode commented on #280
@GioviQ

Currently there isn't a way to handle it for you in the library so yeah, you have to do it yourself. I realized when I did this for the Identity entity types that a general approach would be much better. Maybe something like 'IsMultiTenant(bool adjustIndex = false)`. Thanks for the suggestion!

[2020-06-07 07:06] GioviQ opened #281 "Avoiding null TenantInfo injection"
In some cases, for example when appplication starts, in ApplicationDbContext a null TenantInfo is injected causing exception at some point.

In fact every Tenant framework should have a Master Tenant without the need to define a Fallback strategy. A master tenant instance of TenantInfo should be a mandatory parameter of every tenant framework.

My proposal:

 app.UseMultiTenant(new TenantInfo() {

[2020-06-10 10:41] joashTheCoder commented on #251
Hi @AndrewTriesToCode
I added that also in my program.cs but for some reason the connection string is still null.

public static void Main(string[] args)
        {
            var host = CreateHostBuilder(args).Build();

            var env = host.Services.GetService<IWebHostEnvironment>();
            if (env.EnvironmentName == "Development")
            {
                using (var db = new Data

[2020-06-10 14:59] AndrewTriesToCode commented on #281
hi @GioviQ I'm going to mark this idea as a potential future enhancemnet. I've seen a few places where you explicitly don't want a default tenant so I'd have to think about this.

Not sure if you are using the preview versions, but in them I have removed the fallback strategy and the "replacement" is just to register the static strategy last (you can register multiple strategies and they run in or

[2020-06-10 15:18] GioviQ commented on #281
I used host strategy in https://github.com/enkodellc/blazorboilerplate/tree/development and a master tenant is mandatory, because it is the tenant where you can add other tenants and it is not binded to an hostname.

At the moment I put default in https://github.com/enkodellc/blazorboilerplate/blob/development/src/Server/BlazorBoilerplate.Storage/ApplicationDbContext.cs#L35

I am currently using t

[2020-06-10 16:28] AndrewTriesToCode commented on #251
I'll take a closer look -- do you have a repo I can clone to see the project?

Also are you doing the migration from the CLI when you get the error?

[2020-06-10 16:42] bobskigit opened #283 "Using RavenDB as store"
Has anyone experience of using this with RavenDB as the store?

[2020-06-10 17:00] AndrewTriesToCode commented on #283
@bobskigit
Hi Bob, I'm not aware of anythone using RavenDb as a store. If there is a EFCore provider for RavenDb then the EFCoreStore will **probably** work as-is. Otherwise it shouldn't be too difficult to implement `IMultiTenantStore` with the specifics needed to create/read/update/delete with RavenDb.

If you try it and run into any problems please let me know.

[2020-06-11 01:45] AndrewTriesToCode commented on #253
Preview4 is up. The new packaging scheme will definitely require you to adjust your nuget references as outlined below.

**Preview 4 notes**
- Added overload of `AddMultiTenant` which exposes a `MultiTenantOptions` instance in which you can add to a list of strings of ignored identifiers.
- Change nuget package scheme.
  - Projects should reference the specific package(s) needed
    - class librar

[2020-06-11 03:22] joashTheCoder commented on #251
Hi @AndrewTriesToCode, thank you for replying.
this is my repo: https://github.com/joashTheCoder/AnteWebAPI

yes, i'm doing the migration from the CLI. this is what i type : dotnet ef migrations add InitialCreate -p Persistence/ -s API/

[2020-06-11 16:25] AndrewTriesToCode commented on #281
I'm glad you got the migration to work. The object not set error is a little concerning so I'm going to mark this as a bug to look into.

[2020-06-11 16:39] AndrewTriesToCode commented on #251
hi @joashTheCoder , cool project you have going on there. I like your organization.

I see now that you want your dbcontext in a different project than your API and you also figured out the startup and project parameters to `dotnet ef`.

Here is what I suggest:
- remove the automigration code from `program.cs` in your api project -- I don't think you want to trigger migrations when you start the A

[2020-06-12 06:29] bobskigit commented on #283
No worries, I've implemented it using IMultiTenantStore .

Well designed and documented library  BTW, looking forward to next version

[2020-06-12 14:52] AndrewTriesToCode commented on #283
Excellent. FYI In the next version there will be a change to `IMultiTenantStore` to support custom `TenantInfo` classes. I doubt it will be major change to your implementation.

[2020-06-13 04:46] jean-jagnow opened #287 "I need to"
You can specify {__tenant __ =} in the route mapping for a spa on a route determined by
app.Map ("/{__ tenant __ =}/my-spa/", x => ...
Thus?

expected result : https://localhost:5001/tenant-1/my-spa/#

[2020-06-14 23:49] joashTheCoder commented on #251
HI @AndrewTriesToCode,
it works! thank you!

[2020-06-16 14:40] hbermani opened #288 "Finbuckle implementation on Worker Service (.Net Core 3.1)"
Can I just start by saying I absolutely love this library, I use it for one of my APIs and it works a treat.

I am now tying to configure a worker service as it's own project and I want it to connect to different SQL Server databases using Finbuckle and EF Core. I have configured everything to the best of what I can, but I note that as I don't have a Startup file and there is no middleware as I am

[2020-06-16 15:09] hbermani commented on #251
Just passing by and noticed this thread.... I wonder if you considered using DevOps pipeline and dacpac files to manage database migrations across environments.

[2020-06-16 15:21] AndrewTriesToCode commented on #288
hi @hbermani
Thanks, I'm glad to hear you are finding the library helpful. Spread the word :)

It is possible to use outside of ASP.NET Core... I need to update the docs for this and provide a sample.

First, I recommend using the preview nuget release for version 6. It requires a few changes (defining your `TenatnInfo` class) but it specifically improves this scenario. Check the sticky thread for

[2020-06-16 15:23] hbermani commented on #288
Oooo exciting.... I'll crack on and try and implement it, will let you know how it goes. :-p

Ps. Thanks for the super-fast response!

[2020-06-16 15:24] AndrewTriesToCode commented on #287
@jean-jagnow  sorry for the late reply.

I'm not sure I understand what you are asking. What is the observed result when you try to do this? I honestly don't have a lot of personal experience using with SPAs, but I'd like to make sure I can help you.

Generally I use the tag helper and I just set the tag attribute `asp-route-__tenant__=my_tenant` and the link generation works ok.

[2020-06-16 15:37] AndrewTriesToCode commented on #251
@hbermani I haven't looked into that, thanks for the recommendation.

[2020-06-17 12:02] hbermani commented on #288
Hi Andrew, a bit stuck here and would welcome your help.

I am getting this exception when the application attempts to execute Program.cs , CreateHostBuilder(args).Build().Run()...
"No constructor for type 'WorkflowService.EFContext.WorkflowContext' can be instantiated using services from the service container and default values."

I think what is happening here is it's failing at AddDbContext, pr

[2020-06-17 15:16] hbermani commented on #288
@AndrewTriesToCode
I replaced services.AddDbContext<WorkflowContext>() with services.AddScoped<WorkflowContext>(s => new WorkflowContext(new CustomTenantInfo())); and now it's starting up and progressing to the worker service.

Now I note that the ScopedMultiTenancyResolver is not being passed in DI Engine.

[2020-06-17 15:47] AndrewTriesToCode commented on #288
Hi,
I see you got the DB context working -- the issue there was that DI can only pass `ITenantInfo` to the db context ctor (at this time). So simply changing the constructor to take that should fix it that issue, Your workaround in the above post will not send the tenant info that was resolved with the library.

A few notes:

You shouldn't (normally) need to define your own `IMultiTenatContext` or

[2020-06-17 17:26] hbermani commented on #288
Hi Andrew, turned out I complicated this for myself and a good friend managed to have a look and give me a helping hand.

I just needed to pass a TTenantInfo instance directly to the dbcontext constructor and execute it from there.

We(my friend) also managed to get it working with dependency injection... I have provided below few code snippets should someone come across this in the future.

-Conf

[2020-06-17 17:27] hbermani commented on #288
Thank you for all the help, I'll close this now.
Whoever is reading this, please get in touch if you face this obstacle with your project and need help.
H.

[2020-06-17 17:27] #288 closed, assigned to nobody

[2020-06-20 04:26] Hammurabidoug opened #289 "Authentication with resolver"
The code:
[code]

should be
[code]

to go along with how you are getting the context elsewhere. This will be needed for anyone implementing authentication in Blazor.

[2020-06-23 03:44] ashin-s opened #290 "IdentityServer4 - MultiTenancy & Fallback Strategy"
Hi..I've been trying to integrate Finbuckle Mutitenancy with IdentityServer4. When a client requests the connect/authorize endpoint of IdentityServer (without the tenant identifier in the route URL), the login URL, that the identity server redirects to, misses the tenant identifier. The custom multitenant strategy gets executed successfully and sets the tenantInfo in the expected way:
http://local

[2020-06-23 21:46] AndrewTriesToCode commented on #289
@Hammurabidoug  Thanks for pointing this out. Are you interested in submitting a PR for this?

[2020-06-23 21:52] AndrewTriesToCode commented on #290
hi @ashin-s  thanks for the detailed question. I'm taking a look at it now.

I suspect it might be how Identiy Server is building the login url to redirect-- They might not be checking the `CookieAuthenticationOptions` to see what the URL should be. I've also run into problems with Identity Sever and the route strategy if you want a separate OATH authority for each tenant -- it is (hard?) coded to

[2020-06-23 22:23] AndrewTriesToCode commented on #290
I'm going to dig into this because I need to write some documentation on this. Is your project based off [this approach](https://identityserver4.readthedocs.io/en/latest/quickstarts/6_aspnet_identity.html) but with Finbuckle.MultiTenant added in?

[2020-06-24 00:20] ashin-s commented on #290
Hi @AndrewTriesToCode thanks for responding! You might be right about the cookie authentication options, but I was wondering how it would work with the fallback strategy in place - I even tried to extend the FallbackStrategy to use my custom strategy but did not help! Appreciate a lot for looking into this and you're right, my project is based off the approach that you have mentioned. Thanks in ad

[2020-06-24 05:19] AndrewTriesToCode commented on #290
@ashin-s

In looking further into this I think I can simplify your setup. Idenity Server 4 already supports sending the tenant via acr_values and exposes it in the `AuthorizationContext` `Tenant` property.

To set the acr_value hook into the `OnRedirectToIdentityProvider` and set `AcrValues` to `tenant:my_tenant_identifier` like this:
[code]

Then in your custom strategy you can simplify it to thi

[2020-06-24 08:26] bobskigit opened #291 "Any timeline for v6 preview 5 or release"
Any ideas on when v6 will be ready, preview 4 doesn't work for me.

get error on HttpContext.GetMultiTenantContext<TenantInfo>()?.TenantInfo; says GetMultiTenantContext does not exist

[2020-06-24 10:23] ashin-s commented on #290
Thanks for the suggestion! I have followed it but it does not seem to fix the issue..However, there is a slight difference in the way I setup the project (contrary to what I told you earlier, sorry about that!) In fact, I did not use the Quickstart template of Identity Server4. These are the steps that I have followed:

1. Created Asp.Net Core Web Application (netcore 3.1) using Visual Studio 2019

[2020-06-24 17:41] AndrewTriesToCode commented on #291
@bobskigit Hi Bob. I'm actively working on it. At this point just cleaning things up. I'll probably have another preview up this week that is very close to the final thing.

For that error, you'll need to use `GetMultiTenantContenxt<TenantInfo>()` (substitute in your custom tenant info type if you are using one. Let me know if that doesn't get your past the error.

[2020-06-29 04:11] #246 closed, assigned to nobody

[2020-06-29 20:04] alexjamesbrown opened #293 "AuthenticationScheme per tenant using the MultiTenantAuthenticationSchemeProvider"
Somewhat similar to https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/104

    services.AddMultiTenant()
                .WithStaticStrategy("my-tenant")
                .WithRemoteAuthentication()
                .WithPerTenantOptions<AuthenticationOptions>((options, tenantInfo) =>
                {
                    if (tenantInfo.Items.TryGetValue("AuthenticationSchemes", out var auth

[2020-06-30 15:54] AndrewTriesToCode commented on #291
Update: I expect to push preview 5 out today

[2020-06-30 15:58] AndrewTriesToCode commented on #293
hi @alexjamesbrown, I apologize for the slow reply

The main reason for this class to to change how the Microsoft implementation handled options. It internally cached the options which means for a new request under a different tenant it wasn't using the correct per-tenant options--it was using the cached ones.

Otherwise it is the same as the standard `AuthenticationSchemeProvider`. I'd suggest st

[2020-06-30 18:16] AndrewTriesToCode commented on #290
@ashin-s

Just wanted you to know I'm still looking at this. I did find a bug that might be related. I will put out a new preview release later today and I plan to test for the issue then.

[2020-06-30 18:20] AndrewTriesToCode commented on #289
@Hammurabidoug
after looking at it a little longer I'm not so sure this is a good idea. Using the resolver here will cause the strategies and stores to all run again when they should have already done so. I believe the `HttpContext.GetMultiTenantContext<TTenantInfo>()` method should work just fine in Blazor user cases. I'm not 100% though--can you give me some more detail?

If `HttpContext` isn't

[2020-07-01 03:50] AndrewTriesToCode commented on #253
Just uploaded preview 5. I don't expect any feature changes from this point. Just fixes, samples, and doc updates. Release 6 itself will still need updated docs before official release.

*Preview 5 Notes*:
- No longer need to pass `TenantInfo` type to `UseMultiTenant()`

- Added `WithPerTenantAuthentication()`

- Updated related docs and samples
- Fixed a few bugs

[2020-07-01 08:47] bobskigit commented on #291
Installed preview 5 works like a charm.

Thanks

[2020-07-01 13:33] AndrewTriesToCode commented on #291
Excellent. UseMultiTenant working for you as well?

[2020-07-01 13:38] bobskigit commented on #291
Yes.

Just going to apply the ITenantInfo to our tenant class to see if I can get that working as well. This is should make the implementation in our setup easier.

[2020-07-01 13:46] AndrewTriesToCode commented on #291
Oops i meant GetMultiTentantContext not UseMultiTenant. Anyway, glad it is working for you. Let me know if you run into any other issues.

[2020-07-02 04:12] ashin-s commented on #290
Thanks @AndrewTriesToCode for working on this. I'm looking forward to it!

[2020-07-02 09:55] win32nipuh opened #296 "Problems after project updated to v6-preview5"
My code was working using preview3 but after the update to oreview5:

using Finbuckle.MultiTenant.EntityFrameworkCore; - does not exist, ok, I have removed it

but  this cannot be compiled because MultiTenantDbContext is unknown

[code]

How to fix the code (worked with preview 4)?

[2020-07-02 13:47] AndrewTriesToCode commented on #296
Ho @win32nipuh can you post your csproj file and your context class? Or email to me if you don’t want to post it?

[2020-07-02 13:49] win32nipuh commented on #296
Hi Andrew, ok, sent.

[2020-07-02 15:24] AndrewTriesToCode commented on #296
@win32nipuh in the project file you sent I don't see a package reference to `Finbuckle.MultiTenant.EntityFrameworkCore`

Also you'll need to update your Microsoft EF Core references to 3.1.4-- I should not require this in the final release.

[2020-07-06 09:56] win32nipuh commented on #296
Thanx, it fixed, now I see that there are few of Finbuckle packages.

[2020-07-06 22:18] PatrickBorkowicz opened #297 "Razor Pages anchor tag helper with route strategy"
This might be a duplicate of #49. I'm unable to get razor page links working correctly under the route strategy.

Here is my Startup.cs:

	public void ConfigureServices(IServiceCollection services)
	{
		...
		services.AddHttpContextAccessor();
		...
		services.AddMultiTenant()
			.WithStore<MultiTenantStore>(ServiceLifetime.Transient)
			.WithRouteStrategy();

		services.AddControllersWithViews()

[2020-07-07 06:18] AndrewTriesToCode commented on #297
hi @PatrickBorkowicz

Microsoft changed the behavior in ASP.NET Core 3 so that "ambient" route values are not preserved in link generation: only area, controller, and action are "automatic" in that sense.

Not to worry though, I have a work around. The Identity Data Isolation sample in the ASP.NET Core 3.1 samples folder has a class called `AmbientValueLinkGenerator` here:
[https://github.com/Finb

[2020-07-07 19:27] PatrickBorkowicz commented on #297
@AndrewTriesToCode You are a legend sir! That did the trick.

Apologies, I should have mentioned I was using .Net Core 3.1. Is there any value to my using the BasePathStrategy over RouteStrategy, assuming I only ever want the tenant identifier at the 'root' of the path? To give some context, we are redesigning an ASP.NET application that currently uses a custom subdomain/host strategy which is har

[2020-07-07 19:42] AndrewTriesToCode commented on #297
@PatrickBorkowicz  I'm glad it worked and that you find the library useful. Please keep it in mind if I ever figure out how to turn on sponsorships. I'm thinking of adding this ambient link generator as part of the standard setup when using the route strategy, or maybe as an option at least.

Regarding basepath vs routing -- if your route always puts the tenant as the base path there isn't much pr

[2020-07-07 20:11] #297 closed, assigned to nobody

[2020-07-09 04:23] AndrewTriesToCode commented on #290
@ashin-s

I found a few things.

First, I was wrong in my suggestion to use `IIdentityServerInteractionService` in your strategy-- is hasn't been setup yet because our middleware runs before IdentityServers.

Second, despite [this post](https://github.com/IdentityServer/IdentityServer4/issues/3726) IdentityServer is not respecting the cookie options login path. It is using the `IdentityServerOptio

[2020-07-10 05:22] PatrickBorkowicz commented on #297
I should have also mentioned that adding:
`services.DecorateService<LinkGenerator, AmbientValueLinkGenerator>(new List<string> { "__tenant__" });`
alone was not enough, as the Razor page links would be rendered with the tenant identifier as a query parameter instead of a route parameter. e.g:
`example.com/mypage?__tenant__=megacorp`

I also had to add `MultiTenantPageRouteModelConvention` to `.Add

[2020-07-10 13:09] #296 closed, assigned to nobody

[2020-07-10 13:12] win32nipuh opened #298 "The database provider attempted to register an implementation of the IRelationalTypeMappingSource"
I have installed the latest preview, my application is built OK.
It uses PostgreSQL and 3 tenants.
When I run the app I receive:
`'The database provider attempted to register an implementation of the IRelationalTypeMappingSource'`

What can it be? I understand that probably it is not Finbuckle error but any way: how to fix it?

[2020-07-10 17:36] ashin-s commented on #290
Thanks for the update, @AndrewTriesToCode! You're right, the IIdentityServerInterationService cannot be used - I have used a custom strategy to identify the tenant - available in the sample project I shared.

I took a look at the post - does that mean, we'd have to implement a custom cookie handler? At the moment, I have customized Identity Server to enable multi tenancy without using FinBuckle as

[2020-07-10 18:05] AndrewTriesToCode commented on #290
In your sample project I updated to the finbuckle release 6 preview. I think if you wanted to try a method not relying on the route it would work.

For the initial request to the authorize endpoint just check your tenant query param or the acr_values query param of present. Then at the login page the IIdentityServiceAuthenticationService approach will work. You’ll know the tenant without needing t

[2020-07-14 13:48] win32nipuh commented on #298
It is not FB problem, the reason is: EF Core versions mix, solved.

[2020-07-14 13:48] #298 closed, assigned to nobody

[2020-07-14 13:56] win32nipuh opened #300 "The column "TenantId" does not exist"
I use latest FB preview, EF 3.1.4 for PostgreSQL.
I am not sure what is the source of the problem but i receive the exception during query my Customers Set:
Column does not exist: i.e. I see the query

[code]

The matter is: the field "TenantId" was added (why) to the correct query, but it is not in the table and naturally PostgreSQL error.
Why the field "TenantId" is in the query?
How I can fix i

[2020-07-14 15:30] AndrewTriesToCode commented on #300
hi @win32nipuh
Can you post your `dbcontext` class as well as your customer entity class?

The "where" clause is coming from the global query filter Finbuckle.MultiTenant adds as a part of its core functionality--its how it isolates tenant data. If you don't want this behavior I can help you modify your context and entity class to not treat customers per-tenant.

[2020-07-14 17:44] ZedZipDev commented on #300
Hey Andrew, I see.
Ok, I will send the files.
As I understand it is necessary to have that field in each table in case of using one database for all tenants.
But I'd like to have separate databases.
Btw, probably you can add some configuration parameter: to add the Tenantid field or do not.

[2020-07-15 12:25] #257 closed, assigned to nobody

[2020-07-16 16:17] AndrewTriesToCode commented on #300
@win32nipuh

Based on your email I would recommend that your db context NOT derive from `MultiTenantDbContext`. It's main functionality is to support tenants sharing a database, but your use case is separate database per tenant.

In your case I recommend you inherit from the normal `DbContext', inject the tenant info into the constructor, and set the connection in `OnConfiguring` using the tenant

[2020-07-17 07:12] win32nipuh commented on #300
Ok, by the way:

The DataIsolationSample uses 3 separate databases for 3 tenants.
In fact: the field TenantId is not needed in the tables.
IMHO, this sample can be divided to 2 or some configuration parameter can be used etc, you know better:
1. one common database for each tenant, then TenantId is in each table as now, ok
2. separate databases for every tenant, then we do not need the TenantId. i

[2020-07-17 09:14] ashin-s commented on #290
Thanks @AndrewTriesToCode..Sorry for getting back to you a little late..Could you please share that sample project with me, otherwise, please let me know if I could get it working by just upgrading to release 6 preview. Like I said, the user agent issue with multi-tenant login is something I still need to address..

[2020-07-17 13:07] AndrewTriesToCode commented on #300
Hi, In the sample two of them should be sharing a single database and one should have it’s own. I’ll double check it today and maybe I can make it more clear. I think it might be clearer to have separate sample projects like you say but also to have the existing one-there are cases where you might have a mix of shared and separate databases.

[2020-07-17 15:52] jasonchester opened #301 "Support multiple identifiers for a tenant"
We have a mobile application which needs to retrieve tenant information in order to present the correct login experience.

The requirement from the business is to let the user supply their email address which will be compared against a list of email domains for a specific tenant. in order to achieve this I would like to be able to specify multiple identifiers which would map to a tenant.

[code]
I

[2020-07-17 21:40] AndrewTriesToCode commented on #301
Hi @jasonchester

I'm glad you figured out a working solution. I'm not sure if you saw it but the "SharedLoginSample" project does something similar. I agree this would be a good enhancement. Maybe something like "Tenant Aliases". I've pinned it to keep the issue from auto-closing.

Thanks for the suggestion!

[2020-07-17 23:42] PatrickBorkowicz opened #302 "WithPerTenantOptions OpenIdConnectOptions.Events not called"
Not sure if this is an issue or not, but going directly from the AuthenticationOptions sample, if I add the following:

[code]
The `OnRedirectToIdentityProvider` event handler is never called. It does work as expected if I add it directly to `services.AddAuthentication().AddOpenIdConnect()` but then I don't have access to the TenantInfo. Is the event handler being overridden somewhere upstream?

B

[2020-07-18 00:13] AndrewTriesToCode commented on #302
Hi I’d be happy to take a look. Do you have a github repo with your project I can look at, or can you post your StartupClass?

Also do any per tenant options work for you?

[2020-07-18 23:27] PatrickBorkowicz commented on #302
Hi @AndrewTriesToCode . I created a stripped down [sample project](https://github.com/PatrickBorkowicz/MultiTenantedIdentityServer) to isolate the issue. Annoyingly (although mercifully) the demo works without issue.

After comparing it to my main project I was able to get it to work as well, although I am not certain which tweak fixed it. I will have to look closer. At any rate this is not an iss

[2020-07-18 23:27] #302 closed, assigned to nobody

[2020-07-20 17:57] #262 closed, assigned to nobody

[2020-07-20 17:57] #263 closed, assigned to nobody

[2020-07-20 17:57] #261 closed, assigned to nobody

[2020-07-22 16:53] dlebee opened #303 "JWT Bearer with NET CORE 3.1"
Hello I am trying to configure JwtBearerOptions with the help of WithPerTenantOptions.

the delegate never seems to be called.

Do you have a working example where there would be a different authority per tenant?

[code]
I wish to accomplish this

![image](https://user-images.githubusercontent.com/36390643/88205317-93da6180-cc1a-11ea-8de5-b16d9ee92e98.png)

I could not find any samples in your git

[2020-07-22 18:06] AndrewTriesToCode commented on #303
hi @dlebee

I'm taking a look and will post back shortly.

[2020-07-22 18:59] dlebee commented on #303
@AndrewTriesToCode  Thank you.

[2020-07-22 23:03] AndrewTriesToCode commented on #303
@dlebee
If doesn't say it in the docs, but I think you will need to also use `WithRemoteAuthentication`.

Give that a try and let me know. That method will register a special override for the default authentication scheme options which need to work so that it knows to load the per-tenant JWT options...

By the way if you haven't check out the pinned issue about release 6. This specific thing is ch

[2020-07-23 02:55] dlebee commented on #303
@AndrewTriesToCode I tried that it did not seem to work, have you give it a try?

[2020-07-23 06:23] Hawxy commented on #253
@AndrewTriesToCode FYI the EFCoreStore is currently broken due to incompatible lifetimes between `IMultiTenantStore` and `ITenantResolver`. Trying to run the `EFCoreStoreSample` exposes the relevant problem.

[2020-07-23 08:35] #266 closed, assigned to nobody

[2020-07-23 15:28] AndrewTriesToCode commented on #303
@dlebee  I did confirm that it worked for me-- but I simplified your example somewhat. I changed the strategy to a simple static one and used a configuration store. And what made it actually work was `WithRemoteAuthentication`

I'd recommend you try that as well to get as simple a test as possible. I didn't see how your in-memory store is populated, but the per-tenant options won't fire unless an

[2020-07-23 15:32] AndrewTriesToCode commented on #253
@Hawxy Thanks for letting me know!

[2020-07-23 15:46] dlebee commented on #303
@AndrewTriesToCode I am not sure how it works the store, I though the delegate of tenant took care of resolving the tenant, is there a way to manage how tenantInfo are resolved without a store? just with a delegate and a custom logic?

If you don't mind uploading the sample somewhere it would be great.

[2020-07-23 17:28] AndrewTriesToCode commented on #303
@dlebee
Here's the basic explanation: the strategy's job is to find an "identifier" which in your case is a header value. It then uses the identifier to lookup the tenant in the store. In the example for the JWT options it kinda of skips over this detail--but the inmemory store needs to be populated with the tenants info. I actually would recommend the configuration store over the inmemory store s

[2020-07-23 18:16] dlebee commented on #303
@AndrewTriesToCode is there a way to resolve the tenant without a store, and more through lets say Service Registration?

Like ITenantResolver.ResolveTenantAsync(tenantId)

[2020-07-23 19:07] AndrewTriesToCode commented on #303
The middleware and the resolver both need a configured store to resolve the tenant.  This results in a `TenantInfo` object with more than just the identifier.

You could create a simple store that just returns a basis tenantIfo:

[code]

Then in your `ConfigureServices` method:
[code]

That would be a simple store that just sort of "echoes" the identifier from the strategy.

Release 6 allows for c

[2020-07-23 19:54] dlebee commented on #303
Thank you so much it works! :)

[code]

and

[code]

Obviously its not the final code but yeah! thank you!

@AndrewTriesToCode

[2020-07-23 19:54] #303 closed, assigned to nobody

[2020-07-23 19:57] AndrewTriesToCode commented on #303
Awesome!

[2020-07-28 02:23] dwt12777 opened #304 "Newbie question: How do I create a new tenant?"
Hey guys, huge apologies in advance as I am really a beginner programmer.  I have been reading the documentation and looking at the sample projects and am quite sure I'm overlooking something obvious.  But a couple of pointers would really help me out.  First, I'm trying to set up my project using the Host strategy pointed at a SQL server.  In my ConfigureServices method of the Startup class, I ha

[2020-07-28 04:19] AndrewTriesToCode commented on #304
hi @dwt12777
No worries about being a newbie -- I am definitely one in many areas.

This library provides the building blocks and you are on the right track. I actually plan to develop a full UI as a paid option for those interested -- but I highly encourage you to keep going!

A regular app that uses the multitenant store basically is read-only from it during tenant resolution. However a backend

[2020-07-28 13:41] dwt12777 commented on #304
Thank you very much for the response and encouragement.  I'll dig in!

Quick question regarding:

What tables/schema do I need to build?  Just something to hold the TenantInfo objects with fields for each of the tenantinfo properties?  Or are there other tables the library requires before it'll work?  I get the feeling that's kind of up to me, as long as I have the calls return what the library is

[2020-07-29 19:45] AndrewTriesToCode commented on #304
@dwt12777

It really depends. If I use the EFCore store then I choose to rely on Entity Framework Core to create the tables via migration. You could do it manually in SQL Server with CREATE and INSERT statements and implement a simple `IMultitenantStore` to query your custom database without using EFCore at all.

[2020-07-29 22:53] dwt12777 commented on #304
Makes perfect sense, thank you!

[2020-07-29 22:53] #304 closed, assigned to nobody

[2020-07-29 23:14] dwt12777 opened #305 "InvalidOperationException: Cannot consume scoped service"
Not sure if this is the same issue as #278 but I'm getting a similar error in my project.  I feel like I'm on the verge of greatness, but can't seem to figure this out.  I should point out **I get this identical error when I try to build and run the EFCoreStoreSample project.**

[code]

The project builds successfully, but when the site tries to run the exception is thrown and the debugger points

[2020-07-29 23:34] AndrewTriesToCode commented on #305
It’s the same issue and I have fixed it but not yet released. I’ll post a code fix you can do shortly.

[2020-07-29 23:54] dwt12777 commented on #305
Awesome - thank you!

[2020-07-29 23:57] AndrewTriesToCode commented on #253
I have fixed the issue @Hawxy mentioned above but it's not worth another preview release.

As a workaround after your call to `AddMultiTenant<T>()` and its chained builders add these two lines:

[code]

They might require some `using` statements to pull in the right namespace and of course sub in your own class for `TenantInfo` if you aren't using the default one.

[2020-07-29 23:58] AndrewTriesToCode commented on #305
As a workaround after your call to `AddMultiTenant<T>()` and its chained builders add these two lines:

[code]

They might require some `using` statements to pull in the right namespace and of course sub in your own class for `TenantInfo` if you aren't using the default one.

[2020-07-30 01:40] dwt12777 commented on #305
This seems to be working great!  Thank you.  One problem down and now the next manifests itself... I'll log a separate question if I can't figure it out.  Thanks again for your support!

[2020-07-30 01:40] #305 closed, assigned to nobody

[2020-07-30 03:59] dwt12777 opened #306 "Can't figure out how to use EFCoreStore and MultiTenantIdentity at the same time"
I'm trying to set up my project so that:

1. App data and tenant data is stored in a SQL server db via Entity Framework
2. The app should use the multitenant version of Identity so that each tenant can set up and maintain their own users

And and can't figure out how to get it done.  I finally got the first point working (I think).  I got everything set up finally, and added a migration to get rea

[2020-07-30 10:53] svenkle commented on #306
@dwt12777 the key problem here is that you can't inherit from both data stores (no multiple inheritance in C# sadly) and they both extend from different bases. I've recently been working on solving a similar issue and believe that conceptually the tenant data store and the application data store are different - it just so happens you want to store two distinct sets of data in the same database.

T

[2020-07-30 22:32] dwt12777 commented on #306
Thank you @svenkle - I ended up writing a custom store (saves tenants to a JSON file, probably kind of like the config store, but as I understood it - that was read only and I wanted a store that I could read/write to...)

But anyway, you were right, once I did that, I was was able to use the `IMultiTenantDbContext`... I can't pretend like I understand it all yet, but I can tell you the app now ha

[2020-07-30 22:32] #306 closed, assigned to nobody

[2020-07-31 06:33] EngrKhizarIqbal opened #307 "Authentication issue on tenant identifier changes"
Hi, first thanks for this awesome library. Lots of love.

I've been working on a SaaS project and everything works fine and as expected. However, I've been asked to add a feature where users can modify tenant identifiers (we are using tenant identifiers as subdomains). I've implemented this feature but trapped into an issue with the authentication. When a user updates their tenant identifier (subd

[2020-08-01 00:17] AndrewTriesToCode commented on #307
Hi, I’m glad you like the library.

I think the problem is that cookies by default are specified down to the subdomain and when you change the subdomain the browser no longer sends the cookie on subsequent requests.

I recommend you try to sign out the user and immeditatwly religion then in. There should be a way for you to specify the new subdomain for the new login cookie, either via authenticat

[2020-08-01 01:16] #248 closed, assigned to nobody

[2020-08-01 01:37] TheFoxInSocks opened #308 "Multi Tenant Users, Same domain, Single login"
Hello,

I have a use case where I am trying to create a multi-tenant system, however I want to use a single domain and have have all users go through the same login screen.

Scenario one:

Client registers for our app and a route is created for them (example.com/tenant1). He can then add new users to the account within the app.

Scenario two:

Support receives an issue on a specific tenant (exampl

[2020-08-01 06:58] #274 closed, assigned to nobody

[2020-08-01 13:03] EngrKhizarIqbal commented on #307
Thanks for the response. I've already tried to sign out the user on tenant identifier change and redirect users to the new tenant (subdomain) login page but it didn't work. I'm signing out the users on login request but it also didn't work.

I'm on EID holidays from today and will not available for work today and tomorrow. I'll try to check for the cookie events on Wednesday and will update you.

[2020-08-01 16:51] AndrewTriesToCode commented on #308
Hi @Stephen250

Have you seen the shared login sample? It's only ASP.NET Core 2.1 but the idea should carry forward.

That should cover the regular user sign in, but as you have seen the sys admin signin for any tenant is trickier.

The most practical solution I've seen is to ignore the built-in tenant filter on EF queries on sys admin pages. This is made more difficult because it means you can't

[2020-08-01 16:56] AndrewTriesToCode commented on #306
hi @dwt12777 I'm glad you found a good alternative.

@svenkle thanks for assisting with the detailed response

In general I recommend having separate multitenant store db contexts and main application db contexts (although this isn't true in all cases). I realize my sample programs aren't very good about this and need to improve them.

[2020-08-01 17:05] AndrewTriesToCode commented on #307
To add:

make sure you have a per-tenant options set up for CookieAuthenticationOptions that sets the domain on the cookie to equal the full subdomain + domain for the tenant.

This isn't important normally, but specifically comes into play when you are changing the subdomain for a tenant as part of a request.

When you re-sign in the user we want it to regenerate the cookie options after you have

[2020-08-02 02:41] TheFoxInSocks commented on #308
@AndrewTriesToCode yes, I took a quick skim through the shared login example and would like to go that route with having the tenant as the first route (example.com/tenant)

I'm still a little confused with the multi tenant on a shared login within a single domain side of it...

If I am creating the system admin user for each of the tenants, when I go to login via the shared login, Identity will pi

[2020-08-02 09:30] alexmaie commented on #290
@AndrewTriesToCode any news regarding the "recommended approach"

[2020-08-04 05:37] AndrewTriesToCode commented on #290
@alexmaie I'm still working on it. It has prompted me to rethink some aspects of per tenant authentication.

I have a working sample that works for the authorize, signin, and authorize callback endpoints. This works for a toy sample application. However for a more realistic app which exposes user account management like Identity offers I need to think it through more. Thanks for asking the hard qu

[2020-08-05 09:16] ashin-s commented on #290
Thanks...I'm looking forward to it! :)
However, I have a workaround in place for the "same user-agent - multiple tenant login" issue by rejecting the token from the client application (if the token belongs to a different tenant) and forcing another login. But that's not so elegant. Any help from your end would really be great!

[2020-08-05 16:53] jams4code opened #311 "TenantInfo Store from catalog db"
Hi,

I've been using Finbuckle for one month on a project and it's really good. Thank a lot for that library.

I'm using the BasePath Strategy with a custom store that I added.

The configuration store is working well but I don't find safe to put the connection strings there and also it's not the perfect place for an application that will have DB added and removed from the list.

So, I just wanted

[2020-08-05 23:51] #265 closed, assigned to nobody

[2020-08-06 19:46] dwt12777 opened #312 "How can I seed multi-tenant identity objects (e.g. Users, Roles) from the middleware?"
So I'm trying to build a SeedData class (relying heavily on the walkthrough provided here: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-3.1).

A key difference of course between my project and the walkthrough is my project is using multi-tenancy Identity thanks to finbuckle.  And that leads me to the problem I'm trying to figure out:

**How can I

[2020-08-06 20:35] AndrewTriesToCode commented on #312
Hi @dwt12777

Good question!

It looks like you are very close, but the seeded default tenant needs a connection string. Then when you create the app db context in your code here it will use the connection string from the tenant:
[code]

If that doesn't work, post your AppDbContext class and let me see how that is defined.

also I like this!
`//to do: figure out how real men store passwords`

[2020-08-06 20:39] AndrewTriesToCode commented on #311
Hi @jams4code

First of all, I'm glad you are finding the library helpful.

We've got the `EFCoreStore` that uses Entity Framework Core and db contexts which is used similarly. I think it might create confusion to add another db context based store which is so similar. I have a few questions though:

1. Have you seen the 6.0 preview releases? A lot changed with stores there so you might want to ta

[2020-08-06 20:49] AndrewTriesToCode commented on #290
@ashin-s Actually your solution is what I have landed on as well. I am basically adding tenant claim to the signed in user and on followup requests I validate that the resolved tenant matches the user principal's tenant claim and reject if they don't. It's not ideal but I think the same user-agent scenario is not prevalent in practice and at worst the prior tenant will just have to re-sign in -- a

[2020-08-06 21:46] dwt12777 commented on #312
Thanks @AndrewTriesToCode - the more I get into this the more I realize I have to learn, and storing passwords correctly should probably be on that list!

Anyway, regarding the problem at hand: I tried adding a connection string to the defaultTenant but I don't think that solved the problem.  Here's what I've done:

I updated defaultTenant that gets generated in the SeedTenantStore method to this:

[2020-08-06 22:49] AndrewTriesToCode commented on #312
Hello again. A few thoughts:

Honestly I hadn't intended it that way -- the idea was that you could define your own IdentityUser class (to add more data) and then set it up manually to be multitenant on the `OnModelCreating` method. What you described makes sense but I haven't tested it that way. A true many-to-many user / tenant use case will probably need a more complicated configuration I plan

[2020-08-07 01:50] dwt12777 commented on #312
This is working great so far!  Thank you so much for responding.

And I hear what you're saying about the many-to-many scenario not being the intended design.  I'll tread carefully!

[2020-08-07 01:50] #312 closed, assigned to nobody

[2020-08-07 18:41] #276 closed, assigned to nobody

[2020-08-09 05:59] #278 closed, assigned to nobody

[2020-08-11 05:29] #277 closed, assigned to nobody

[2020-08-11 07:04] EngrKhizarIqbal commented on #307
Hi, I've tried `HttpContext.TrySetTenantInfo` and then immediately sign out the user but it didn't work.
I even tried to clear the cookies on signout in `CookieAuthenticationEvents.Signout` but it didn't work. Seems like the browser is neglecting the cookies on redirect.

I'm working on some other possible solutions and will update you. Have you got a chance to look at the sample project? I've pus

[2020-08-11 10:33] vermilion opened #313 "How to Fetch all tenants from store?"
Hi!

Thanks for a great lib. I've been playing with it for a while and I'm confused how to get all `Tenants` from tenant store?
`IMultiTenantStore` does not have such method...

This is clear for some stores but not for the `ConfigurationStore`. The only way is to get it from IConfiguration object but that's not very intuitive.
Any method to get it? Or can you add __GetAll__ method to this interfa

[2020-08-11 12:40] #313 closed, assigned to nobody

[2020-08-11 13:34] davidcateduclarity commented on #188
Thank you for this!!!

[2020-08-12 18:07] AndrewTriesToCode commented on #307
Hi @EngrKhizarIqbal I haven't yet tried out your sample but its on my list. I need to make sure this works before the next release.

[2020-08-12 18:08] AndrewTriesToCode commented on #313
Hi @vermilion
We have a pending PR that will add a method to retrieve them all. Hopefully that will help out.

-Drew

[2020-08-13 05:21] EngrKhizarIqbal commented on #307
Thanks. I'm also working on it and if I have any luck, I'll let you know.

[2020-08-13 22:10] TheFoxInSocks commented on #308
Hello @AndrewTriesToCode,

After further review would it be possible to utilize a shard Multi Tenant DB Approach?

For Example, we have 3 Partners (A, B, C) that need their Clients within their tenant:

- Partner A has there tenant with multi accounts set up.
- Partner B has there tenant with multi accounts set up.
- Partner C has there tenant with multi accounts set up.

My thought based on the f

[2020-08-17 14:56] AndrewTriesToCode commented on #308
hi @Stephen250  sorry for the late reply

I think what you described can work. It will be tricky no matter what approach you take. Let me ask some questions to better understand:

0. Are you saying each partner has its own set of tenants under it?

1. In your scenario would a user ever need to be shared across the three partners or can you assume each partner is "isolated"?

2. If each partner is

[2020-08-17 15:16] TheFoxInSocks commented on #308
Hi @AndrewTriesToCode, No Worries!

0.  Ideally I would have a Catalog DB that houses all the Identity and global entitles for all the tenants.  The Partner DB would contain the Tenant Specific Tables and could be used either of the two ways:

- A partner buys in to our system, and wants its clients (multi-tenants) within that database.
- A partner buys a special subscription that keeps their data

[2020-08-19 03:06] #283 closed, assigned to nobody

[2020-08-20 00:42] davidcateduclarity commented on #169
Hi there... Is there an updated example for a Blazor App??  Im able to do the Static strategy... But Im stuck altering any other strategy, most likely due to the routing.
Any guidance is greatly appreciated.

[2020-08-22 17:09] AndrewTriesToCode commented on #169
hi @davidcateduclarity

Not at the moment. When you are doing Blazor-routing (and not regular ASP.NET routing) does the tenant change between routes? I'm trying to better understand Blazor use cases.

Thanks!

[2020-08-22 19:12] #287 closed, assigned to nobody

[2020-08-22 19:12] #251 closed, assigned to nobody

[2020-08-25 08:38] stonesvillage opened #316 "How to use the new ClaimStrategy in combination with PerTenantAuthentication"
Hi!
I just started to use your excellent library in a new project where I use asp.net core (3.1) identity and external login (Pipedrive).

The only way to determine the tenant is from the users claims.
Using the latest bits of your library gives me the opportunity to use the ClaimStrategy.

[code]

But I can't get the ClaimStrategy to work with PerTenantAuthentication.
I seems like that PerTenantA

[2020-08-27 04:10] AndrewTriesToCode commented on #316
hi @stonesvillage

Currently it isn't feasible to use the new `ClaimsStrategy` with per-tenant auth since the former relies on `HttpContext.User` and the latter sets `HttpContext.User` but requires a tenant!

It is still possible to create a custom multitenant strategy to accomplish this though. It would extract the claim from the cookie without using `HttpContext.User` by calling `HttpContext.Aut

[2020-08-27 08:11] stonesvillage commented on #316
Hi @AndrewTriesToCode,

I've tried your suggested solution with per-tenant authentication.
The problem is that the `MultiTenantAuthenticationService` tries to add the tenant identifier to the `AuthenticationProperties` when calling `ChallangeAsync`. The `MultiTenantContext` isn't set yet because the tenant is resolved from the `AuthenticationResult` and the user isn't authenticated yet.

Code wher

[2020-08-28 10:33] stonesvillage commented on #316
Further I notice that if the tenant isn't resolved before the user is authenticated the `.WithPerTenantOptions<CookieAuthenticationOptions>` won't be invoked.
That means that the Identity.Application/External cookies won't be unique per tenant.

[2020-08-28 13:38] AndrewTriesToCode commented on #316
Hi, yes I’m looking  into into these today. This is a use case I definitely want to support

I plan to modify the claims strategy to work as we discussed and to make the per tenant authentication a little smarter one this situation.

[2020-08-28 15:16] stonesvillage commented on #316
Great!
I would be happy to test the result of your work.

Thanks

[2020-08-28 17:34] AndrewTriesToCode commented on #316
Thanks. Can you try it out on this branch?
https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/refactor/PerTenantAuthentication-Tweaks

This should allow you to use the existing `ClaimsStrategy` and it should behave when there is no tenant.

[2020-08-31 20:21] stonesvillage commented on #316
It behaves a bit better now.
It still throws in `MultiTenantAuthenticationService.AddTenantIdentiferToProperties` when `multiTenantContext` is null though.

The ClaimsStrategy now sets the tenant identifier correct but I think it sets it too late in the pipeline.
I don't see how `WithPerTenantOptions` can be invoked when it should since `MultiTenantOptionsFactory` has this criteria: `multiTenantCo

[2020-09-01 03:17] AndrewTriesToCode commented on #316
@stonesvillage thanks for the feedback - I just added a few commits to the branch

I have modified `MultiTenantAuthenticationService.AddTenantIdentiferToProperties` to better handle a null context. I believe this is a critical fix:
[code]

With respect to the `ClaimStrategy` being too late in your pipeline -- can you tell me more about your pipeline? I have `UseMultiTenant` before `UseAuthenticati

[2020-09-01 07:18] stonesvillage commented on #316
@AndrewTriesToCode thanks for your excellent support in this!

The modification to `MultiTenantAuthenticationService.AddTenantIdentiferToProperties` to better handle null context is exactly the same as I did.

What I think is challenging with ASP.NET Core Identity is that it uses several cookies to handle an external login:
- External cookie: stores information about the external provider. It's de

[2020-09-05 18:01] #293 closed, assigned to nobody

[2020-09-06 19:29] #291 closed, assigned to nobody

[2020-09-07 16:59] AndrewTriesToCode commented on #316
Hi @stonesvillage, sorry for the slow response. I'm trying to get 6.0 out later today.

You are absolutely correct about ClaimStrategy and per-tenant cookie names not working well together-- it's kind of a chicken-and-egg situation--which comes first?

Thinking out loud here:
The original version of WithPerTenantAuthentication used separate cookies -- but in the latest version I moved away from th

[2020-09-10 09:02] win32nipuh opened #322 "How to use multitenancy in Rest API?"
I have a Blazor client->ASP>NET Web server->database.
The multitenancy works fine, thank Andrew.

But now I need to replace all server -side methods to Rest API methods.

How to use multitenancy in case of RESTFul API? Any samples?

[2020-09-10 14:59] adamsproul commented on #290
@AndrewTriesToCode / @ashin-s - do you have a demo project with this approach now 6.0 is out? I started going down the Per-Tenant authentication route until I read the latest comment in this issue

[2020-09-11 09:33] devalot76 commented on #316
Hi,
I'm trying to achive the same result and then stumbled upon this :)
So what kind of authentication I'm supposed to implement in order to use the new ClaimStrategy?
Can you show me some code, please? Thank you.

[2020-09-12 18:15] AndrewTriesToCode commented on #322
hi @win32nipuh

I don't have any samples at the moment, but it works exactly the same for the most part. You'll want to use a strategy compatible with your api design -- `HostStrategy` and `RouteStrategy` work well. If you are using tokens to authenticate the API then the `ClaimStrategy` or similar might work. Nothing special about a regular HTTP app request and an API request from this perspectiv

[2020-09-12 18:18] AndrewTriesToCode commented on #316
@devalot76
The Claim strategy is compatible with any authentication that results in a `ClaimsPrincipal' -- which most ASP.NET Core authentication does. Cookie authentication as well as JWT based authentication are two examples. Other types of authentication like OpenID Connect actually end up using cookies for the signin cookie so it applies there too.

I will put together a sample project soon fo

[2020-09-12 19:10] devalot76 commented on #316
@AndrewTriesToCode
currently I'm using "WithConfigurationStore", "WithRouteStrategy" and "WithPerTenantAuthentication" and it works well. Now I'd like to switch to the claim strategy but it got a NullReference when I try to sign in with PasswordSignInAsync()
Can you please tell me what changes should I make in order to get it work? Thank you.

[2020-09-14 22:09] stonesvillage commented on #316
@AndrewTriesToCode
Thank's for your dedicated work.
When using `WithPerTenantAuthentication` and `WithClaimStrategy` one side effect is that the user always is signed out when starting a new browser session, regardless of persisting the cookie or not.
This because the `WithPerTenantAuthentication` will validate the principal and reject it if there's a mismatch between the claim and the current ten

[2020-09-15 15:44] AndrewTriesToCode commented on #316
@stonesvillage

I'm surprised that a new browser sessions prevents signin-- I will need to investigate that further. The cookie should still be sent by the browser, `ClaimStrategy` could get the tenant, and validation would check the cookie claim tenant matches the current tenant (which it should).

[2020-09-15 23:55] AndrewTriesToCode opened #323 "Finbuckle.MultiTenant 6.0.x"
Hello, Finbuckle.MultiTenant 6.0.0 was released last week after a full summer of coding, testing, and documenting.

Thank you to everyone who provided feedback and contributions!

If you have any questions or comments please let me know. I plan to provide more detail on some of these items in future blog posts.

**6.0.0**
* Customizable `TenantInfo`. Implement `ITenantInfo` as needed or use the ba

[2020-09-15 23:56] #253 closed, assigned to nobody

[2020-09-15 23:56] #211 closed, assigned to nobody

[2020-09-16 10:51] stonesvillage commented on #316
@AndrewTriesToCode

Sorry for not elaborating my previous comment, will try to do that here.

I've tried to use `WithPerTenantAuthentication` in combination with the new `ClaimStrategy`.
As I understand this setup doesn't work because of the chicken-and-egg situation stated earlier.
The `ClaimStrategy` invokes `HttpContext.AuthenticateAsync()` which will trigger the event `CookieAuthenticationEven

[2020-09-16 14:04] AndrewTriesToCode commented on #316
Yeah I recreated the issue yesterday. I will make a separate bug issue for it but I do have a workaround. One thing to note is that if you are only using claim strategy then WithPerTenantAuthentication doesn’t offer much value since it’s job is to ensure auth matches tenant... but claim strategy enforces this almost by definition. Although it claim strategy is used among other strategies this issu

[2020-09-17 03:42] AndrewTriesToCode opened #324 "WithPerTenantAuthentication conflicts withs ClaimStrategy"
In 6.0.0 `WithPerTenantAuthentication` conflicts with `ClaimStrategy` and effectively cancels any signin. This is due to `ClaimStrategy` triggering principal validation configured by `WithPerTenantAuthentication`.

On this [branch](https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/fix/ClaimStrategy-PerTenantAuthentication-Compat) a fix is being prepped for release. A sample project for `Clai

[2020-09-17 03:47] AndrewTriesToCode commented on #316
Created #324 to capture this

[2020-09-17 11:09] natelaff opened #325 "Should ConnectionString be part of ITenantInfo?"
Just throwing it out there, ConnectionString to me is not natural on ITenantInfo, and belongs in an implementation. For example, if you want to just client side packages, HttpRemoteStore is looking for connection string, that's never going to exist.

Another point, in my app server side app the connection string is built outside of the scope of where this would hit, by acquiring userId and passwor

[2020-09-17 13:02] stonesvillage commented on #316
@AndrewTriesToCode

I'd be happy to help out with testing.

I agree that when using Claim Strategy as the only strategy the need of matching tenant and auth is almost gone.
Is there any other benefits with PerTenantAuthentication when Claim Strategy is the only strategy you think?

To support Claim Strategy and ASP.NET Core Identity I'm using two Claim Strategies.
One that checks the external cook

[2020-09-17 22:58] natelaff commented on #323
This is definitely a rad project. I've mentioned before I already had a similar thing I use internally on server side, but have been following this one. About to dig into a Blazor client app, and just the per tenant auth is so nicely done (tested in a quick MVC project). Well done, thanks for all of your hard work :)

[2020-09-17 23:22] AndrewTriesToCode commented on #325
Hi @natelaff thanks for the feedback. I think you are right and I agree. I mainly kept it for the time being to not change too fast and to have an easy story for the use case where tenants do not share a database.

Thanks again!

[2020-09-17 23:35] AndrewTriesToCode commented on #323
@natelaff Thanks, I appreciate hearing from you. I know you've got some more advanced use cases and I'm open to any ideas you have.

[2020-09-18 10:38] natelaff commented on #323
I wouldn't say I have advanced use cases really. Once you add the word 'multitenant' you're already going pretty advanced hahah. But I had to do a lot with IdentityServer and such to get things rolling the way I needed it, but other than that just a few small use cases that could be added. I might try a PR on some minor things to see what happens ;)

[2020-09-19 08:12] hhuseyinpay commented on #288
Hey @AndrewTriesToCode , I'm using the repository pattern and I want to iterate all tenants in worker service. Is it possible? (The project is multitenant but some tasks are common so I want to make them worker service.)
![Screen Shot 2020-09-19 at 11 05 37](https://user-images.githubusercontent.com/14811488/93662345-1be8b600-fa68-11ea-8c3d-d19851b323a9.png)
![Screen Shot 2020-09-19 at 11 04 10](h

[2020-09-19 14:35] AndrewTriesToCode commented on #288
hi @hhuseyinpay

It is possible, but not all of the tenant stores implement `IMultiTenantStore.GetAllAsync`. What type of store are you using or did you create a custom one?

[2020-09-19 18:13] hhuseyinpay commented on #288
I'm using Configuration Store for the development stage. Tenant Infos are not the problem. The problem is how could I get tenants repository from DI. One solution is:

![Screen Shot 2020-09-19 at 21 09 38](https://user-images.githubusercontent.com/14811488/93686120-d6a2a380-fabc-11ea-95de-fe39308aa003.png)

But I think there should be a nicer solution for this :)

[2020-09-20 16:36] hhuseyinpay commented on #288
My final solution is:
![Screen Shot 2020-09-20 at 19 22 49](https://user-images.githubusercontent.com/14811488/93716245-5bea8e80-fb77-11ea-97ce-a70233389b20.png)

It seems working for now but I don't know what happens for the long-running. Any suggestion?

[2020-09-20 22:54] Valks commented on #322
May or may not be useful, but I did a little prototype using azure functions:

https://github.com/Valks/Finbuckle.MultiTenant/tree/AddAzureFunctionsSupport

Didn't take much to get it working. Probably should look at adding a way to get the tenant from an attributed parameter but otherwise works almost the same.

I also adjusted the base route model to add a generic prefix (mainly to remove the /a

[2020-09-21 11:16] natelaff commented on #250
One thing I'm running into here is with blazor server, basepath strategy seems to have issues. On some calls I end up with '_blazor' as the attempted tenant name which causes things to bomb. Has anyone figured this out?

[2020-09-21 17:23] AndrewTriesToCode commented on #316
@stonesvillage

Auth schemes as an additional parameter would be great. Would you mind submitting a PR to the fix branch?
https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/fix/ClaimStrategy-PerTenantAuthentication-Compat

[2020-09-21 17:35] AndrewTriesToCode commented on #322
@Valks That's very interesting, thanks for sharing!

[2020-09-21 17:38] AndrewTriesToCode commented on #250
@natelaff is `_blazor` actually he base path of the requests or is Blazor modifying the base path? In `AddMultiTenant` you can specifiy identifiers to ignore, but I'm not sure if that will work. Might have to reimplement your own strategy to handle this odd behavior.

[2020-09-21 17:49] AndrewTriesToCode commented on #288
hi @hhuseyinpay

I think this will work. I think it will run nonstop though -- you might want to put it on a timer as described here:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.1&tabs=visual-studio#timed-background-tasks

Also you might want to include the look that sets up the `tenantRepo` list inside the timed `while` look so it picks up any

[2020-09-21 19:47] natelaff commented on #250
yeah it seems to be modifying it on its own. i will try with the ignore identifiers, i missed that bit. honestly, after three days about to ditch blazor efforts. the oidc picture there is not good.

[2020-09-23 01:18] #300 closed, assigned to nobody

[2020-10-13 13:29] #311 closed, assigned to nobody

[2020-10-19 09:27] #307 closed, assigned to nobody

[2020-10-24 01:43] #308 closed, assigned to nobody

[2020-11-02 18:04] #324 closed, assigned to nobody

[2020-11-28 08:12] #316 closed, assigned to nobody

[2020-12-22 23:43] #322 closed, assigned to nobody

[2021-01-02 17:19] #325 closed, assigned to nobody

[2021-01-17 20:20] #290 closed, assigned to nobody

[2021-06-10 03:32] #243 closed, assigned to nobody

[2021-08-12 04:55] #323 closed, assigned to nobody

[2021-08-12 04:57] #155 closed, assigned to nobody

[2021-08-12 04:58] #188 closed, assigned to nobody

[2021-08-12 04:59] #234 closed, assigned to nobody

[2021-08-12 05:26] #281 closed, assigned to nobody

[2021-08-12 05:29] #268 closed, assigned to nobody

[2021-08-12 05:32] #249 closed, assigned to nobody

[2021-08-12 05:34] #212 closed, assigned to nobody

[2021-08-12 05:35] #236 closed, assigned to nobody

[2021-08-12 05:37] #259 closed, assigned to nobody

[2021-08-12 05:46] #224 closed, assigned to nobody

[2021-09-02 17:27] #233 closed, assigned to nobody

[2021-09-02 20:09] #280 closed, assigned to nobody

[2021-11-11 19:29] Bouke opened #491 "MultiTenantContext can be null?"
It seems that if no tenant was resolved, `MultiTenantContextAccessor<T>` will return null for `MultiTenantContext`. So should this warrant a nullable reference?

https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/65507bfe47ff05ca99f015dec527d6c9951ff76a/src/Finbuckle.MultiTenant/Abstractions/IMultiTenantContextAccessor.cs#L13

[2021-11-23 11:38] andrijanabe opened #495 "IMultiTenantContextAccessor returns null when not using UseMiddleware"
We have an issue when trying to use the Finbuckle.Multitenant library when using it in cases when we use Messaging (and no HttpRequests), meaning that we are not utilising the UseMiddleware, therefore the  IMultiTenantContextAccessor is not populated.

Can you please suggest a way how we can use this library in such scenarios?

[2021-12-14 22:56] paburgos opened #501 "Using Finbuckle BasePathStrategy with a Blazor Server-side app doesn't work"
Hello,

I managed to use Finbuckle using Host Strategy in a Blazor Server App .NET 6. And it works really well!

However, when changing to WithBasePathStrategy I get a "Sorry, there's nothing at this address." the default message when the route is not found.

Can you provide an example in how to implement the Base Path Strategy in Blazor?

[2022-01-09 09:34] #289 closed, assigned to nobody

[2022-07-25 20:10] tnc1997 opened #572 "MultiTentantContext is null in HttpContext.Response.OnStarting on sign out"
Firstly, I would like to thank you very much for your work on this package. I am using it combined with IdentityServer in order to support multi-tenancy, however I am experiencing a `NullReferenceException` caused by the `MultiTentantContext` being null in the `HttpContext.Response.OnStarting` function on sign out. I have extended IdentityServer's `ConfigurationDbContext` to be multi-tenanted and

[2022-09-01 20:58] onurkanbakirci opened #583 "Finbuckle With Identity Isolation Problem"
I have an app which uses .net identity for membership system and Finbuckle for achieving multi-tenancy. I try to make .net identity `TUser` object as non multi-tenant and other things (`TRole`, `TUserClaim` etc. ) as multi-tenant. By the doc of `Finbuckle`, to achieve this purpose, i have to pass `TUser` class as a generic class and other things as default. So, my identity context class is as foll

[2022-10-18 21:51] julesrx opened #602 "Make ITenantInfo's Id type a generic"
Change ITenantInfo's Id type to a generic to allow for more flexibility when implementing the library. This would help since here, even if the Id is a number in the tenant store or the database, it needs to be converted into a string.

Essentially, change this :
[code]

To this :
[code]

And keep the default TenantInfo to a string :
[code]

This is a big breaking change though, with lots of refact

[2022-10-20 04:44] HDScarpe opened #603 "Finbuckle.MultiTenant with Duende IdentityServer cannot login with per tenant ?"
Currently I am setting up Finbuckle.MultiTenant with Duende IdentityServer. I'm getting an error when I log into the root account If I don't use **.IsMultiTenant()** then it can login as root account but can't login tenant account. This is my class design
* I have 3 classes: IdentityContext , BaseDbContext , TenantDbContext
1. ```IdentityContext : BaseDbContext```
2. ```BaseDbContext : MultiTenant

[2022-10-29 21:51] dalton5 opened #606 "Best practices on multitenancy"
Hi,

I wonder how the multitenancy works when I am with the super admin that will manage the tenants.

How can I setup this part? The tenant info will be null?

Thanks

[2022-10-29 21:58] pyramidsbuilder opened #607 "using TrySetTenantInfo : exception : No service for type IMultiTenantContextAccessor"
I am trying to set the tenant for the request manually, I tried to use the function in documentation to set

`
if(HttpContext.TrySetTenantInfo(newTenantInfo, resetServiceProvider: true))
{
    var tenant = HttpContext.GetMultiTenantContext().TenantInfo;
    var optionsProvider = HttpContext.RequestServices.GetService<IOptions<MyScopedOptions>>();
}
`

I get the following error:
: No service for ty

[2022-10-30 10:02] dalton5 opened #609 "usermanager NullReferenceException "
Hi,

I use a seed method to create roles and users.

I have custom User class (ApplicationUser) and custom Role class (ApplicationRole)

I use a seed method to create roles and users. I did not setup ApplicationUser and ApplicationRole as multitenant because they could be shared between tenants.

My dbcontext is like this:

        `       public class ApplicationDbContext : MultiTenantIdentityDbC

[2022-11-21 21:27] devalot76 opened #613 "Use of claim strategy and Identity types"
Hi,
I'm struggling with adding multi-tenancy in my ASP.NET 6 MVC app.
I use standard Identity and cookie based authentication.
I have a separate DbContext for managing the tenants wich derives from `EFCoreStoreDbContext<MyTenantInfo>`

This is how I configured Finbuckle:
[code]

I want to use just the claim to resolve my tenant, no route or host whatsever.
I understand that, in this scenario, the