[2018-04-18 16:32] AndrewTriesToCode opened #1 "Support case sensitive InMemoryTenantStore when using WithInMemoryStore"
Currently `WithInMemoryStore` adds `InMemoryMultiTenantStore` to the services collection using the default case insensitive option.

Would like to add an optional bool parameter `ignoreCase` to `WithInMemoryStore`, defaulting to true, which is passed to the `InMemoryMultiTenantStore` constructor.

[2018-04-23 02:27] AndrewTriesToCode opened #3 "Add support for IOptions<T> and IOptionsSnapshot<T> and Per Tenant Options"
The current implementation of WithPerTenantOptionsConfig<T> relies on a custom implementation of IOptionsCache, however OptionsManager<T> (which IOptions<T> and IOptionsSnapshot<T> resolve to) uses an internal non DI version of IOptionsCache.

Approach 1 : Get OptionsManager<T> to use DI for IOptionsCache. I have an issue opened with aspnetcore about this [here](https://github.com/aspnet/Home/issu

[2018-05-03 15:57] mikeandersun opened #4 "Can I use this library in production environment in my project?"
I would like to switch from [SaasKit ](https://github.com/saaskit/saaskit)to this project. But I don't have time to evaluate it.
Is there any live project that use this library?

[2018-05-04 17:48] AndrewTriesToCode commented on #4
Hi, short answer is yes you can use it—but I’m not aware of it’s use in any other projects except my own. I just put out V 1.0 so there some more items coming such as better logging. I am out of the country on vacation but I can give you a better response tomorrow or Sunday.

[2018-05-08 00:56] AndrewTriesToCode commented on #4
@mikeandersun

Sorry for the delay. The project is production ready, but there are a few things to consider.

- The default `IMultiTenantStore` implementation is a simple in memory concurrent dictionary. It can read from the appsettings.json file or programmatically be configured using the Add/Remove methods, but you will probably want to implement your own that can connect to your database. If yo

[2018-05-08 23:43] AndrewTriesToCode opened #5 "Update project for .NET Core 2.1"
Make any updates needed to support .NET Core 2.1

[2018-05-08 23:44] AndrewTriesToCode opened #6 "Update the targeted version of NetStandard"
Currently targeting NetStandard 2.0, but this may be overkill. I intend to see if a lower version will suffice.

[2018-05-09 00:31] AndrewTriesToCode opened #7 "Add logging support."
Need to add logging throughout the tenant resolution and Entity Framework flows. This will use standard ASP.NET Core logging.

[2018-05-09 05:53] #4 closed, assigned to nobody

[2018-05-12 02:39] AndrewTriesToCode commented on #6
Due to some .NET Core 2.0 only features of EF Core used, NetStandard2.0 is the right choice. Closing this out.

[2018-05-12 02:39] #6 closed, assigned to nobody

[2018-05-12 05:17] AndrewTriesToCode opened #10 "Improve Host Strategy"
Current host strategy only finds the first segment of the host. Would be better to allow more flexible options based on a template/regex  to allow main domain, nth segment, or nth segment from the end.

Implementing template pattern such as *.__tenant__.xyz.? where:
- __tenant__ is a placeholder for the identifier
- * is a wildcard meaning 0 or more segments (including the period) and can only be

[2018-05-25 18:28] AndrewTriesToCode opened #12 "Improve unit tests"
Unit tests are a mess. Clean them up and improve coverage.

[2018-05-28 03:02] AndrewTriesToCode opened #15 "Switch to Apache 2.0 license"
In order to better align with official .NET Core code this project should switch from an MIT license to an Apache 2.0 license.

[2018-06-03 02:53] AndrewTriesToCode opened #18 "Add support for ASP.NET Core remote authentication"
While we can customize remote (OAuth based and OpenId Connect) authentication related options, this is not compatible with some multitenant strategies due to callback URLs which might prevent tenant resolution.

Want to build in support for this somehow.

[2018-06-06 18:04] vdecristofaro opened #19 "Question: default fallback tenant identifier"
Which is the best way to implement a default fallback identifier with host subdomain strategy?

Suppose I registered `*.domain.com` in your dns. I have two tenants; tenant 1 and tenant2. I would like to redirect the user to the `www.domain.com` url if the tenant resolver does not find any tenant registered.

Sorry for the english. Thanks!

[2018-06-06 20:01] AndrewTriesToCode commented on #19
Hi, I will consider this for a future enhancement.

If you want a fallback url then I suggest dropping in some logic right after the MultiTenant middleware similar to below. This checks if tenantcontext is null and if you aren't already a "www" request, and then if so redirects to the www version.

[code]

[2018-06-06 23:29] AndrewTriesToCode opened #20 "Add configuration methods to allow registering custom strategies and tenant stores."
Currently the library contains several methods to configure the included components such as `WithInMemoryStore`. There should be methods to allow registering arbitrary implementations such as WithStore<T> and WithStrategy<T>.

[2018-06-08 03:37] #20 closed, assigned to nobody

[2018-06-08 03:37] #1 closed, assigned to nobody

[2018-06-08 03:37] #3 closed, assigned to nobody

[2018-06-08 03:37] #5 closed, assigned to nobody

[2018-06-08 03:37] #7 closed, assigned to nobody

[2018-06-08 03:37] #10 closed, assigned to nobody

[2018-06-08 03:37] #12 closed, assigned to nobody

[2018-06-08 03:37] #15 closed, assigned to nobody

[2018-06-08 03:37] #18 closed, assigned to nobody

[2018-06-08 03:40] AndrewTriesToCode opened #24 "Repository adjustment for v1.1.0 release."
Hello, apologies to anyone with a fork, but in order to clean up the repo I decided to bump the master branch back a commit before applying the final release merge. I will try to avoid this as much as possible going forward.

Thanks.

[2018-06-08 03:42] AndrewTriesToCode opened #25 "Add support for a fallback / default tenant."
As pointed out in #19 there are situations where a fallback / default tenant would be ideal. This would potentially include an option to redirect the user agent.

[2018-06-08 03:43] AndrewTriesToCode opened #26 "Add a SQL based IMultiTenantStore"
As a basic SQL based tenant store using Entity Framework.

[2018-06-08 03:44] AndrewTriesToCode opened #27 "Add a REST based tenant store."
Add a REST based tenant store which can make HTTP calls to get the tenant context.

[2018-06-08 03:46] AndrewTriesToCode opened #28 "Add support for a generic tenant context."
It would be nice to have a `TenantContext<T>` which exposes a property of type `T` with strongly typed data for the tenant.

[2018-06-13 17:03] Cpcrook opened #29 "Null reference error on Add-Migration using MultiTenantIdentityDbContext"
[code]

Just looks like there needs to be some null-conditional checks added to allow migrations to apply happily.

`                var rightExp = Expression.Constant(tenantContext.Id, typeof(string));
`

should be

`                var rightExp = Expression.Constant(tenantContext?.Id, typeof(string));
`

I have a branch going I can submit a PR for (just need contributor permissions).

[2018-06-13 17:11] #29 closed, assigned to nobody

[2018-06-14 02:50] AndrewTriesToCode commented on #29
Hi Chris, thanks for the feedback I'll give you contributor.

For design time db context creation I recommend using a design time factory:
https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dbcontext-creation#from-a-design-time-factory

In the factory  class construct the db context using the constructor that doesn't require a tenant context--internally this creates a dummy tenant context

[2018-06-18 00:32] AndrewTriesToCode opened #31 "Same tenant always for shared datasource regardless of current tenant"
Discovered a bug related to the default caching behavior of EFCore. The global query filter is configured only for the first tenant to initialize the context, after which all contexts filter for the tenant id or that first tenant. This can be fixed by implementing a custom IModelCacheKeyFactory which accounts for the tenant.

[2018-06-18 00:33] AndrewTriesToCode opened #32 "Add sample for per tenant data isolation"
Need to add a sample project showing per tenant data isolation--preferably both shared database and separate database.

[2018-06-18 01:41] AndrewTriesToCode opened #33 "Clean up MultiTenant DbContext constructor overloads."
Clean up the constructors for MultiTenantDbContext and MultiTenantIdentityDbContext so that the overloaded versions make more sense.

[2018-06-18 01:45] #31 closed, assigned to nobody

[2018-06-18 03:01] #32 closed, assigned to nobody

[2018-06-19 00:45] #33 closed, assigned to nobody

[2018-06-19 00:46] AndrewTriesToCode opened #40 "Create a Finbuckle.MultiTenant metapackage"
Create nad publish a metapackage to simplify use; update samples accordingly

[2018-06-19 00:47] #40 closed, assigned to nobody

[2018-06-21 15:14] Cpcrook opened #44 "Add MultiTenant support for generic IdentityDbContext<TUser, TRole, TKey, TUserLogin, TUserRole, TUserClaim, TRoleClaim, TUserToken>"
Per: https://github.com/entrypointsoft/AspNet.Identity.EntityFramework6/blob/master/src/AspNet.Identity.EntityFramework6/IdentityDbContext.cs

An implementation supporting the more explicit generic class would be useful.

I've got a branch going for this locally that I'm playing with at the moment.

~~Edit: FYI, doesn't look like I have the ability to push branches up with the access token provide

[2018-06-22 01:50] AndrewTriesToCode commented on #44
Thanks @Cpcrook this looks great. I think Identity has a bunch of intermediate classes in between the basic <TUser> and the fully generic one you submitted--I might add to your pull request to supply those intermediate forms as well.

[2018-06-22 02:25] AndrewTriesToCode commented on #44
Listing out all the IdentityDbContext class variants for consideration:

- [x] IdentityDbContext
- [x] IdentityDbContext<TUser>
- [x] IdentityDbContetx<TUser, TRole, TKey>
- [x] IdentityDbContext<TUser,TRole,TKey,TUserClaim,TUserRole,TUserLogin,TRoleClaim,TUserToken>

Based on this I think all the MultiTenant functionality could be located in the class based on the last version lists above and the

[2018-06-23 04:14] AndrewTriesToCode opened #46 "The middleware should only check for remote authentication if remote authentication is configured"
Currently the middleware will pull all request handle auth schemes and check each one to see if it applies--this should only be done if remote authentication is being used.

[2018-06-26 12:36] Cpcrook commented on #26
Have you started poking at this yet?  I may trial an implementation later today.

[2018-06-26 14:38] AndrewTriesToCode commented on #26
@Cpcrook I have a simple one-off implementation for a test project--I'll post it here this evening, By all means please give it a shot. Ideally it would be a flexible solution. Maybe it should be called EFCoreMultiTenantStore and would setup like `services.AddMultiTenant().WithEFCoreStore<TenantStoreDbContext>()....` or something similar. I'm not the best way to tell it which tables/entities to us

[2018-06-26 14:41] AndrewTriesToCode opened #47 "Clean up namespaces for a 2.0.0 release."
For an eventual 2.0 release I want to clean up the namespaces for code that is expected to be usable by the library user. Right now its a mix of `Finbuckle.MultiTenant`, `Finbuckle.MultiTenant.AspNetcore`, etc...
I'm leaning toward it all being `Finbuckle.MultiTenant` for simplicity.

[2018-06-26 14:47] AndrewTriesToCode opened #48 "Add documentation to repository"
I am currently working on updated documentation and a new website--I plan to add this to the repository.

[2018-06-29 04:31] AndrewTriesToCode opened #49 "Bug in Route Strategy with Attribute and Razor Page routes"
Currently the Route Strategy support checks for attribute/razor page routes but it erroneously doesn't act on matches. It should be setting the HttpContext feature in the middleware so that the route strategy can check it...

[2018-06-29 04:32] AndrewTriesToCode commented on #49
I have a fix for this coming in a pr soon.

[2018-06-29 19:57] AndrewTriesToCode opened #50 "Error when using Identity and unique index on shared database"
Default identity puts a unique index in a few places which need to be adjusted in order to include the tenant id.

I have a fix ready and will be adding to PR #45

[2018-06-29 19:58] AndrewTriesToCode commented on #19
Added #25 to capture this request.

[2018-06-29 19:58] #19 closed, assigned to nobody

[2018-06-29 19:59] AndrewTriesToCode commented on #26
@Cpcrook sorry I wasn't able to find the previous implementation of this I said I would post here.

[2018-06-30 04:46] AndrewTriesToCode opened #51 "Remote authentication problem"
Request handlers aren't being detected due to a change from using `IsAssignableFrom` to `is` as part of a refactor. Corrected in pr #45

[2018-07-06 01:49] #50 closed, assigned to AndrewTriesToCode

[2018-07-06 01:57] #51 closed, assigned to AndrewTriesToCode

[2018-07-06 01:57] #49 closed, assigned to AndrewTriesToCode

[2018-07-06 01:58] AndrewTriesToCode commented on #46
Implemented via a RemoteAuthenticationStrategy

[2018-07-06 01:58] #46 closed, assigned to AndrewTriesToCode

[2018-07-06 02:53] AndrewTriesToCode commented on #44
Completed with merging of PR #45. Thanks @Cpcrook !

[2018-07-06 02:53] #44 closed, assigned to nobody

[2018-07-08 16:45] Sheko007 opened #56 "Creating new tenant and applying changes without restart"
Hi,

Everytime I create a new tenant I have to restart the web application so the startup.cs would run again and the new tenant configuration could be applied.

If I create the tenant without restarting I can't access the new tenant website directly as I have to restart to be able to access it.

here is the code I'm using to create the new tenant.
// give him the code you're using

I tried to go t

[2018-07-09 14:29] AndrewTriesToCode commented on #56
Hi @Sheko007  I think your code snippet didn't make it into the comment.

Are you using the provided "InMemoryStore"? You should be able to get access to it in a controller via depedency injection into the constructor. Then with the instance you can use the TryAdd method to add a new tenant:

[code]

However when the app restarts of course this tenant will be lost because the store is just an in-m

[2018-07-09 14:46] AndrewTriesToCode opened #57 "1.2.0 release and upcoming new documentation/website"
Hello,

1.2.0 as just released with improved support for ASP.NET Core Identity, a sample project for Identity, and several bug fixes.

Also just as an FYI I'm working on a new website and project documentation--hope to get that out soon.

[2018-07-09 14:46] #24 closed, assigned to nobody

[2018-07-15 17:02] Sheko007 commented on #56
Thanks.
Good Work

[2018-07-24 22:19] AndrewTriesToCode opened #60 "Refactor route strategy support"
Currently using the route strategy requires special logic in the middleware and a special version of `UseMultiTenant` which takes an `Action<IRouteBuilder>`.

A better approach would be to move this logic into the `RouteMultiTenantStrategy` class and to pass the `Action<IRouteBuilder>` into `WithRouteStrategy` method. Would require updates to the strategy, builder, and unit tests.

[2018-07-24 22:23] AndrewTriesToCode commented on #47
This work is included in PR #59. The code intended for client use is all in the `Finbuckle.MultiTenant` namespace. Implementations for store and strategies are in `Finbuckle.MultiTenant.Stores` and `Finbuckle.MultiTenantStrategies`. Otherwise code belongs to a project specific namespace and isn't intended for internal use only.

[2018-07-24 22:27] AndrewTriesToCode opened #61 "Use async/await for strategy's main GetIdentifer method"
Update GetIdentifer to use async/await in order to improve performance.

[2018-07-24 22:48] AndrewTriesToCode commented on #61
Implemented in PR #59. `GetIdentifier` changed to `GetIdentifierAsync`

[2018-07-25 15:35] #47 closed, assigned to AndrewTriesToCode

[2018-07-25 15:35] #60 closed, assigned to AndrewTriesToCode

[2018-07-25 15:35] #61 closed, assigned to AndrewTriesToCode

[2018-07-26 01:08] Sheko007 opened #62 "how to access to Tenant by Code"
how to access to Tenant by Code

[2018-07-26 16:32] AndrewTriesToCode commented on #62
Hi @Sheko007

I'm not sure I understand the question. Are you asking how to access the `TenantContext` from your controller code? If that is the question then just use the `GetTenantContext()` extension method on `HttpContext` like this:

[code]

You can also inject the `TenantContext` into the controller constructor or action method if you prefer.

[2018-07-27 01:13] AndrewTriesToCode opened #64 "Default branch changed from dev to master"
FYI I just changed the default branch changed from dev to master so that newcomers see a more stable version initially.

[2018-07-27 21:18] ctietgen opened #65 "API Sample"
Will there be a sample of implementing a MultiTenant API?

Specifically an example of a MultiTenant scenario where there's a tenant database for tenant lookup and a database per tenant?

[2018-07-28 01:30] AndrewTriesToCode commented on #65
Hi @CMTietgen

I'm working on more samples-- I hadn't thought of an API sample, but that is a good idea. Also I'm working on specific functionality for a database multitenant store (#26) so there will definitely will have a sample for that, hopefully soon.

[2018-07-28 11:47] Sheko007 commented on #62
Hi @achandlerwhite
i using hoststrategy  so tenant will be as subdmain
now i have one tenant name : aaa.localhost:9999
tenant = aaa
so if in code now
aaa.localhost:9999
and use
`
IActionResult MyController()
{
    var tenantContext = HttpContext.GetTenantContext();
    return View();
}
`
return  = tenantContext  my tenant = aaa
 if me now  on localhost:9999
 so if me use this code return null
to n

[2018-07-28 17:39] AndrewTriesToCode commented on #62
@Sheko007
I see what you mean. Using the host strategy on a dev machine is tricky. You will have to edit your systems “hosts” file and point the ‘aaa.localhost’ to IP address 127.0.0.1. The steps vary by operating system but if you google it you will get some good search results.

However, if you for some reason can't do that, you can get the multitenant store from dependency injection and call `G

[2018-07-31 23:08] AndrewTriesToCode opened #67 "Use async/await for multitenant strategies"
Use async/await for multitenant strategies

[2018-08-02 03:50] AndrewTriesToCode opened #68 "Add sample for database based multitenant store"

[2018-08-02 03:51] AndrewTriesToCode opened #69 "Add update method to IMultiTenantStore"
Add a `TryUpdate` method to the `IMultiTenantStore` interface and the `InMemoryStore` implementation.

[2018-08-02 03:56] AndrewTriesToCode commented on #65
@CMTietgen Hi just wanted to let you know that I added a new sample project to the Dev branch -- it shows how to implement `IMultiTenantStore` to look up the tenant from a SQLite database. It could easily be adapted for any other database.

I still plan to include a formal store that integrates with EFCore in the future.

[2018-08-02 10:39] ctietgen commented on #65
Awesome, thanks. Can't wait for the EFCore sample.

[2018-08-03 23:25] AndrewTriesToCode opened #71 "Allow custom multitenant stores and strategies to specify service lifetime"
In 1.2 all multitenant stores and strategies are registered as singletons. This works fine for some cases, but other cases make more sense to have a scoped (or maybe even transient) lifetime, e.g. dbcontexts registered with AddDbContext are scoped.

`WithStore<T>`
`WithStore<T>(ServiceLifetime lifetime, params object[] parameters)`

The other WithStore and WithStrategy variants would add a similar

[2018-10-09 18:44] AndreSteenbergen opened #75 "Using ASP.Net Core, the sample didn't work, with SigninManager"
I am using the IdentityCore like following:
[code]

When I use the following code with it:
[code]

I get the following error: InvalidOperationException: No sign-in authentication handler is registered for the scheme 'Identity.Application'. The registered sign-in schemes are: cookies. Did you forget to call AddAuthentication().AddCookies("Identity.Application",...)?
[code]

If I change the scheme t

[2018-10-09 19:06] AndreSteenbergen commented on #75
Ok, it is is SignInManager (https://github.com/aspnet/Identity/blob/c7276ce2f76312ddd7fccad6e399da96b9f6fae1/src/Identity/SignInManager.cs#L194)

So basically if you want to use the SigninManager you will need to use scheme:
[code]

[2018-10-09 19:35] AndreSteenbergen commented on #62
I don't know if this is still an issue, I had the same issue. I solved it using a custom `IMultiTenantStrategy`

[code]

and a custom `IMultiTenantStore` with the following check: My config.Identifier is a full host RegExp.
[code]

Configured in startup as:
[code]

[2018-10-09 20:08] AndrewTriesToCode commented on #75
Hi @AndreSteenbergen
Thanks for raising the issue. I'm glad you figured it out.

Looking back at my Identity sample I realized that I used [AddDefaultIdentity](https://github.com/aspnet/Identity/blob/c7276ce2f76312ddd7fccad6e399da96b9f6fae1/src/UI/IdentityServiceCollectionUIExtensions.cs) which internally sets the cookies for you with those constants so I hadn't run across this issue myself.

[2018-10-09 20:23] AndrewTriesToCode commented on #62
@AndreSteenbergen interesting solution. Testing anything based on subdomains is fundamentally difficult in local development. I found it easier in macOS and Linux (just editing the hosts file) than in Windows (because IIS Express requires more configuration to get it to work).

I just found a site that might help. Haven't tested it myself, but I will be: http://readme.localtest.me/

[2018-10-09 20:52] AndreSteenbergen commented on #62
there is an etc hosts file in windows as well, it's in the c:\windows\system32\drivers\etc\hosts this is twe way I am testing all subdomains locally.

[2018-10-10 13:36] AndreSteenbergen opened #76 "Strange bug regarding WithRemoteAuthentication"
I am using a social login provider (google in this case) All works well with the following configuration
[code]

WithRemoteAuthentication has 3 methods it calls. For some reason the replacement for `IAuthenticationService` makes the 'signin-google' route redirect to the refererrer instead of the callbackurl.

BTW, it works for me as well without the .WithRemote, I guess is it because I am using a

[2018-10-10 13:44] AndreSteenbergen commented on #75
BTW I created some extension methods you might like. I'll attach some files. With these extensions it's a bit cleaner to get multitent authentication
[code]

[LoginFiles.zip](https://github.com/Finbuckle/Finbuckle.MultiTenant/files/2464897/LoginFiles.zip)

[2018-10-10 14:57] AndrewTriesToCode commented on #76
Hi again, are you using Safari version 12 by any chance?

[2018-10-10 15:56] AndrewTriesToCode commented on #76
Hi @AndreSteenbergen,
I'll try to see if I can explain the purpose of WithRemoteAuthentication (apologies if you already know some of this--I'm writing it in generally in case anyone else has the same question).

I'm not sure why it still works in your case without WithRemoteAuthentication--my guess is that it is setting a cookie, but that it isn't actually using the cookie-specific settings for t

[2018-10-10 16:05] AndrewTriesToCode commented on #75
Hi @AndreSteenbergen, thanks for submitting these. Do you have them in a public github repo I can see? I did check the zip file--I saw you called a function called `AddSocialLoginTenantOptions` but I couldn't see where it was defined.

[2018-10-10 20:16] AndreSteenbergen commented on #75
Sorry, yes here it is, the Project is in the Profile folder. https://github.com/AndreSteenbergen/Aspnet.Identity.Akka The Sociallogins providers now also get the ProfileImage url (google and fb at least)

[2018-10-10 20:19] AndreSteenbergen commented on #76
@achandlerwhite
I think my version works, because I am using host based multitenant. see also https://github.com/AndreSteenbergen/Aspnet.Identity.Akka
Maybe you can see what is going on in my project, why the extensionmethod does not work for me. The google login is configured and working for localhost:5000.

[2018-10-12 15:26] AndrewTriesToCode commented on #76
@AndreSteenbergen

Thanks Andre, your project looks interesting. I can see why it works for you--It looks like you have a default tenant selected if one is configured with a "*" identifier.

One other situation that `WithRemoteAuthentication` handles is if you want each tenant to have a different default authentication scheme. So if you want one tenant to default to google and another to facebook.

[2018-10-12 15:38] AndreSteenbergen commented on #76
The bug is more, logincallbacks and regular logins seem to not work when I use, `WithRemoteAuthentication` and set Tenantspecific cookies. So I stripped out that particular pieces of configuration. And it seems to work now, where it previously didn't.

Feel free to copy any code for a sample. I based this code on the externallogins example, I didn't like the large ConfigureServices method, so I cr

[2018-10-15 20:01] AndrewTriesToCode commented on #76
Hi again @AndreSteenbergen, I still haven't fully figured this out.

I have a working example of using the Google social sign in for authentication (it will be merged into the next pull request and be part of a 2.0 release).

One difference between your code and my example though is that you are also using Identity. I have a working sample that also uses Identity but not one that uses Identity **a

[2018-10-15 20:05] AndreSteenbergen commented on #76
@achandlerwhite To reproduce the issue you can simply fork my repo. It is not dependant on any database. It's simply pull and run (and stub the email provider). When you add the WithRemoteAuthentication and Cookie Per Tenant, you will see the loginCallbacks won't be called, and the CallbackUrl's are correctly specified. The google login works for localhost:5000, all others aren't configured.

[2018-10-15 20:51] AndrewTriesToCode commented on #76
When Google redirects the user to localhost:5000/signin-google the host string will always be "localhost". In your custom resolver it will always resolve to the default tenant. The result is that cookie will be set as if it is your default tenant, "Calqo BV", This means even if the user trying to authenticate is under the "Claxe" tenant the authentication will always treat it like it is under the

[2018-10-16 05:41] AndreSteenbergen commented on #76
I don't understand the explanation. During testing I never leave localhost, so it should always resolve into the CalqoBV tenant. The callback redirect never ends up in the callback url at the moment. When using subdomains or completely different domains it doesn't matter that much, as cookies are domain specific. The extensions methods are doing something, I just can't think what might go wrong. O

[2018-10-18 00:51] AndrewTriesToCode commented on #76
Hi @AndreSteenbergen ,
Good news, I think I found the problem. I apologize for all the back and forth and that some of my ideas were not in the right direction. Thanks for reporting the issue and providing all the details to me.

The problem is that my authentication service was not respecting pre-existing authentication properties sent to a a challenge. Previously I was doing
[code]
but now I hav

[2018-10-18 05:34] AndreSteenbergen commented on #76
Nice. If you want to fork the Identity example, by all means, go ahead. It's an in memory store, so all restarts will end up in a deletion of the database, but any Identity user would know how to have persistence.

[2018-10-19 19:22] #62 closed, assigned to nobody

[2018-10-19 19:24] #67 closed, assigned to AndrewTriesToCode

[2018-10-19 19:24] #68 closed, assigned to AndrewTriesToCode

[2018-10-19 19:24] #69 closed, assigned to AndrewTriesToCode

[2018-10-19 19:24] #71 closed, assigned to AndrewTriesToCode

[2018-10-19 19:24] #76 closed, assigned to AndrewTriesToCode

[2018-10-20 09:08] clinically-au opened #78 "Failed Authorization doesn't redirect to tenant's login page"

[2018-10-20 09:12] clinically-au commented on #78
Hi.
Thanks for this awesome project!
I am exploring the v2.0.0 samples, specifically IdentityDataIsolationSample.
I've added a Test view & controller, and added the [Authorize] attribute.

If the user is not currently logged in, it does not redirect to the URL set by options.LoginPath in CookieAuthenticationOptions ($"/{tenantInfo.Identifier}/Home/Login").

Instead, it redirects to /Identity/Accou

[2018-10-20 14:04] AndrewTriesToCode commented on #78
Hi @wojtj
Thanks for reporting this issue. I was in a rush and that sample was the last thing I updated--looks like I was too much in a rush.

I was able to reproduce the problem--I will try to work out a solution soon. I also see I forgot to add `WithRemoteAuthentication` but that is not related. Thanks again.

[2018-10-20 14:47] AndrewTriesToCode commented on #78
@wojtj I was able to nail it down to Identity overwriting our cookie login value. It turns out this only happens with `AddDefaultIdentity` but not with `AddIdentity`. I found this issue just recently reported here:
https://github.com/aspnet/Identity/issues/2019
As you can see I commented and I encourage you to do the same.

As a workaround you can add a call like this after `AddDefaultIdentity`:
[

[2018-10-21 00:54] clinically-au commented on #78
Thanks!

Setting the path in services.PostConfigure fixed it.

[2018-10-21 00:54] #78 closed, assigned to AndrewTriesToCode

[2018-10-21 01:16] clinically-au opened #79 ""Global" login page possible?"
Hi

I was wondering whether it would be possible to have a generic / global login page for all users, and redirect to the correct tenant for that user **after** login. This would preclude users having to know the tenant name.

In other words, all users login at example.com/Account/Login.
On successful login, redirect to example.com/{tenant-associated-with-user}/Home
?

This would of course require

[2018-10-26 18:10] AndrewTriesToCode opened #80 "Known Issues with Finbuckle.MultiTenant and ASP.NET Core Identity"
Hello, this announcement is to describe known issues with Finbuckle.MultiTenant and ASP.NET Core Identity. The first two are specific to the`IdentityDataIsolationSample` project and the third is a bug in Identity itself. These items will be resolved future releases, but since some of them are dependent on ASP.NET Core I can't say for sure when that will be.

1. The sample configures Google authent

[2018-10-26 18:20] AndrewTriesToCode commented on #79
Hi @wojtj sorry for the late reply.

I haven't tried to build anything like that but I think it could work. It would be sort of like Github where you have an account but can also be part of different orgs.

I think Identity wouldn't interact much with Finbuckle.MultiTenant in this situation. The Identity `User` class would need to somehow track the tenant(s) for each user and redirect them to a pr

[2018-11-05 11:35] Hameds opened #81 "MultiTenantIdentityDbContext with EFCoreStore"
Hi

I found this project when I was searching about multi-tenancy and it seems that `2.0.0` supports `EFCoreStore` but how can I use `EFCoreStore` with `MultiTenantIdentityDbContext`? even [sampe code](https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/master/samples/IdentityDataIsolationSample) uses `InMemoryStore`

[2018-11-30 09:47] mcinnes01 opened #82 "Hostname strategy"
Hi

I am struggling to get the hostname strategy working. I'm using the EFCore InMemory store, which I populate with "TenantInfo" items. I've assumed the hostname should be set against the "Identifier" property so my setup looks like the following:

[code]

Currently I seem to get no tenantInfo when I call:

`HttpContext.GetMultiTenantContext()?.TenantInfo;`

My setup is meant to use our tenant da

[2018-11-30 14:56] AndrewTriesToCode commented on #82
Hi Andy, thanks for the detailed write-up. By default the host strategy looks at the left-most subdomain in the host. I think in your case you want to look at the entire host right? Try this variation in your `ConfigureServices`:

`...WithHostStrategy("__tenant__");` (note there are 2 underscores before and after 'tenant')

Fyi this is from a previous blog post about this:

Also you stated that yo

[2018-11-30 15:30] mcinnes01 commented on #82
Hi

Thanks for the quick reply, I did a little debugging and got it working with a custom strategy as I was struggling getting around the regex manipulation in the HostStrategy but I'll try out your examples and see if I can avoid that.

[code]

Perhaps I didn't explain very well regarding the store....

So basically we have a database that has all the tenants configuration data in, however this i

[2018-11-30 16:10] AndrewTriesToCode commented on #82
Andy, very interesting stuff you are working on. I took a closer look at my code and unfortunately it has an implicit assumption that the identifier in the host will be a single segment, i.e. it will not contain any `.` characters. This obviously doesn't work in your situation. I think your custom strategy is a better idea for your needs.

[2018-12-04 10:52] mcinnes01 commented on #82
Great thanks, I got it all working, I've managed to integrate finbuckle with the modular ef context approach.

[code]

And my options:

[code]

And the startup:

[code]

[2018-12-04 10:52] #82 closed, assigned to nobody

[2018-12-06 06:25] clinically-au commented on #81
I find that you need two separate databases and DB contexts - one to store the tenant information, and the other for the actual data (including Identity).

So, starting with the IdentityDataIsolationSample, you basically need to add the bits from the EFCoreStore sample.

            services.AddDbContext<TenantDbContext>(options =>
                options.UseSqlServer(Configuration.GetConnectionSt

[2018-12-06 18:48] AndrewTriesToCode commented on #81
Hi @Hameds, sorry for the late reply. @wojtj has the right idea (thanks for your reply!). Typically your multitenant store will be a separate database and context than your actual application data.

In the example you linked I am trying to focus only on the Identity data being multitenant, and so I used the simpler inmemory multitenant store. If you look at the [EFCoreStore Sample](https://github.

[2018-12-06 20:04] matthewtamm opened #83 "Multiple external logins cause PK error in AspNetUserLogins"
Hi Andrew - great project!

I am just using to explore ideas at present, stumbled upon what I think is a minor issue (read: easy fix) with external logins .. consider 2 tenants, with one external user, a customer of both tenants

The **AspNetUserLogins** table has a primary key defined on **LoginProvider** and **ProviderKey** only - so this external user can only exist once, associated to the firs

[2018-12-06 21:17] AndrewTriesToCode commented on #83
Hi @matthewtamm  good catch. I had to do a similar thing for the user and role entities in `OnModelCreating` [here](https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/master/src/Finbuckle.MultiTenant.EntityFrameworkCore/MultiTenantIdentityDbContext.cs). I think I can also adjust the primary key for this entity too for the next release.

[2018-12-06 21:19] AndrewTriesToCode commented on #79
Update: I'm going to try to make a sample project for this use case over the holidays. If successful I'll add it to the rest of the project samples.

[2018-12-07 06:30] AndrewTriesToCode opened #84 "Update project for .Net Core 2.2"
Update all samples to use the latest .Net Core 2.2 references. Update core and tests to use 2.* syntax.

[2018-12-07 06:34] AndrewTriesToCode opened #85 "Identity Data Isolation sample renders poorly"
My sample apps all use Bootstrap 4, but the default Identity Razor UI uses Bootstrap 3 so things do not render correctly. ASP.NET Core 2.2 introduced a way to tell Identity to use Bootstrap 4 so I will update the sample accordingly. Related to #80.

[2018-12-07 06:40] AndrewTriesToCode opened #86 "Identity Data Isolation sample bug with Google login provider"
The sample configures Google authentication as a social login provider, but fails to call WithRemoteAuthentication after AddMultiTenant. This results in a user not being set up with the correct tenant when forwarded back to the app from Google. To fix this add a call to WithRemoteAuthentication after AddMultiTenant in the ConfigureServices method. Related to #80.

[2018-12-07 06:41] #57 closed, assigned to nobody

[2018-12-07 06:41] #64 closed, assigned to nobody

[2018-12-07 06:42] AndrewTriesToCode opened #87 "Add docs to repository"
I have a set of Markdown based documentation files that I need to add to the repository.

[2018-12-07 06:47] AndrewTriesToCode opened #88 "Host strategy should work across host segments"
The host multitenant strategy assumes the tenant identifier will be fully contained in a single host segment. This prevents situations where you would want my tenant.net and mytenant.com to be different tenants.

I will adjust the pattern matching to take into account a `.` in the tenant name.

**Update** - After looking into this supporting `.` in the tenant identifier would break the use of the

[2018-12-07 07:05] Hameds commented on #81
Hi @wojtj and @achandlerwhite
Thanks for the reply. I will check that

[2018-12-10 10:26] chernihiv opened #89 "Reset tenant cache"
Having set configuration first time (e.g. cookie, oidc, etc), I didn't manage to invalidate it later. Research within existing and closed issues wasn't successful, therefore I decided to create new issue.

Tenant configuration is being changed during period of time: e.g. database connection, OIDC secrets, etc.
Is there any possible way to reset cache for specific tenant?

As enhancement, there sho

[2018-12-10 13:16] chernihiv commented on #89
I found out how to clear whole cache.

Resolve `IOptionsMonitorCache` using DI, e.g. `IOptionsMonitorCache<TOptions> monitorCache`  where `TOptions` is `OpenIdConnectOptions` in case with OIDC and call Clear `monitorCache.Clear();`

There is `monitorCache.TryRemove("NAME")`, but all items contains unique names, e.g. `2GgPKVmFOyU9O2oTbA+1NLAJI40=oidc`.
Having passed name as `oidc`, it will remove a

[2018-12-10 14:31] AndrewTriesToCode commented on #89
Hi @chernihiv

You figured it out! Thanks for replying with your findings so that others can see.

As you saw passing in an option name (without specifying tenant) will remove that named option for all tenants from the cache. the options will get recreated next time they are needed for each tenant. Maybe I should add an API that will let you clear the option for a specific tenant only.

[2018-12-10 14:54] chernihiv commented on #89
@achandlerwhite
It would be great.
I investigated further and figured `MultiTenantOptionsCache` out. It overrides methods of `OptionsCache` and uses `AdjustOptionsName` for name composing. Anyway, it won't work in my case with `TryRemove` if I compose option name using similar algorithm.
Therefore, it would be nice to have option to clear cache only for specific tenant, instead thousands.

Thank y

[2018-12-11 15:14] AndrewTriesToCode opened #91 "TenantInfo constructor not setting `Items`"
Per PR #90, @chernihiv discovered that the tenant info constructor has a bug.

[code]

[2018-12-13 11:57] mcinnes01 opened #93 "Finbuckle with IdentityServer"
Hi

I just wondered if you have managed to get IdentityServer 4 to work with Finbuckle?

I've got my IdentityServer host working in multi-tenant mode using your MultiTenantIdentityDbContext, the custom hostname strategy against an IdpHostname in the TenantInfo and a TenantStore as we discussed previously. That bit seems to be working nicely.

I then have an API which is a client in the IdentitySer

[2018-12-13 15:11] AndrewTriesToCode commented on #93
Hi @mcinnes01

I have not tried this yet. I actually thought getting the multitenant identity part would be the harder thing--which you already did!

Internally, as long as IdentityServer4 is using `IOptions`, `IOptionsSnapshot`, or `IOptionsMonitor` when it needs the option values it should work as long as a tenant was detected (i.e. `HttpContext.GetMultiTenantContext().TenantInfo` exists). I did

[2018-12-13 15:13] AndrewTriesToCode opened #94 "Add logging for per-tenant options"
Logging is in place for tenant detection, but not for options generation. When options are created and customized per tenant Finbuckle.MultiTenant should log descriptive messages,

[2018-12-14 05:57] #91 closed, assigned to AndrewTriesToCode

[2018-12-14 06:00] #84 closed, assigned to AndrewTriesToCode

[2018-12-14 12:00] mcinnes01 commented on #93
Hi @achandlerwhite

So this is my identity server startup which is working, I had an issue with it not setting cookies, so I removed the additional cookie conifg as I am using different domains it will create the cookies appropriately anyway.

[code]
Then on my API I have the following:

[code]

The problem I'm having is that the items is null in this bit of code, so I'm unable to retrieve the Idp

[2018-12-16 05:11] AndrewTriesToCode opened #98 "Order of routes in route strategy"
ASP.NET Core does route matching first on explicitly registered routes and THEN on attribute routes. Finbuckle.Multitenant does this in the opposite order and should be changed to match ASP.NET Core.

[2018-12-16 05:16] #98 closed, assigned to nobody

[2018-12-17 13:41] mcinnes01 opened #100 "Items not set in WithPerTenantOptions"
Hi,

I know there was a bug you fixed where Items weren't being set, so I've pulled master down so it is correctly setting the items on TenantInfo. However in WithPerTenantOptions, when I try to access items, there are no items available.

[code]

This is where I set them called from the Configure method:

[code]

[2018-12-17 14:15] AndrewTriesToCode commented on #100
@mcinnes01
Hm, your code here looks ok. Do you have a project I can look at to see the problem when the app is running?

As a test, I would set up a simple controller and in its dependency injection get `IOptions<IdentityServerAuthenticationOptions>` and check the values within the controller to see if they were set for the tenant.

It's possible  that IdentityServer is using these options during

[2018-12-18 05:51] AndrewTriesToCode commented on #100
Hi, I was able to get this to work today using the IdentityServer4 Quick Start Sample 1 for the client credential flow. I will clean up my sample and post it on GitHub later. Here are some thoughts:

- Make sure you are calling `app.UseMultiTenant()` before `app.UseAuthentication()` in `Startup.Configure` so that the tenant will be set and the correct options will be created.
- `IdentityServerAuth

[2018-12-18 09:21] mcinnes01 commented on #100
Hi

Great stuff, I'll try out your ideas above shortly and let you know how I get on. Does this deal with dynamically resolving the clients per tenant? I'd made an implementation of IClientStore whilst playing with it, and I resolved the tenant from the context to build tenant specific clients. I guess what would be cool is if I cached them and then resolved them by tenant id.

Good work and I loo

[2018-12-20 15:59] chernihiv commented on #89
Hi @achandlerwhite
Could you say why do we need to hash Tenant ID + Option Name in `MultiTenantOptionsCache`?
The only one thing I come up with is to receive proper Latin symbols (using base64), isn't?

[2018-12-20 16:53] AndrewTriesToCode commented on #89
Hi, if we just did tenantid + option name there is potential for conflicts.

Imagine options named "option1" and "ption1" and tenants with ids "tenant1" and "tenant1o". Now suppose you have the tenant id + option name of "tenant1option". Is this tenant1 + option1 or is it tenant1o + ption1. Impossible to say because it matches both. The hash of tenant ID prevents these possible overlaps.

May I as

[2018-12-20 17:00] AndrewTriesToCode opened #102 "Add interface for accessing tenant options"
The normal way to get options in ASP.NET Core -- `IOptions<MyOptionType>` etc. will provide the options for the current tenant only. If you look under-the-hood you will see that each tenants options are cached in  way that makes it difficult to retrieve or clear the cached options for a specific tenant (ie other than the current tenant).

There should be a way to access or clear the cached options

[2018-12-21 12:37] chernihiv commented on #89
Thanks you for full explanation, got it now, you are right.

I have multi tenant app, where each tenant have personal configuration, e.g OIDC. Therefore, I use extension method `WithPerTenantOptions<OpenIdConnectOptions>` to configure it per tenant (initialized first time and cached), however, configuration of OIDC per Tenant is hosted on separate server as microservices.
Having updated this confi

[2018-12-21 14:31] chernihiv opened #104 "Schema per Tenant isolation"
I have noticed that implementation of 'IAuthenticationSchemeProvider' shares the same schema across all tenants. It would be terrific to have dynamic schemas (e.i. external providers) configured separately for each tenants (on runtime).

May you say if it is on roadmap?

[2018-12-21 14:38] chernihiv commented on #104
I would like to inherit from `MultiTenantAuthenticationSchemeProvider` and override standard behavior, but it's internal. As far as I understand, it's easy to change making `_schemes` per tenant specific.
Are there any pitfalls?

[2018-12-21 21:53] AndrewTriesToCode commented on #104
Hi @chernihiv, it should already be be pulling the schemes per tenant--that is why I made that class. I just wrote a unit test to confirm it works and merged into master.

If you want each tenant to have a different `DefaultScheme`, `ChallendgeScheme`, etc per tenant:

1.  Call `WithRemoteAuthentication` after `AddMultiTenant` (this registers the `IAuthenticationSchemeProvider).
2. Call `WithPerTe

[2018-12-21 22:14] AndrewTriesToCode commented on #100
@mcinnes01, I haven't played with `IClientStore` yet--but I think `MultiTenantDbContext` (similar to `MultiTenantIdentityDbCotext` but without Identity stuff) could be used to good effect.

With respect a per-tenant container, do you mean a per-tenant dependency injection container? I haven't put too much thought into it. I thought maybe a "Tenant" lifetime option next to Singleton, Scoped, and Tr

[2019-01-05 11:54] chernihiv commented on #104
Hi @achandlerwhite
It could be my fault, I don't know how Authentication and Finbuckle.MultiTenant work under hood well.
However, I try to add different external providers for different tenants. Let it be: `A`, `B`, `C` tenants.
I use `AuthenticationSchemeProvider.AddScheme(..)` to add new schema on demand. Configurations could be changed anytime runtime for any tenant.
E.g.
- `A` tenant should ha

[2019-01-05 12:00] chernihiv commented on #104
AFAIK, `WithPerTenantOptions<AuthenticationOptions>` allows to override configuration of `DefaultScheme`, `DefaultAuthenticateScheme`, `DefaultSignInScheme`, and so on per tenant.
But in my case I need to configure list of Schemes (e.g. Facebook, Google, etc..) per Tenant.

[2019-01-08 01:36] AndrewTriesToCode commented on #104
Hi @chernihiv --sorry for the slow reply.

You could add a different scheme for each tenant, but with Finbuckle I went with an options customization approach instead because I didn't want to have multiple schemes that were essentially the same scheme.

I would recommend that you add a single scheme for each type of provider in your `ConfigureServices`. Each type also has its own options such as Op

[2019-01-08 01:45] AndrewTriesToCode commented on #104
I want to add more to directly address your question-- if you want to explicitly control which authentication methods are available to a tenant you will need to store which schemes are applicable somewhere--maybe add a `List<string>` to the tenantInfo Items collection for each tenant so it knows which authentication options to show the user? You would then tell ASP.NET Core to challenge with the a

[2019-01-13 18:51] #85 closed, assigned to AndrewTriesToCode

[2019-01-15 20:40] aceptra opened #107 "Disallow Routes"
Looking for sample code regarding routing only to login-logout and tenant routes.

        private void ConfigRoutes(IRouteBuilder routes)
        {
            routes.MapRoute("Default", "{__tenant__=}/{controller=SomeController}/{action=Index}");
            routes.MapRoute("Login", "{controller=Account}/{action=Login}");
        }

As per examples **ConfigRoutes** is called by both service setu

[2019-01-16 02:21] AndrewTriesToCode commented on #107
Hi @aceptra

If you just had the first route then a tenant would be required in the path--any other request would fail.

However your second route, which defaults to Account/Login, is letting anything else through without a tenant. Are you trying to have a common login page that doesn't care about the current tenant? If so then just a route of `routes.MapRoute("Login", "Account/Login", { controlle

[2019-01-16 23:13] aceptra commented on #107
I think I got what I need based on your response. FYI, I'm using Auth0 for SSO/

I originally tried a shared login URL

I'm trying now without the "login" route, just using the "default" route as per your samples:
            routes.MapRoute(
                name: "default",
                template: "{__tenant__}/{controller}/{action}",
                defaults: new { __tenant__ = "", controller

[2019-01-21 04:41] AndrewTriesToCode commented on #107
With regard to a default tenant, you an set a default route parameter like so:
[code]

You could also create your own `IMultiTenantStrategy` which falls back to a default, but that is a little more complicated.

@aceptra sorry for the slow reply. I plan to have a sample based on email for a shared login page early this week. A claims-based is an interesting idea--I will think about how that might

[2019-01-22 04:18] #83 closed, assigned to AndrewTriesToCode

[2019-01-22 04:39] AndrewTriesToCode commented on #26
Implemented in PR #73

[2019-01-22 04:39] #26 closed, assigned to nobody

[2019-01-22 04:42] AndrewTriesToCode commented on #86
Fixed in v2.0.2 and PR #106

[2019-01-22 04:42] #86 closed, assigned to AndrewTriesToCode

[2019-01-22 04:43] #80 closed, assigned to nobody

[2019-01-22 04:45] AndrewTriesToCode commented on #88
Inadvertently closed.

[2019-01-22 23:21] aceptra commented on #107
No problem at all with the delay. I appreciate your insight.

I look forward to your examples using shared login with email as a tenant identifier. We will likely use something in claims as the identifier.

Thanks again!

[2019-01-22 23:47] AndrewTriesToCode commented on #107
@aceptra I'm curious, where will you get the claims from? In your case are you routing all people to the same external identity provider?

[2019-01-23 00:06] aceptra commented on #107
Yes at the moment all are going through same identity provider. Tenancy as divided up by some kind of user metadata.

I'm thinking the userinfo of Auth0. We're still in the planning of this, so not locked in. And for transparency sake I'm not sure if that is actually the set of claims or not (token claim). It is a little bit of a new subject for me.

I wonder if the muiltiple per-tenant login is a

[2019-01-23 01:13] wros opened #109 "Identity DbContext CacheFactory Bug"
Hi i got this bug on Identity **DbContext**  cache resolution. If use a derived base class with three or more generic arguments, the tenant is not change.

Sorry for the bad english.

Original Code:

[code]

My workaround

[code]

[2019-01-23 14:53] AndrewTriesToCode commented on #109
@wros Hi, thank you for finding this bug! Your English is very good, no problem!

Looking at the code I just realized that all the `MultiTenantIdentitityDbContext` types all derive from `MultiTenantIdentityDbContext<,,,,,,,>` so I can probably simplify the entire function to something like:

[code]

I can't remember if I tried this before and because of generics it didn't work, hence my current co

[2019-01-23 20:47] wros commented on #109
@achandlerwhite Hi,

I tested your code, but generic type fails on comparison. This method only work if use **.GetGenericTypeDefinition()** but the result is the same of my previous code and more complex.  I attached a image of the VS watch.

![image](https://user-images.githubusercontent.com/26489708/51636004-46a30400-1f3f-11e9-8d1b-57cdc29c4a01.png)

[2019-01-23 21:46] wros commented on #109
Sorry, I closed it by mistake.

[2019-01-26 01:15] #79 closed, assigned to AndrewTriesToCode

[2019-01-26 01:19] AndrewTriesToCode commented on #109
@wros You are right. You're fix is the right way to go. Do you want to submit a pull request?

[2019-01-26 01:22] AndrewTriesToCode commented on #107
@aceptra Hi I just merged a PR with a new sample for a shared login page--I hope you can see from that how it might work using claims instead of email address.

You could have the best of both worlds by doing per tenant OpenID connect options -- for most tenants have them point to the same identity provider (like you have now), then if any tenant wants to use their own identity provider for SSO or

[2019-01-28 16:53] wros commented on #109
@achandlerwhite

 You can include it in an existing PR, no problem.

[2019-02-01 20:59] aceptra commented on #107
Closing this for now. I got what I need... I think. I see the new sample.

Thanks again.

[2019-02-01 20:59] #107 closed, assigned to nobody

[2019-02-01 21:03] aceptra opened #111 "Best way to get TenantInfo (tenant context) in View"
I'm using a shared _Layout view for the application.

What is the best way to get the TenantInfo on the View in razor? Note that I'm generally not using a ViewModel within Views to return via the Controller.

Something like:
@{
    @using Finbuckle.MultiTenant
    var tenantInfo = HttpContext.GetMultiTenantContext()?.TenantInfo;
}

But that is no-go.

[2019-02-01 21:18] aceptra commented on #111
Never mind. Answered my own question.

@{
    @using Finbuckle.MultiTenant
    var tenantInfo = Context.GetMultiTenantContext().TenantInfo;

    string tenantName = tenantInfo.Name;
}

[2019-02-01 21:18] #111 closed, assigned to nobody

[2019-02-21 01:04] #88 closed, assigned to AndrewTriesToCode

[2019-02-21 01:15] AndrewTriesToCode commented on #87
Closed with PR #95

[2019-02-21 01:15] #87 closed, assigned to AndrewTriesToCode

[2019-03-05 19:27] m3gawatt commented on #93
Hi @mcinnes01 did you every manage to resolve the idpHostName?

[2019-03-07 03:29] AndrewTriesToCode opened #113 "Allow setting MultiTenantContext"
Currently there is only `GetMultiTenantContext`, but no way to easily set it. E.g. the shared login standard has to use reflection to update it.

This story adds a SetMultiTenantContext (or in C# 8 maybe use an extension property?) which will allow changing the context and thus tenant, strategy, and store info objects.

Note - will need to test that singleton, scoped, and transient per-tenant opti

[2019-03-07 14:45] #81 closed, assigned to nobody

[2019-03-09 01:12] #89 closed, assigned to nobody

[2019-03-09 01:20] #109 closed, assigned to AndrewTriesToCode

[2019-03-09 01:48] AndrewTriesToCode commented on #48
Done!

[2019-03-09 01:48] #48 closed, assigned to AndrewTriesToCode

[2019-03-09 01:49] AndrewTriesToCode commented on #102
Partially, implemented with 3.0. Still cannot access options for a different tenant--but I am not sure that is a good idea anyway. Closing this story for now.

[2019-03-09 01:49] #102 closed, assigned to AndrewTriesToCode

[2019-03-13 23:13] ericsports opened #117 "Can't update record"
When trying to update a record for a simple class, I am getting the following error message:

`MultiTenantException: 1 modified entities with TenantId not set.`

Looking directly at the database, I can see that the TenantID is set just fine when the record was created.

Any ideas why this may be happening?

[2019-03-13 23:28] AndrewTriesToCode commented on #117
Hi @ericsports

It might be set in the database but for some reason the entity in memory doesn’t have it set. Can you link me to a simple project that recreates the problem? I’d be happy to take a look.

[2019-03-13 23:42] ericsports commented on #117
@achandlerwhite Thanks for the reply, I have sent you a message with the project attached.

[2019-03-14 03:39] AndrewTriesToCode commented on #117
Thanks @ericsports I got the project. I was able to start it up and run it. I did change the Sql Server database to use the in-memory variant because I'm on a Mac (haven't tried setting up Sql Server on it yet).

I see you have the localhost resolving to the "baxter" tenant. I am able to register a user with Identity and was able to update the phone number for that user.

What was it in the app th

[2019-03-14 03:46] ericsports commented on #117
Thanks for looking at it!  It was the SiteSettings found in the models folder (there is already a controller set up, you can access it at /SiteSettings)

I can create new ones, delete them, but if I go to edit and save, that's when I got the error.

[2019-03-14 03:59] AndrewTriesToCode commented on #117
Thanks. I will take a look tomorrow.

[2019-03-14 03:59] ericsports commented on #117
Thanks @achandlerwhite , appreciate it!

[2019-03-14 15:45] ericsports commented on #117
I've gone ahead and downloaded the actual samples and tried to add a simple class (with proper annotation) to that and scaffold it as well.  Same outcome directly from the samples, can create, can delete, but get that same error when trying to update.

[2019-03-14 23:14] AndrewTriesToCode commented on #117
Hi again, I see the issue.

Because you are using `_context.Update(siteSettings)` to do a direct update the tenant id is not set on the "untracked" entity because tenant id is a shadow property in EFCore.

You have a few options:
1) Use `TenantNotSetMode.Overwrite` which will plug in the tenant Id when saving. Note that this settings will be in effect for any future saves on the same dbcontext in

[2019-03-14 23:47] ericsports commented on #117
Thanks for the explanation, really appreciate your help.

[2019-03-14 23:47] #117 closed, assigned to nobody

[2019-03-19 18:32] ericsports commented on #81
@achandlerwhite Regarding your response and having it be in a single database, how would you go about setting up the services.AddMultiTenant part in the startup file? When attempting to add 'WithEFCoreStore' and adding the DbContext, I'm getting an error that there is no reference conversion.

Any help is much appreciated!

[2019-03-19 23:15] ericsports opened #118 "Should EF Core Store hit database with every request?"
I understand why the database would be hit every request initially, but am I missing an option where the store is cached somewhere perhaps so that it's not hitting the database with every http request?

[2019-03-20 22:38] AndrewTriesToCode commented on #118
Hi @ericsports
You aren't missing anything. The EFCore Store is pretty basic--but in practice I haven't seen a performance problem. I usually use it with Sql Azure which does some caching at the db level. A store using Redis or something could easily be created by implementing IMultiTenantStore but I there is nothing like that in the repo.

[2019-03-23 01:03] #118 closed, assigned to nobody

[2019-03-29 16:49] ghost opened #119 "Fix for #109 not included in 3.0.0 NuGet and global query filter uses constant value for tenant ID"
Hi, I really like your library.

Unfortunately, the fix for #109 does not seem to actually be included in 3.0.0 on NuGet even though it's in https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/v3.0.0.

I got confused while debugging for a while because my `OnModelCreating` wasn't firing per tenant and I was refering to the source code here until I decompiled the binary and saw the original bug

[2019-03-29 17:04] AndrewTriesToCode commented on #119
Wow thanks for finding this and letting me know! I’ll put out a release ASAP.

[2019-03-29 17:28] ghost commented on #119
Wow that's a quick follow-up!

Are you open to other contributions/pull requests/etc.?

I'm interested in restructuring the packages a bit to help with unnecessary dependencies. For example, my entity models are in a separate project from my context and entity type configurations, and so my model project has no dependencies on EF Core, ASP.NET Core, but in order to add the `[MultiTenant]` attribut

[2019-03-29 17:29] AndrewTriesToCode commented on #119
Also, your point on using an expression parameter over a constant is a great one. Do you want to submit a pull request for that? I'm happy to do it, but I always want to make sure people contribute officially if they want to.

[2019-03-29 17:33] ghost opened #120 "Docs issues"
The link to https://www.finbuckle.com/MultiTenant/Docs/EFCore#configuring-with-asp.net-core on the left-side nav doesn't work because jQuery sees the period as a class name identifier so it's looking for` id="configuring-with-asp" class="net-core"`.

The _Data Isolation with Entity Framework Core_ and _Data Isolation with ASP.NET Core Identity_ sections refer to `TenantContext` as a context constr

[2019-03-29 17:42] ghost commented on #119
I don't have it in a fork at the moment (I just implemented it directly in my project as an experiment) but I can put it into one and submit a PR later today. If you don't want to wait though, feel free to lift it from the original comment.

I'm not sure if you want to leave the call to use `MultiTenantModelCacheKeyFactory` or not though. I'm not sure if anyone would be depending on it for anythin

[2019-03-29 17:51] AndrewTriesToCode commented on #119
Definitely open to contributions. I agree that the structure could be rethought. I originally tried to separate things out logically, but as it developed the benefits were lost. I realized this around the time I wanted to add the EFCoreStore but couldn't decide where it fit in best. My use cases are mostly typical use both MVC and EFCore in a single project so it hasn't impacted me too bad yet.

R

[2019-03-29 18:34] ghost commented on #119
I submitted PR #121 for the query filter parameterization.

[2019-03-29 18:53] AndrewTriesToCode commented on #120
@webwizgordon
Thanks I just updated the website. No code changes in this repo--the site is a separate repo.

[2019-03-29 18:53] #120 closed, assigned to nobody

[2019-03-29 19:36] ghost commented on #120
No problem. Is there a better spot to report issues with the site? I saw the docs folder here and it seems to match the site so I figured they came from here.

BTW It looks like the data isolation pages are still out of date with `TenantContext`.

[2019-04-01 15:28] AndrewTriesToCode commented on #120
This is the best place to report docs issues-- the content is actually the markdown files in this repo and can be updated via PR, but the actual website is separate-- it dynamically generates the  document navigation based on the markdown in this repo.

[2019-04-02 00:50] AndrewTriesToCode opened #123 "Clean out old uses of TenantContext"
The docs and code have numerous references to `TenantContext` which should be changed to `TenantInfo` or similar.

[2019-04-03 02:31] #119 closed, assigned to nobody

[2019-04-03 02:32] #123 closed, assigned to nobody

[2019-04-10 03:28] pjtalkstech opened #127 "Question: Is it possible to get MultiTenantContext (using extension method) while making Ajax calls?"
I see the source code GetMultiTenantContext extension method relies on HttpContext's Items dictionary property. If it is full page post back Items property has tenant information. If it is Ajax call Items property is empty. Is there way to make it work for Ajax calls.

Sorry if this previously answered.

[2019-04-10 04:37] AndrewTriesToCode commented on #127
Hi @chintupawan

This is a great question. I don't do much front-end stuff so I hope I can help. Are you using CORS? Does an Ajax call route into the correct controller/action?

Can you post the Ajax code you are using? Can you also post your `ConfigureServices` and `Configure` methods in the ASP.NET Core startup?

In theory an Ajax call should work just like a regular call from ASP.NET Core's per

[2019-04-10 04:55] pjtalkstech commented on #127
@achandlerwhite  thanks for your quick response. I was using Finbuckle Multitent Middleware inside another Middleware. My order of registration of these Middlewares are wrong. Multitenant Middleware should go first. Once I do this I see Items property is filled with MultiTenantContext.

Thanks

[2019-04-10 04:55] #127 closed, assigned to nobody

[2019-04-10 05:16] AndrewTriesToCode commented on #127
I’m glad you figured it out. Let me know if you run into any more problems.

[2019-04-24 19:32] ericsports opened #130 "Accessing entities from other tenants"
I have a need where I want to be able to access entities (including users, roles) from another tenant, that is one that is being set up to administer users and other items for other tenants.  I very well could be doing this in the wrong approach, but was just wondering if there were a way for this sort of functionality?

Any help is much appreciated!

[2019-04-24 20:58] AndrewTriesToCode commented on #130
Hi @ericsports

Are you using normal LINQ queries to try to access the entities that belong to other tenants?

If so this should be easy. Internally Finbuckle.MultiTenant sets a global query filter. This can easily be bypassed for a query as shown in this link:
https://docs.microsoft.com/en-us/ef/core/querying/filters#disabling-filters

Let me know how it goes.

[2019-04-25 01:24] ericsports commented on #130
That does the trick, thanks!

[2019-04-25 01:24] #130 closed, assigned to nobody

[2019-05-02 13:52] aceptra opened #131 "User URL Restriction Per Tenant Based on Claim"
Thanks for your help on this previous issue: https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/107#issuecomment-457787672

We've progressed (after dodging some other projects here and there). Either per-Tenant SSO Provider or Shared works (for the auth cookie).

We're using the url for the tenant store. How can we restrict URLs per user? Maybe this is in the examples already.

User1 has a

[2019-05-02 18:05] AndrewTriesToCode commented on #131
Hi, if you use the normal ASP.NET Core authorization it should prevent them because if they visit that url they will not be logged in (if your per tenant cookie options are set correctly). If that doesn’t seem to be working for you post a sample of your code and I’ll be happy to go into more depth.

[2019-05-07 02:40] pkavan opened #132 "Questions about basic setup"
Thanks for creating this. For an earlier project I did on NET Core 1.x I used SaaSKit, but it doesn't seem to work for 2.x and I don't have the time to figure out why.

I used your samples to get the basics up on the new 2.x project I am starting. I can replicate the basic stuff in my new project -- getting the TenantInfo in a controller function and passing it to a page. works well.

However, I w

[2019-05-07 19:14] AndrewTriesToCode commented on #132
Hi @pkavan Thanks for the kind words and I'm glad you have found the library helpful. SaasKit is nice, but the ASP.NET Core 2 release really changed how things work and SaasKit hasn't been updated yet.

Your layout per tenant question is interesting-- I've tried to keep per-tenant logic in the Options patterns, but from what I can tell layout and view customization is a good example of where you h

[2019-05-07 19:21] AndrewTriesToCode commented on #132
On rereading your question, I'll add that in any view you can access the `TenantInfo` via the HttpContext (available to views as "Context"):
```Context.GetMultiTenantContext().TenantInfo```.

Also you can inject `MultiTenantContextAccessor` to get the MultiTenantContext (similar to `HttpContextAccessor`):
[code]

If you run into any problems please let me know.

[2019-05-07 19:27] pkavan commented on #132
Thanks for the prompt reply. I will give that a shot. Your  second response was really what I was getting after -- so thanks for re-reading :)

I asked about the _Layout Page specifically because I use a bootstrap nav with a couple of tenant specific settings and wanted to make sure I could do something similar to what I was doing with SaaSKit, which was....essentially

`@inject tenant`

...where

[2019-05-09 03:30] AndrewTriesToCode commented on #131
hi @aceptra , just want to follow up. Were you able to figure out how to make it work how you wanted?

[2019-05-09 21:46] VitoRomaniello opened #133 "Questions about custom multi-tenancy setup"
On my database SQL, using NHibernate, i have stored Tenant table one to many to User table and i have tenants.json with settings for each tenant like Id, Name, Theme etc...

When a user logs in to the web site I have to check in the database which tenant corresponds to.
Then, during the user session I would use, for example, TenantContext with specific tenant data in all the pages .cshtml i have n

[2019-05-09 23:02] AndrewTriesToCode commented on #133
hi @VitoRomaniello

Let me see if I understand your setup: you don't really know the tenant until they have logged in, right? In the [SharedLoginSample](https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/master/samples/SharedLoginSample) I did something similar--I used the domain part of the email to determine the tenant, then I changed the `MultiTenantContext.TenantInfo` to reflect the detec

[2019-05-10 04:14] AndrewTriesToCode opened #134 "Implement MultiTenantStrategyWrapper"
Similar to the `MultiTenantStoreWrapper`, the `MultiTenantStrategyWrapper` decorates the actual strategy providing logging and exception handling thus allowing the actual strategy to be as simple as possible.

[2019-05-10 04:59] #134 closed, assigned to AndrewTriesToCode

[2019-05-10 10:03] VitoRomaniello commented on #133
Hi Andrew, thanks for the suggestion.  Yes i don't know the Tenant until an user has logged in the site.
I only have to check the user's tenant on database and put tenant data on cookie value.
But i don't understand how to use these:
[code]
What is the identifier and how can i change the MultiTenantContext.TenantInfo in my case?

Can you give me please an example of the right way for my solution?

[2019-05-11 05:03] AndrewTriesToCode commented on #133
Hi again @VitoRomaniello
In the code above for the identifier I was using the the @_example.com_ part of the email address. With that as the identifier I could get the full `TenantInfo` from the `TenantStore`. The last line is just using reflection to set the new `TenantInfo` on the apps current `MultiTenantContext`. Ideally I could have just said `multiTenantContext.TenantInfo = tenantInfo` but `

[2019-05-13 07:54] VitoRomaniello commented on #133
Hi Andrew, first of all thanks for the support.
In Startup.cs i put only this code (i don't need route strategy or in memory store for now):

[code]

Then in my SharedLogin.cs:
[code]

[2019-05-15 00:13] pkavan commented on #132
@achandlerwhite I had a chance to look at my new project again. Thanks for the advice. That did the trick. I am now trying to figure out how to get my ApplicationDbContext to switch to the appropriate connection string.

[2019-05-15 03:17] AndrewTriesToCode commented on #132
Hi @pkavan,

If you are using DI to get a DbContext derived from `MultiTenantDbContext` then it will use DI to get the current TenantInfo and automatically use the `ConnectionString` property set for that tenant.

Take a look at the [Data Isolation Sample](https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/master/samples/DataIsolationSample). In that sample there are 3 tenants configured. Two

[2019-05-15 03:24] AndrewTriesToCode commented on #133
Hi @VitoRomaniello , sorry I couldn't reply sooner. I can see you are able to get the `TenantInfo` from your mediator. The part below that appears correct-- its using the `TenantInfo` object you got from the mediator and assigning it as the current tenant.

You don't appear to have the code that does the actual sign-in (which sets the sign in cookie for the tenant). Are you using Identity or just

[2019-05-15 03:44] pkavan commented on #132
@achandlerwhite Thanks. I looked at that. I can't seem to get how to set up my `AppDbContext` with the `TenantInfo` though. My setup looks like

[code]

Like I said, this part of the setup is my weakest area. I figured out how to change the connection string inside of a controller if I needed, but I have to have it setup earlier because my database has all the Identity stuff in there too and the f

[2019-05-15 04:22] AndrewTriesToCode commented on #132
Can you post the definition of your `ApplicationDbContext` class? If it derives from `MultiTenantDbContext` it will get the connection string from the tenant.

Also you should not specify the connection string in the startup because it will depend on the tenant during runtime. If you derive from `MultiTenantDbContext` as shown below then you can use the current tenant connection string in the cont

[2019-05-15 22:10] pkavan commented on #132
Thanks.

I modified configure services so its.

[code]

My `ApplicationDbContext ` is

[code]

So, the problem I have here is that I can't change my context that way, because I use it for my Identity stuff. Does that make sense?

[2019-05-16 16:36] AndrewTriesToCode commented on #132
@pkavan

I can see 2 options:

1) Change `ApplicationDbContext` to inherit from `MultiTenantIdentityDbContext` (which itself derives from `IdentityDbContext`, but adds multitenant support such as the `ConnectionString` for the current tenant I talked about).

2) Use DI to inject `TenantInfo` into your db context (just add it as a constructor parameters and ASP.NET
 Core should inject it). From tha

[2019-05-16 21:15] VitoRomaniello commented on #133
Thank you so much @achandlerwhite.

[2019-05-16 21:15] #133 closed, assigned to nobody

[2019-05-18 21:17] alexmaie opened #138 "Azure Webjobs"
Hey,

Can we use this library outside of asp core? As an example,we could put a message on a queue and have an  azure webjob process the message. The message has a tenant id and the webjob would save the changes to the appropriate database

Thanks
Alex

[2019-05-18 21:57] AndrewTriesToCode commented on #138
Hi @alexmaie
Yes, you can just reference the Finbuckle.MultiTenant.EntityFrameworkCore Nuget package then when you spin up a dbcontext that derives from `MultiTenantDbContext` make sure to provide the constructor a TenantInfo object. In ASP.NET Core DI handles this for you, but it can be done manually too.

[2019-05-18 22:03] alexmaie commented on #138
Hey, thanks for the quick reply.

I assume that I could also use the other base project (not asp core) since
I can't use ef core.

On Sun, May 19, 2019, 00:57 Andrew White <notifications@github.com> wrote:

[2019-05-21 01:39] pkavan commented on #132
@achandlerwhite I tried scheme two and determined that order in Startup.c matters. I had this:

[code]
The app would start okay and pass tenant info into my dB context. However, once I signed in, it would hit it a few more times. The first pass after login would have tenant info, but the second would be null.

After looking at it, I did this:

[code]

...moving UseMultiTenant() to the top of the s

[2019-05-21 03:26] AndrewTriesToCode commented on #138
Hi @alexmaie
Sure, the Finbuckle.MultiTenant.Core package contains things like the basic strategy, stores, and interfaces. I'm not sure how useful it will be without ASP.NET Core in the picture.

[2019-05-21 03:29] AndrewTriesToCode commented on #132
Yep, it definitely needs to be before `UseAuthentication`. I think its stated in the docs but I will check. You might still want `UseStaticFiles` before multi tenant though so that things like css and image files come through without any potential interference.

[2019-05-23 10:37] vlatkozmejkoski opened #139 "Per-tenant options not set for a class"
Hello,

I've been implementing a custom MultiTenantStore, since i am using a nosql database to store tenants. Now that part works as it seems, since i get the TenantInfo when i get the MultiTenantContext. Now the part where i setup per-tenant options for a class, , called TenantOptions, and has one property "ConnectionString", which i use to inject into my MongoContext to connect to the tenant-spe

[2019-05-23 13:47] AndrewTriesToCode commented on #139
Hi @vlatkozmejkoski Can you post a sample of what your `TenantOptions` class looks like? Also is `TenantOptions` registered for DI as a singleton, scoped, or transient?

In theory, in your mongo db setup area you will inject `IOptions<TenantOptions>`, `IOptionsSnaption<TenantOptions>`, or `IOptionsMonitor<TenantOptions>` from which you get the `TenantOptions` instance and it should pick up the ten

[2019-05-23 14:02] vlatkozmejkoski commented on #139
Hi @achandlerwhite. Thank you for the reply.
After i posted this i followed microsoft docs on options pattern and end up doing what you suggested.
But your other suggestion seems to be much better, injecting TenantInfo into mongo setup.

Thank you a lot.

[2019-05-29 03:30] #28 closed, assigned to nobody

[2019-05-29 03:30] #25 closed, assigned to nobody

[2019-06-02 15:12] pkavan opened #140 "Fallback Issue"
I am trying to employ the fallback tenant identifier

I set up ConfigureServices() with:

[code]

...where acmebank is one of my listed tenants.  I am getting the following when I launch in IIS Express:

[code]

Any clues on what to look at? Did I miss part of the implementation?

[2019-06-02 15:52] pkavan opened #141 "IIS Express Issue"
I like to use IIS Express during development as I deploy to IIS. However, that is always a little tricky with multi-tenant. SaaSKit resolves differently -- and I resolve using a DB -- so the host entries are stored there just differing ports, not with a subdomain.

With Finbuckle, I assume I need to modify the hosts file and perhaps do something with project properties. Do you have an example of w

[2019-06-02 16:09] pkavan commented on #141
I did manage to get it working for one tenant, when I try to navigate to the other, I get:

`HTTP Error 400. The request hostname is invalid.`

[2019-06-02 17:10] AndrewTriesToCode commented on #140
Hi @pkavan, this is happening probably because the tenant couldn't be found--maybe related to the IIS problem and the host strategy. The fallback strategy should be creating a TenantInfo though. Just as a test can you try changing the `WithHostStrategy()` to `WithStaticStrategy("acmebank")` and see if it works?

[2019-06-02 17:18] AndrewTriesToCode commented on #141
hi again @pkavan
IIS Express is very tricky to get working using subdomains. I've used the host strategy successfully in IIS deployments, but always had trouble with IIS Express in development. I use macOS mainly though so it isn't a problem I run into. I don't think its Finbuckle.MultiTenant specific though.

Taken from [here](https://stackoverflow.com/questions/19780091/how-to-use-subdomains-wit

[2019-06-03 04:03] pkavan commented on #140
I think the problem is deeper. I pulled down the master branch, built that, and imported the assemblies to my project. I removed the reference to the fallback and tried both the host and static strategies. I went directly to the acmebank.localhost reference. For all of those I get the same exception.

If I pull those assemblies and go back and grab GitHub 3.0.1 (?) release, it works

I have tried

[2019-06-03 04:52] AndrewTriesToCode commented on #140
It's very possible I broke something. Is your project on GitHub where I can see it?

[2019-06-03 04:54] AndrewTriesToCode commented on #140
Yeah... my database example is broken. I hope to find a quick fix.

[2019-06-03 05:16] #140 closed, assigned to nobody

[2019-06-03 05:18] AndrewTriesToCode commented on #140
Thanks for finding this bug! I just made a quick fix and added unit tests to catch it if I make the mistake again. The PR automatically close out this issue.  The master branch should be working now. I plan to release 3.1 later this week.

Thanks!

[2019-06-07 22:12] AndrewTriesToCode commented on #113
Change of plans: adding a function to set `TenantInfo` on the existing `MultiTenantContext`. Doing so will set `StoreInfo` and `StrategyInfo` to null.

[2019-06-09 02:22] #113 closed, assigned to nobody

[2019-06-13 22:45] AndrewTriesToCode opened #147 "Support many to many tenant - user relationship"
Most of the strategies and examples thus far assume that each tenant has its self-contained set of users. However, there are good use cases for a many-many relationship between users and tenants.

Goals:
- allow a user to belong to multiple tenants
- allow some mechanism for them to "navigate" between tenants.

Implications:
- if a user navigates to a certain tenant then we need to know where to s

[2019-06-13 22:56] AndrewTriesToCode opened #148 "Finbuckle.MultiTenant going forward"
Hello!

With the recent release of Finbuckle.MultiTenant 3.1.0 I am going to start shifting toward ASP.NET Core 3.0  support.  This means:

- Finbuckle.MultiTenant 4.0.0 + will require ASP.NET Core 3 (eventually 3.1 since it is an LTS release)
- Any future fixes for ASP.Net Core 2.1 will remain in the Finbuckle 3.1.x versions for Finbuckle.

I hope to take advantage of this to make a few improveme

[2019-06-13 22:58] AndrewTriesToCode opened #149 "Restructure project dependecies"
Currently MultiTenant.Finbuckle package pulls in:
- Finbuckle.MultiTenant.Core
- Finbuckle.MultiTenant.AspNetCore
- Finbuckle.MultiTenant.EntityFrameworkCore

However internally things are so clean. For example Finbuckle.MultiTenant.Core references Entity Framework because of the EFCoreStore... which means it pulls in a bunch of stuff even if you aren't using EFCore.

For 4.0 I plan to fix this.

[2019-06-13 23:00] AndrewTriesToCode opened #150 "Support multiple strategies and stores"
Currently only a single strategy and store can be used (with the exception of fallback strategy and remove authentication strategy which are hard-coded in).

I like the idea of a chain or pipeline of strategies and stores which are applied in sequence.

[2019-06-13 23:01] AndrewTriesToCode commented on #141
@pkavan Hi, did you ever have success getting this to work with IIS Express?

[2019-06-14 14:05] nbarbettini opened #151 "MultiTenantDbContext and other global query filters"
I like the fact that deriving from `MultiTenantDbContext` automatically applies a global query filter for `TenantId` without me thinking about it. However, there is currently no way to support additional query filters.

I have a multitenant app that also uses the "soft delete" pattern (the other [classic example](https://docs.microsoft.com/en-us/ef/core/querying/filters) of a global query filter).

[2019-06-14 14:07] nbarbettini commented on #151
What I'm currently doing is:

Adding a virtual method to `MultiTenantDbContext`:

[code]

Overriding it in my application's `DbContext`:

[code]

And doing some expression stuff in `Shared` to combine the result of `GetAdditionalFilter` (if it's not null) with the `TenantId` filter Finbuckle is already building.

[2019-06-17 01:33] pkavan commented on #141
Sorry, I have been busy with other projects and then a week and a half of a much needed vacation -- so I am just getting back to this today. I will let you know how it goes.

[2019-06-17 07:31] stuyun opened #152 "Batch migration database"
efcore  How do you migrate independent databases if you have many libraries
Abp database migration is recommended
https://github.com/aspnetboilerplate/aspnetboilerplate

[2019-06-17 22:55] AndrewTriesToCode commented on #152
Hi @stuyun . Can you elaborate a little more on the question? Are you moving away from Abp? I don't use Abp myself and this library stays pretty close to standard ASP.NET Core and EF Core conventions.

Using Finbuckle.MultiTenant with existing database should be as simple as using EF Core with an existing database except that you alter the created context to inherit from `MultiTenantDbContext` rat

[2019-06-17 23:00] AndrewTriesToCode commented on #151
Hi @nbarbettini I agree that there needs to be better support for multiple query filters. I'm going to take a closer look at it (and your approach) this week.

Without the code in front of me my first thought would be to see if a derived could add a global query filter in the `OnModelCreating` method before calling `base.OnModelCreating` then Finbuckle.MultiTenant could somehow detect the existing

[2019-06-18 01:17] stuyun commented on #152
I know  microsoft migration info
but Feature update too many tenants too many databases can not batch migration problem
abp There is a batch migration feature

https://aspnetboilerplate.com/Templates  abp **create demo**
 public class MultiTenantMigrateExecuter : ITransientDependency
    {
        private readonly Log _log;
        private readonly AbpZeroDbMigrator _migrator;
        private read

[2019-06-18 01:25] stuyun commented on #152
var tenants = _tenantRepository.GetAllList(t => t.ConnectionString != null && t.ConnectionString != "");
        for (var i = 0; i < tenants.Count; i++)
        {
            var tenant = tenants[i];
            _log.Write(string.Format("Tenant database migration started... ({0} / {1})", (i + 1), tenants.Count));
            _log.Write("Name              : " + tenant.Name);
            _log.Write(

[2019-06-18 01:25] stuyun commented on #152
It supports simultaneous migration of databases for all tenants

[2019-06-18 04:42] AndrewTriesToCode commented on #151
Hi @nbarbettini , I put together something quick based on my thoughts above. What do you think of PR #153

Now all you have to do is add your global query as usual, but make sure it is before you call `base.OnModelCreating`. I plan to update the documentation to mention that as well later this week.

[2019-06-21 04:10] #151 closed, assigned to nobody

[2019-06-21 12:56] nbarbettini commented on #151
Thanks, looks awesome! 🎉

[2019-06-26 04:51] AndrewTriesToCode opened #155 "IdentityServer4 support"
This has been requested many times and I plan to tackle it soon. I will need to support the config and operational stores used by IdentityServer4 and also the Identity variants that it uses for ASP.NET Core Identity.

[2019-06-26 16:59] AndrewTriesToCode commented on #152
@stuyun I apologize for not responding sooner. Unfortunately I don't have a good answer. Finbuckle.MultiTenant doesn't have batch migration functionality as it is more on the library side of things than a full framework like abp. Were you able to make any progress?

[2019-07-01 09:43] chernihiv opened #156 "MultiTenantOptionsCache is internal type"
[Options Caching](https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/fbcbde19b7e2029236f9fb16ab8c254dd9b791df/docs/Options.md#options-caching) section describes how casting to `MultiTenantOptionsManager<TOptions>` exposes new methods to reset cache, however, `MultiTenantOptionsManager<TOptions>` is internal and not accessible.

[MultiTenantOptionsCache.cs](https://github.com/Finbuckle/Finbuck

[2019-07-01 11:44] skysgh opened #157 "Does it work with Api controllers?"
Great potential.

I am trying it out on an ASP.Core 2+ site, that is mostly using ApiControllers routed by contention with a suffix of "api/{controllerName}"
It works, usnig the default tenant -- but if I switch it to another tenantid, (eg: /api/tenant-2/{controllerName})  it returns 404.
Is it meant to work only with View Controllers (as per your samples) or also with Apis and OdataControllers.

[2019-07-01 14:03] AndrewTriesToCode commented on #157
hi @skysgh

It *should* work fine with API controllers. Looks like you using the route strategy, correct? Can you copy/paste your Startup.cs file and I can take a look?

[2019-07-01 14:08] AndrewTriesToCode commented on #156
@chernihiv Thanks for pointing this out. I will submit a PR later today to fix this. It passed all my unit tests... but didn't catch this!

[2019-07-01 14:44] chernihiv commented on #156
Yeah, I saw tests 😃.
Let me know if I could help you with PR.

[2019-07-02 02:57] #156 closed, assigned to nobody

[2019-07-02 02:58] AndrewTriesToCode commented on #156
@chernihiv I just merged the PR in. Feel free to submit any fixes for problem you find.

[2019-07-02 07:00] skysgh commented on #157
hi @achandlerwhite ,
Thanks for getting back to me :-)
As per [startup.cs](https://github.com/skysgh/BASE.Standard/blob/E01/FB01/Core/05.Deliver/02.Systems/Host/App.Host/Startup.cs)

Route `"defaultTenantedApi"` is defined as

            routeBuilder.MapRoute(
                name: $"defaultTenantedApi",
                template: "{first_segment=}/api/{controller=Home}/{action=Index}/{id?}")

And

[2019-07-02 16:06] AndrewTriesToCode commented on #157
Hi, so other stuff like swagger shouldn't interfere. I'm not sure about Lamar, but if regular ASP.NET Core works with it then this probably will too. You would see exceptions when running it it was unable to resolve DI.

With regard to strategies, I hope to support "chaining" and combining them in the future, but currently it do not. The only exception is fallback which can pair with any of the ot

[2019-07-03 10:47] skysgh commented on #157
Hi Drew,

Whew. Got it to work.
My issue is I was using Attribute routing on a base class (hence forgot its
effect...oops).
When I decorated it as follows, it worked with Route strategy, and the
fallback strategy.

    [Route(Apis.BasePath + "[controller]")]
    [Route("{__tenant__=}/" + Apis.BasePath + "[controller]")]
    [ApiController]
    public abstract class AllModulesApiControllerBase : Co

[2019-07-03 11:33] skysgh commented on #157
Thanks!

[2019-07-03 11:33] #157 closed, assigned to nobody

[2019-07-05 08:39] WalternativE commented on #148
Hi Andrew!

First of all I want to thank you for your great work ❤ I really like your unintrusive and effective approach. Having your library as normal ASP.NET Core middleware makes it really easy to use without me having to structure my whole app around a third party dependency. It makes me quite independent as well - I wrote a F# vanilla ASP.NET Core 2.2 app prototype with it and it worked out o

[2019-07-05 09:07] WalternativE opened #159 "Allow optional wrapping of stores and strategies"
## What is the problem?

I'm currently facing the following issue: until recently (I think 3.1.0) store implementations didn't use to get wrapped. This allowed me to do some "rather unclean" things like implementing the store interface, requiring the store interface via DI and then pattern match on my custom implementation to get more functionality (like a `GetAllTenants` method). Using the includ

[2019-07-08 22:05] AndrewTriesToCode commented on #159
@WalternativE Hi thanks for this feedback and your other comment.

In taking a quick look at the code I think I want to have it so the instance stored in the MultiTenantContext is the "inner" one -- I already adjusted the code to show the Type of the inner one so it would make sense that the inner one does too. I'll probably add a property to the wrapper class to access the inner instance for this

[2019-07-09 09:08] WalternativE commented on #159
@achandlerwhite Thank you for the update! If anything comes up where I could be of assistance just shoot me a message.

Cheers!

[2019-07-09 09:52] izundo-viennv opened #160 "Finbuckle.MultiTenant doesn't work well with Authorize attribute"
Any way to process authorization for HomeController in SharedLogin project. Because for my purpose I want to protect HomeController for each tenant, but not root site.

[2019-07-09 14:51] vlatkozmejkoski commented on #139
Hi @achandlerwhite again. I've encountered another problem regarding WithPerTenantOptions.
I am implementing tenant-specific authorization policies, where i am using WithPerTenantOptions<TenantRequirement>() and set the class' property to the current tenant id.
I'm using this TenantRequirement instance inside ConfigureServices, so i'm trying to get the TenantRequirement instance from the servicePr

[2019-07-09 15:51] #139 closed, assigned to nobody

[2019-07-09 15:52] AndrewTriesToCode commented on #159
@WalternativE I think it will be relatively easy. I am trying to shape up a pretty significant PR related to an http based multitenant store which is taking longer than I intended. If you want to take a stab at this and submit a PR feel free. Otherwise your feedback on my PR will be nice.

Here are the specifics I have in mind:

1.  Add a property to the wrapper for both store and strategy to expo

[2019-07-09 15:55] AndrewTriesToCode commented on #139
@vlatkozmejkoski

Hi, I saw your update here  but also that you reclosed it. In theory it should work just fine, but I have seen a few places where this library didn't interact perfectly with ASP.NET Core... so let me know if I should continue to look into it.

Thanks!

[2019-07-09 15:57] AndrewTriesToCode commented on #160
hi @izundo-viennv

Can you give me a little more info on where you are with this and maybe post your `ConfigureServices` and `Configure` methods?

Usually for me the root site is an action on HomeController, but in theory there shouldn't be any problem if you have a different root site.

[2019-07-09 16:00] vlatkozmejkoski commented on #139
Well basically, to fix this, I again, directly injected `TenantInfo` into the `CustomAuthorizationHandler`, because I couldn't find a way where the TenantClaimRequirement class would be instantiated per-tenant. Now the requirement class is kinda useless in the handler, but oh well :)

[2019-07-09 16:22] AndrewTriesToCode commented on #139
Thanks for letting me know. I will take a look at how the library interacts with authorization policies and related requirements.

[2019-07-10 03:19] AndrewTriesToCode commented on #159
@WalternativE

I just opened PR #161 to improve this. Take a quick look and let me know if that would help out for your use case. The wrapper's inner store/strategy is now public and the `StoreInfo.Store` and `StrategyInfo.Strategy` on `MultiTenantContext` now refer to the inner instances.

[2019-07-10 05:27] WalternativE commented on #159
@achandlerwhite

I took a look at the PR and it looks like exactly the thing I need for my use case :) Thank you very much!

[2019-07-10 20:11] #159 closed, assigned to nobody

[2019-07-13 12:04] juicycleff commented on #148
Hi, I had to leave the ABP framework for this because it gives me more structure, Albeit, could this Library work easily with MongoDB, I've lost touch with DN CORE and only just decided to use it again and I'm loving it, but an example of a non entity framework orm will be nice. Again awesome work

[2019-08-09 13:45] danjus10 opened #163 "Duplicate call of GetIdentifierAsync in Strategy Wrapper"
![image](https://user-images.githubusercontent.com/37114016/62783409-466dee80-bab4-11e9-8ce9-379c5691747f.png)

Remove line 57.  identifier is already set .

[2019-08-09 13:49] danjus10 commented on #163
I tried to push a PR to fix but not sure why its blocked.  anyways - Thanks for the awesome lib.  v nice !

[2019-08-09 16:38] AndrewTriesToCode commented on #163
hi @danjus10 I'm not sure why it wouldn't allow you to submit a PR-- I need to check on that.

Good catch on this bug!

[2019-08-09 17:03] danjus10 commented on #163
Thanks for the quick response 👍

Where is the best place to ask question about the libraries?  I'm trying to decide if it supports multiple tenant strategies.  e.g WithDelegateStrategy fallsback to WithRouteStrategy if no tenant, found is that possible?

[2019-08-09 17:25] AndrewTriesToCode commented on #163
This issues area is the best place for these questions. I'm planning on that feature in the next release, but currently only a single strategy is used (except if you use fallback too).

[2019-08-09 17:26] danjus10 commented on #163
Ok cool. I'll keep an eye out.

[2019-08-27 06:23] IamGanesh19 opened #164 "When does the TenantInfo value sets in pipeline?"
@achandlerwhite good job in creating this simple & great library for Multi Tenant support. I am using this in one of my project & works great.

I am facing an issue in setting up [Configuration](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.2) per tenant. I have tenant specific configurations in SQL Table (with TenantId column) and using Custom Configur

[2019-08-28 16:55] AndrewTriesToCode commented on #164
Hello @IamGanesh19   sorry for the slow reply.

In the pipeline the `UseMultiTenant` called the middleware which actually sets the current multitenant context.

Your situation is interesting. This library was designed with per-tenant options in mind, but not per-tenant configuration... however options are often directly created from configuration so this might be doable.

When the configuration pr

[2019-09-05 17:02] steebwba opened #165 "TryUpdateAsync in MultiTenantStoreWrapper doesn't update existing tenants"
Hi,

I have tried implementing a custom store and also tried with the provided stores, but when I try to update existing tenant info using TryUpdateAsync on the store, the return value is false. From what I can see in MultiTenantStoreWrapper, if the result of TryGetAsync isn't null, so a tenant is found, then the update is skipped.

https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/c5877b0ba

[2019-09-05 17:42] AndrewTriesToCode commented on #165
Hi @steebwba  thanks for posting this issue, I think you might have found a bug and I am taking a closer look.

[2019-09-05 17:57] AndrewTriesToCode commented on #165
Just to double check-- the code snippet above is from TryAdd, but you are seeing the issue in TryUpdate right? (Which is 99% the same as TryAdd, except it should skip the update on an existing item as you noted)

[2019-09-05 18:12] AndrewTriesToCode commented on #165
In TryUpdate I found this
` var existing = await TryGetAsync(tenantInfo.Identifier);`

Yikes! It should be passing `tenantInfo.Id` not identifier and then the check should be == null after that.

I'll get this fixed (and add unit tests) for the next release.

[2019-09-05 18:19] steebwba commented on #165
Sorry, I did mean to reference TryUpdateAsync, rather than TryAddAsync! I did make adjustments to the method, but it broke the unit tests for the method so then I started to wonder if it was intended after all!

[2019-09-08 04:31] #165 closed, assigned to nobody

[2019-09-08 05:29] AndrewTriesToCode commented on #163
Hi @danjus10 can you please try to submit a PR for this and let me know? I just released a new version but I didn't include this bug fix yet. Thanks!

[2019-09-08 17:06] Sheko007 opened #169 "Finbuckle with Blazor ServerSide Support"

[2019-09-09 09:11] danjus10 commented on #163
No dice.   i'm logged in for sure.   Maybe check  the repo permissions. ?

[cid:f4fb5968-fd2d-4f3f-bf79-77cec36bc0fd]
________________________________
From: Andrew White <notifications@github.com>
Sent: 08 September 2019 06:29
To: Finbuckle/Finbuckle.MultiTenant <Finbuckle.MultiTenant@noreply.github.com>
Cc: Dan Justin <dan@fluidbsg.com>; Mention <mention@noreply.github.com>
Subject: Re: [Finbuckl

[2019-09-09 16:25] AndrewTriesToCode commented on #169
I'll look into this--I've been meaning to learn more about Blazer Serverside.

[2019-09-09 16:39] AndrewTriesToCode commented on #163
Hm, that's not good. I don't currently see that you have a fork of the project-- you had one when you tried to submit though right? I checked the settings but didn't see anything obvious. My understanding is that anyone with read access to a public repo can submit a PR from their own fork.

Just to narrow things down, can you tell me at which step in the[ github docs for submitting a pull request]

[2019-09-11 07:42] danjus10 commented on #163
Oh I see!   I was trying to do a branch & PR directly in your repo rather than a fork etc

Thanks for your patience [new to github contribution] ✌

Dan
________________________________
From: Andrew White <notifications@github.com>
Sent: 09 September 2019 17:39
To: Finbuckle/Finbuckle.MultiTenant <Finbuckle.MultiTenant@noreply.github.com>
Cc: Dan Justin <dan@fluidbsg.com>; Mention <mention@noreply.

[2019-09-12 04:39] AndrewTriesToCode commented on #163
Excellent. No worries it is confusing--I totally messed up someone else's PR earlier today.

[2019-09-17 03:26] stardocs-digital opened #172 "Unable to retain TenantInfo"
Hello,

Thank you so much for creating this! I'm trying to implement it now and so far saving my tenantinfo has been so simple!.

However, I'm encountering an issue where I can't seem to retain my tenantinfo in the httpcontext?
I can set it in the controller but when it comes to the view, tenantinfo is null.

I posted a question here and was wondering if im doing something wrong?

https://stackove

[2019-09-17 04:27] AndrewTriesToCode commented on #172
Hi, I just responded to the question over on StackOverflow. Your approach to using the library was a little different than how I designed it--it should be more work in the middleware and less setting the tenant yourself. Take a look and let me know if you have any questions.

[2019-09-17 04:45] stardocs-digital commented on #172
Thank you! I just had one followup question.

[2019-09-18 08:55] layinka opened #173 "ObjectDisposedException: Cannot access a disposed object. Object name: 'IServiceProvider'."
Hi,
I am getting this error.

`ObjectDisposedException: Cannot access a disposed object. Object name: 'IServiceProvider'.`

I am using the routestrategy with the MutliTenantIdentityDbContext. It works well after the pplication first starts, but as soon as you try to access the application after some time, you get this error

[2019-09-18 15:12] AndrewTriesToCode commented on #173
Hi @layinka

Can you post your `ConfigureServices` and `Configure` from `Startup` so I can see how you've got things set up? Or can you post a link to the project in github?

A few questions:
- When the error happens, where in the code is it happening? In an MVC controller?
- how much time after starting does the error come up? minutes? hours?
- are you using `SetTenantInfo` at all? Most projects

[2019-09-18 16:16] layinka commented on #173
Hi,
unfortunately,its a private repo, i won't be able to share the github link.

Almost anywhere, once i try to access any page on the site. Since all requests eventually goes thro a controller,i will say its in a controller

Probably minutes, say about 5 minutes.

Yes i am, i am using a Share login of some sorts.

Also, I checked online and it seems the ServiceProvider instance is disposed after

[2019-09-18 19:55] AndrewTriesToCode commented on #173
Thanks for providing more detail. I think the problem is how the route strategy captures IService provider. When TrySetTenantInfo is called is it before the MultiTenant middleware runs? Is the resetServiceProvider parameter set to true?

[2019-09-18 22:10] AndrewTriesToCode commented on #173
I believe we are seeing this bug:
https://github.com/aspnet/AspNetCore/issues/4148

I have a fix in mind which I will try to get out by friday.

[2019-09-19 01:47] AndrewTriesToCode commented on #173
I'm still unable to reproduce this on my end. Can you tell me if the RouteStrategy sample project shows this behavior for you? Also which .Net Core runtime are you using and are you on Win/Linux/Mac?

Thanks!

[2019-09-19 01:59] #163 closed, assigned to nobody

[2019-09-19 04:32] AndrewTriesToCode commented on #173
Ok, I'm pretty sure I have this narrowed down. Are you using Razor Pages or doing anything advanced with ActionDescriptors by any chance?

[2019-09-19 07:17] layinka commented on #173
Hmmm,
Not sure, but using the Asp.Net identity , that uses razor pages.

And Yes, i am using the Routestrategy

[2019-09-20 01:19] AndrewTriesToCode commented on #173
Ok, I am able to reproduce it using razor pages. It wasn't the issue I linked above. The route strategy is trying to use a IServiceProvider... but changes to Razor Pages files (or just after a few minutes) will invalidate the IServiceProvider the strategy was using. I have a PR submitted which will fix this and I will put out a release tomorrow. Just as a note when Asp.NET Core 3 comes out its rou

[2019-09-20 04:13] #173 closed, assigned to nobody

[2019-09-21 20:47] pkavan opened #175 "read/write tenant info"
How would I go about having a set of tenant specific values (e.g. colors, images, text) that could be changed by the tenant -- like an admin for the tenant?

[2019-09-21 22:21] markgould commented on #175
Do you use Entity Framework? There is a good guide here on per-tenant data - https://www.finbuckle.com/MultiTenant/Docs/EFCore

You'd restrict the Admin page to a specific role/claim/whatever and then implement just as you would anything else.

[2019-09-21 22:32] markgould commented on #147
We have a need for this - our admin users at our company have access to our customer tenants. I've setup a default tenant that we belong to.

If a user is in an "Admin" role, I display a dropdown on the page that lists the different tenant. When they select one, it simply sets a TenantId session parameter. In my Tenant Strategy, I check if this session value is set, and use that, otherwise I use t

[2019-09-22 15:45] pkavan commented on #175
I looked at that, but I use IdentityDbContext() and couldn't reconcile it with using MultiTenantDbContext

[2019-09-22 16:41] AndrewTriesToCode commented on #147
hi @markgould

Thanks for the  email--I'll get back to you shortly on that.

For this item the approach you describe above is similar to my thinking. Either a session variable or something in the auth cookie like "effective tenant" or similar. I'm heads down getting a release for .NET Core 3 but will pivot back to this afterward.

[2019-09-22 16:52] AndrewTriesToCode commented on #175
Hi @pkavan and thanks @markgould

I would suggest storing this type of thing in the multitenant store. You could use the `Items` collection in the `TenantInfo` to store various setting and such. What type of store are you using?

If you are using the EFCoreStore then Mark's approach makes a lot of sense. You would add the settings as fields on the entity class for the tenant (which must implemenet

[2019-09-22 16:53] AndrewTriesToCode commented on #160
hi @izundo-viennv

I just wanted to follow up here. Did you ever find a way to make this work?

[2019-09-22 21:38] pkavan commented on #175
I am using the in memory store. If I understand it correctly, I agree that it would make more sense to use the EFCoreStore. Does the EFCoreStore create a database for the tenant info? And then TenantInfo would be a table and each tenant would have an entry?

I have said before that the middleware adjustments are my weak point, so I am struggling to see how this all works.

This is what my config i

[2019-09-23 03:02] pkavan commented on #175
I think I have it now....with a few things left to figure out.

I went ahead and built another context just for the tenant info.  I added the DB and created an entry for my dev instance. I removed the memory store from the AppSettings to make sure I was grabbing from the database. That all seems to work well.

Where I am stuck now is that I had a couple of 'Items' that I added to my AppTenantInfo

[2019-09-23 23:23] aceptra opened #177 "Invalid Routes: Alternative to HTTP 500"
Things are working great. Thanks for this .Net Core multi-tenant library, btw.

However, invalid routes seem to always throw HTTP 500.

Is there a strategy to better handles this and return 400 instead? Crawlers prodding for penetration will throw any number of 'known CRM routes' that aren't valid in our application. And so our APM is going through the roof w/ "server errors" that really aren't an

[2019-09-24 01:22] AndrewTriesToCode commented on #177
Hi @aceptra, just to be clear are you using the route strategy to determine tenant? Can you post your `ConfigureServices` and `Configure` methods in your startup.

Or are you using the host strategy?

[2019-09-24 02:45] pkavan commented on #175
Figured out a work around. Basically, I have the tenantInfo, which contains the Id, so then I just call the table entry into the class I made that contains the extra fields..

[code]

[2019-09-24 04:33] AndrewTriesToCode commented on #149
Closed with moved to netcore3

[2019-09-24 04:33] #149 closed, assigned to nobody

[2019-09-24 04:34] AndrewTriesToCode commented on #150
I've decided that this makes a lot more sense for strategies rather than stores. I have submitted a PR for this feature. If a good use case emerges I will give stores the same treatment.

[2019-09-24 04:36] #150 closed, assigned to nobody

[2019-09-25 18:40] aceptra commented on #177
We are using the Route Strategy.

Abbreviated here...
[code]

      services
                .AddMultiTenant()
                .WithInMemoryStore(Configuration.GetSection("Finbuckle:MultiTenant:InMemoryStore"))
                .WithRouteStrategy(ConfigRoutes)
                .WithRemoteAuthentication() // Important!
                .WithPerTenantOptions<OpenIdConnectOptions>((options, tenantInfo)

[2019-09-27 20:52] AndrewTriesToCode commented on #148
Hi all. Just to follow up I recently released Finbuckle.MultiTenant 4.0.0 which supports .NET Core 3 and well as 2.2 and 2.1 i.e. all Microsoft supported versions. I found that multitargetting worked well so 2.2 and 2.1 apps using the library will also benefit from future enhancements.

Thanks!
Andrew

[2019-09-28 14:28] AndrewTriesToCode commented on #177
@aceptra  Thanks for posting more details. Tell me would something like this work in your case:

Set default values for each route parameter:
[code]

Note that the tenant default is empty which means no tenant needs to be there to hit a controller/action and in that case tenant will be null (unless you have a tenant with identifier "" which I do not recommend"). I use this in my sample projects an

[2019-09-28 14:39] AndrewTriesToCode commented on #157
@skysgh Hi there, just so you area aware the latest release allows chaining the strategy (not the host yet).

[2019-09-28 14:47] AndrewTriesToCode commented on #175
Hi @pkavan glad you found a workaround. I'll try to answer some of your questions:

Yes! Well if the database already exists it won't create it, but you have the right idea.

Not necessarily. You can add an entity to your app or Identity dbcontext and use the same dbcontext. It really depends on what you prefer and what works best for you.

I see what you mean here. I can't see your `ApplicationUs

[2019-09-28 15:11] AndrewTriesToCode commented on #175
Yeah you have run into a limitation of the `EFCoreStore` if you look at the source below for `TryGetAsync`  which populates the tenantinfo you would normally use you can see it puts in NULL from items because it has no idea what extra things were added to the entity. Maybe I can make this smarter in a future release. I think your workaround is perfect.

[code]

[2019-10-03 15:48] GordonBlahut opened #184 "Mark entities as MultiTenant without using an Attribute"
If entity classes are in a class library (e.g. **MyApp.Core**) and the EF configuration in another class library (e.g. **MyApp.Data**), the **MyApp.Core** class library has to take on **Finbuckle.MultiTenant.EntityFrameworkCore** (and therefore **EntityFrameworkCore** itself) in order to use  `[MultiTenant]` on classes.

A solution to mark entities as `MultiTenant` without an attribute would be gr

[2019-10-03 16:04] GordonBlahut commented on #184
Oops, `Shared.EnforceTenantId` would also need to be updated to identify MultiTenant entities via the annotation:
[code]

[2019-10-03 16:34] AndrewTriesToCode commented on #184
Hi @GordonBlahut

I had the same thought about using the model builder as I started looking into IdentityServer support. I think this adds a lot of value as well.

If you start a PR that would be great, otherwise maybe I can get you to review mine? Not sure when I will get to it--a few other items on the plate as well.

[2019-10-03 16:52] AndrewTriesToCode opened #185 "Status of Finbuckle.MultiTenant"
Hello everyone and thanks for your kind support.

Last week I released Finbuckle.MultiTenant 4.0.0 in order to support the release of .NET Core 3. I am still updating the samples, but the biggest change was in the `RouteStrategy` sample, which has been updated.

Originally I had planned to leave support for .NET Core 2 in the 3.x versions, but I changed my mind and am multitargetting all future re

[2019-10-03 16:52] #148 closed, assigned to nobody

[2019-10-03 16:53] AndrewTriesToCode commented on #148
@juicycleff   Hi I'm sorry I never responded to you. I don't have much MongoDB experience myself, but I'll look into this.

[2019-10-03 17:39] GordonBlahut commented on #184
Ok, I'll look into putting together a PR. I likely won't be able to get to it until the weekend or maybe even next week.

[2019-10-03 23:12] malisancube commented on #185
I just discovered this. Most definitely, very good work!! I think the priority list is awesome too. Looking forward to being one of the users.

Do you have estimated timelines?

[2019-10-04 01:03] AndrewTriesToCode commented on #185
Hi @malisancube
No timeline at the moment. I am currently working to update all the sample projects then after that I will get into the new stuff. I expect to have some of them in the next few weeks. Others like Blazor support are further out. Of course everyone is welcome to submit a PR :)

Is there anything in particular that would like to see sooner rather than later?

[2019-10-05 20:36] unencode commented on #185
Just wanted to say thank you for this library. It's great and looking forward to the improvements and services. The tenant management app sounds interesting as does Blazor support.

[2019-10-07 02:28] unencode opened #187 "Cannot create a DbSet for 'MultiTenantIdentityUser' because this type is not included in the model for the context."
I have an ASP.NET Core 3.0 application using Razor Pages for Identity and I'm getting stuck trying to register a new user receiving this exception
[code]

Perhaps it's not wired up properly. At the moment it has two DBContexts and two databases.

ConfigureServices:

[code]

ApplicationDBContext:

[code]

TenantDbContext:

[code]

In Register.cshtml.cs excerpt:
[code]

I've also reconfigured it whe

[2019-10-07 16:42] AndrewTriesToCode commented on #187
@unencode   Hi I'm taking a look into this. The issue is with the identity context and not the EFCoreStore context - so that will help narrow it down. Can you post your AppUser class?

[2019-10-07 17:05] AndrewTriesToCode commented on #187
I think I see the problem. In `AddIdentity` you pass `MultiTenantUser`, but later in the `ApplicationDbContext` you designate `AppUser` as the user entity class:
[code]

If you just want the default Identity stuff you can just use `MultiTenantIdentityUser` everywhere and you don't need `AppUser`. If you add your own properties to the user model, you'd do so in  `AppUser` (which inherits from `Mult

[2019-10-07 21:48] unencode commented on #187
Thanks for your help! My AppUser class is posted below, as you can see it's empty. I am going to work through your second answer in just a bit here and report back. Thanks!

[code]

[2019-10-07 22:06] unencode commented on #187
Thanks again. As you suggested I removed AppUser as it's not really being used.

So the only line of code that changed is class declaration for ApplicationDbContext which now reads:

`public class ApplicationDbContext : MultiTenantIdentityDbContext<MultiTenantIdentityUser>`

That's where I see the other exception I mentioned which also happens at _userManager.CreateAsync in Register.cshtml.cs. Her

[2019-10-08 04:15] unencode commented on #187
In testing things out, if I add my own Id  things work. From Register.cshtml.cs  OnPostAsync:

[code]

After doing this Finbuckle adds the TenantId properly to Identity and custom entities and the host routing works.

[2019-10-08 16:11] unencode opened #188 "Blazor and Razor Pages Support"
Just wanted to contribute my experience getting Funbuckle.MultiTenant to work with Blazor and Razor Pages on .NET Core 3.0. So far it seems to be working. Perhaps these instructions will help others.

In this example, we're using EFCore for storing the tenants database and a single shared database for tenants' data. You can also change the tenant-specific connection string to put one or more tenan

[2019-10-08 16:50] AndrewTriesToCode commented on #188
@unencode
Awesome, thanks for your contribution. I have yet to get into Blazor and I am realizing that I need to do so!

[2019-10-08 16:55] AndrewTriesToCode commented on #187
I'm glad you got it working. FYI `MultiTenantIdentityDbContext` derives from `MultiTenantIdentityDbContext<MultiTenantIdentityUser`> so your app db context can just derive from `MultiTenantIdentityDbContext` if you want to simplify--no need to though.

I thought that the user ID would automatically create a GUID for you -- does regular Identity do that? It has been a while I will want to check on

[2019-10-08 17:10] unencode commented on #188
Yea, Blazor is really great! Razor components + SPA (even server side) is so awesome to work with.

I'm really glad it works with this project.

[2019-10-08 17:15] unencode commented on #187
Great, thank you, I will simplify it.

That's right, normally regular Identity's UserManager will create the user and it will be assigned a GUID.

[2019-10-09 15:44] unencode commented on #169
@Sheko007 - Take a look at [Blazor and Razor Pages Support #188](https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/188) for a working example.

Good luck!

[2019-10-11 00:45] AndrewTriesToCode commented on #187
I found out why the Id null issue is happening--I will have a fix in the next release.

[2019-10-11 00:48] AndrewTriesToCode opened #189 "MultiTenantIdentityUser causes exception"
`MultiTenantIdentityUser`, or any class derived from it, will cause an exception when Identity tries to create a new user unless you intervene and set the `Id` property manually.

Long story short it inherits from `IdentityUser<string>` instead of `IdentityUser` and `IdentityUser` has special logic to set the `Id` and the concurrent stamp.

I will test to make sure that changing `MultiTenantIdenti

[2019-10-11 01:27] #189 closed, assigned to nobody

[2019-10-11 06:47] AndrewTriesToCode commented on #184
hi @GordonBlahut, I just submitted PR #191

Thoughts?

[2019-10-11 10:26] GordonBlahut commented on #184
No joke I was just about to start my implementation. I will take a look at the PR.

[2019-10-11 13:21] unencode commented on #187
Great! I'm looking forward to the fix and am super curious about it. Thanks!

[2019-10-12 04:17] #56 closed, assigned to nobody

[2019-10-12 04:17] #65 closed, assigned to nobody

[2019-10-12 04:17] #75 closed, assigned to nobody

[2019-10-12 04:17] #104 closed, assigned to nobody

[2019-10-12 04:17] #100 closed, assigned to nobody

[2019-10-12 04:17] #93 closed, assigned to nobody

[2019-10-12 04:17] #131 closed, assigned to nobody

[2019-10-12 04:17] #138 closed, assigned to nobody

[2019-10-12 04:17] #132 closed, assigned to nobody

[2019-10-12 04:17] #141 closed, assigned to nobody

[2019-10-12 04:17] #152 closed, assigned to nobody

[2019-10-15 06:06] williambowsher opened #192 "Code-Documentation mismatch"
I am trying to use the MultitenantDbContext and the documented constructor that only takes a connectionString, but there is no such constructor.

Is there anyway of creating a DesignTime Db Context so that I can process my Migrations?

[2019-10-15 13:59] AndrewTriesToCode commented on #192
Hi thanks for pointing out the docs need to be updated.

I recommend creating a dummy tenant info like in this sample:

https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/master/samples/ASP.NET%20Core%203/IdentityDataIsolationSample/Data/DesignTimeFactory.cs

[2019-10-15 14:00] williambowsher commented on #192
It's ok I have worked around the issue and have it all functioning now.

Thanks for responding, you can close the ticket.

On Tue, 15 Oct 2019, 15:59 Andrew White, <notifications@github.com> wrote:

[2019-10-17 10:14] williambowsher commented on #192
Thanks for the help, but I have implemented a slightly different solution as I have a separate tenant management application.

Thanks for all the hard work with Finbuckle, keep it up.

Regards

[2019-10-17 10:14] #192 closed, assigned to nobody

[2019-10-28 17:30] Glebby opened #194 "tenantInfo is not passed into DBContext"
Hi there, I am trying to set up multitenancy in my project (.Net Core 2.2), but no matter what I do, the tenantInfo is always null in my DbContext constructor.  My DBContext class inherits from MultiTenantIdentityDbContext<ApplicationUser>.

I use StaticStrategy and In-Memory store to simplify tings and isolate the issue, and I can see that TenantInfo is set as expected by examining GetMultiTenant

[2019-10-28 18:50] AndrewTriesToCode commented on #194
Hi @Glebby

I’m sure we can figure it out. Can you post your ConfigureServices and Configure methods?

[2019-10-31 13:32] williambowsher opened #195 "DbContext does not have a constructor with connection string"
In the documentation it says:
There is also a base constructor which takes a connection string parameter instead of a TenantInfo. Use this for design time context creation for use with migrations or other tools.

But there is only a constructor with TenantInfo, how can I create a DbContext to use with EF Migrations?

[2019-10-31 14:01] williambowsher commented on #195
Its ok I don't need the connectionString constructor I have found away around it.

If you make the OnConfiguring method look like this
`
if (!optionsBuilder.IsConfigured)
{
               optionsBuilder.UseSqlServer(ConnectionString);
}
`

Then you can create a DbContext like so
`
var dbOptions = new DbContextOptionsBuilder<ComplianceContext>();
dbOptions.UseSqlServer(connectionString);
return new

[2019-10-31 14:01] #195 closed, assigned to nobody

[2019-10-31 15:54] AndrewTriesToCode commented on #195
Hi, yeah I have a pending update to that documentation. I recommend using a design time factory for migrations as the EF Core documentation describes. Then to create the dB context a simple dummy tenant can be used.

Also I have pending updates that don’t require inheriting from MultiTenantDbContext to give you more flexibility.

[2019-11-01 16:26] GordonBlahut opened #196 "Per-tenant CORS"
I'm trying to use per-tenant CORS policy but it doesn't seem to work.

I'm not sure if I'm setting it up wrong or if ASP.NET Core just doesn't setup the CORS middleware in a compatible way but I'm wondering if anyone else has had any success with this.

[code]
[code]
Setting a breakpoint inside `WithPerTenantOptions`, I can see that it never even gets hit.

[2019-11-02 13:28] williambowsher opened #197 "Usage with IdentityServer4"
Firstly thank you for all your work on Finbuckle, makes my life a lot easier.

Now to my question:
I have integrated my application with IdentityServer 4 and when a user is authenticated they are assigned a claim for the tenant they should be using, is there anyway of restricting the user to the tenant?

[2019-11-05 18:09] AndrewTriesToCode commented on #196
Any luck @GordonBlahut ?

Sometimes Microsoft coaches options internally which can make getting the desired abhor across tenants difficult, but it is doable. I’ll try to take a look this week.

[2019-11-05 18:13] AndrewTriesToCode commented on #197
Hi, I can give you a more detailed response later today, but this is an area I’m actively looking into.

How are you doing the user authentication in IdentityServer? Are you using Identity or something else?

[2019-11-05 18:24] williambowsher commented on #197
Hi Andrew,
I have now sorted all my issues, I am indeed using Identity and I have
added a small API to the IdentityServer source code so I can automate the
user sync, then I have the postback action check the claims for the tenant
claim, I'd the tenant cla does not match the tenant returned from the http
context then I remove the auth cookie and redirect to the proper tenant.

Everything else work

[2019-11-05 22:42] GordonBlahut commented on #196
@achandlerwhite No luck yet. Since it never hits `WithPerTenantOptions` I suspect they aren't even using an `IOptions`-based approach in the cords middleware but I haven't had a chance to really dig through the source.

[2019-11-07 01:23] malisancube commented on #185
Is there any guidance for APIs?

[2019-11-07 15:43] AndrewTriesToCode commented on #185
@malisancube For the most part things should work the same with APIs as with regular MVC apps, but there are some differences. The multitenant store part should be the same, but the strategy might vary. You can still use routing or host strategies if you don't need each tenant to use the exact same URL for each endpoint. A more advanced approach would be to examine the access token your API receiv

[2019-11-08 05:10] AndrewTriesToCode commented on #196
@GordonBlahut you may have figured it out already, but the options are pulled in the [CorsService](https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/CORS/src/Infrastructure/CorsService.cs) class, which internally caches them. A simple hack would be reregister the service as transient rather than a singleton I think. The options are cached anyway so I'm not sure why they did so in thi

[2019-11-08 05:30] #184 closed, assigned to nobody

[2019-11-14 06:30] #164 closed, assigned to nobody

[2019-11-17 21:31] MesfinMo commented on #175
I run into a similar issue as well; not sure if it's the best approach but here's how I made it work for me.

I created my implementation of IMultiTenantStore and modified the TryGetAsync and TryGetByIdentifierAsync methods to retrieve tenant information from the store and convert the extra items into Dictionary<string, object> as the TenantInfo Items property expects it.

          var tenant =

[2019-11-20 14:22] AndrewTriesToCode commented on #175
@MesfinMo Thanks for your response! I've been thinking about this as well (mainly for an http/REST store) and I think a similar approach could work for EFCoreStore or really any store. I hope to have something added to the library for this in a future release.

[2019-11-28 18:50] #172 closed, assigned to nobody

[2019-11-28 18:50] #160 closed, assigned to nobody

[2019-12-02 09:36] chinaq opened #198 "Is there any examples for working with IdentityServer4?"
Is there any examples for working with IdentityServer4? Thanks.

[2019-12-03 12:06] kamalraturi commented on #195
Hi @achandlerwhite , thanks for this great MultiTenent solution.  I tried use this without inmemory (having sql-server as stores) but documentation is not available yet. I pushed my repo to github. Can you help me on the sample project asp.net core 3.0 "EFCoreStoreSample"? Here is the repo: https://github.com/kamalraturi/Finbuckle.MultiTenant

[2019-12-03 12:28] kamalraturi opened #199 "Pending update to EFCore Store documentation."
Hi @achandlerwhite , thanks for this great MultiTenant solution.  I tried use this without inmemory (having sql-server as stores) but documentation (https://www.finbuckle.com/MultiTenant/Docs/Stores) is not available yet. I pushed my repo to github. Can you help me on the sample project asp.net core 3.0 "EFCoreStoreSample"? Here is the repo: https://github.com/kamalraturi/Finbuckle.MultiTenant

_O

[2019-12-03 15:57] williambowsher commented on #195
Thanks for the update, I have got it all working now so it's all good. When
I get back to my pc I will see if .y workaround is of use to you.

Regards

On Tue, 3 Dec 2019, 12:06 kamalraturi, <notifications@github.com> wrote:

[2019-12-04 14:57] #177 closed, assigned to nobody

[2019-12-05 01:34] AndrewTriesToCode commented on #199
hi @kamalraturi sorry the late reply. Sure I am taking a look and update my response.

[2019-12-05 01:36] AndrewTriesToCode commented on #198
hi @chinaq I don't have any public samples at the moment, but let me ask about your use case.

What parts of identityServer4 would you want to behave "per-tenant"?

Would you want different API or identity resources?
Different users?
Different federation settings?
Howabout the operational store of active tokens and such--would that need to be multi tenant as well?

[2019-12-05 02:43] chinaq commented on #198
Hi @achandlerwhite,

 I'm new to multi-tenant and IdentityServer4, and not familiar with some concepts that you mentioned. What I want is to get the Identity resource which combined with the tenant info from the IdentityServer4, that would help me to controll the API authority on the server side. If there are some examples that will help me a lot to learn it faster.

Thanks.

[2019-12-05 16:25] stardocs-digital opened #200 "Question about Usermanager.CreateAsync"
This isn't an issue but more like a question.

I'm learning how to use Finbuckle and was curious as to how you managed to get Usermanager.CreateAsync to allow duplicate usernames? I understand that your tenantId is different but in a normal scenario. Wouldn't Usermanager.CreateAsync return a duplicate username error?

[2019-12-10 04:54] Sheko007 commented on #169
Thanks Very much

[2019-12-17 14:27] #187 closed, assigned to nobody

[2019-12-24 16:55] mjallaq88 opened #201 "When Finbuckle.MultiTenant 4.1.0 will be released?"
I would like to know when are you planning to release a new version of the latest code 4.1.0?

[2019-12-26 15:52] AndrewTriesToCode commented on #201
hi @mjallaq88
I'm planning for version 5.0 within the next week. It will support .NET Core 3.1, have more multi tenant stores, and allow for more flexibility with EFCore and existing databases.

[2019-12-26 15:57] AndrewTriesToCode commented on #200
hi @stardocs-services
sorry for the late reply! it works because internally `CreateAsync` calls `UserStore.GetUserByUsername` (or something very similar can't recall off the top of my head) which queries EFCore by username to see if one already exists. However the Finbuckle.MultiTenant global query filter is applied so it basically adds an extra `where tenantId = __current_tenant__` to that query

[2019-12-26 16:57] mjallaq88 commented on #201
Awesome. I'm looking forward to consuming it.  I'm using the latest code in my current project as a `git submodule` to use some of the added features.

[2020-01-05 00:56] #194 closed, assigned to nobody

[2020-01-07 16:49] williambowsher opened #205 ".NET Core 3.1 upgrade broke Tenant Resolution"
Hi,

I have just upgraded my application from .NET Core 2.2.7 to 3.1 LTS and I have the following issue.
I opening the application and it resolved the tenant correctly, then I login in, which redirect to IdentityServer 4, upon successfully logging in it redirects back to my application at which point the tenant can no longer be resolved.

I was just wondering if there are any important issue with

[2020-01-07 17:16] AndrewTriesToCode commented on #205
Hi, I am prepping a release with better 3.1 support for later this week. Not sure if that alone would resolve this for you.

Can you post your ConfigureServices or at least the multitenant part of it?

[2020-01-07 17:40] williambowsher commented on #205
Here is my Finbuckle config

[code]

[2020-01-07 17:45] AndrewTriesToCode commented on #205
Thanks! And if you simply change the Asp.NET Core version back to 2.2 does it work again?

[2020-01-07 17:47] AndrewTriesToCode commented on #205
Oh I just noticed your callback path! Try it with the default callback path, the library has special handing for openid connect callback and you shouldn’t Need to set it per tenant (because the identity server only knows the main callback url).

[2020-01-07 17:47] williambowsher commented on #205
Yeah this is a new branch for 3.1 upgrade, the existing 2.2.7 version is up
and running.

On Tue, 7 Jan 2020, 18:45 Andrew White, <notifications@github.com> wrote:

[2020-01-07 18:10] williambowsher commented on #205
Ok I will give that ago, thanks for the great work and quick response time
on questions.

On Tue, 7 Jan 2020, 18:47 Andrew White, <notifications@github.com> wrote:

[2020-01-10 03:27] AndrewTriesToCode commented on #201
@mjallaq88 update: I have finished all the functionality. Just a few minor items then I will publish 5.0.

[2020-01-10 03:28] AndrewTriesToCode commented on #27
Implemented in PR #206

[2020-01-10 03:28] #27 closed, assigned to nobody

[2020-01-10 07:21] mynkow commented on #188
@unencode were you able to override razor components per tenant?

[2020-01-10 13:46] unencode commented on #188
@mynkow  if I understand correctly, yes you can override per tenant in a razor component.

It would be a matter of accessing it in OnInitialized for that component or similar:

            return true;

Is that what you mean? I'm not 100% from the question.

[2020-01-10 15:29] mjallaq88 commented on #201
@achandlerwhite Great news! Thank you for the update

[2020-01-11 13:48] chernihiv opened #208 "MultiTenantException: Error occurred resolving tenant for remote authentication."
I did integration with `Idaptive` external provider and started to receive `MultiTenantException`  when user has not got access to application (permissions to app of idaptive).

Most likely is't not connected `Finbuckle.MultiTenant` implementation. It might be either my configuration or implementation of OpenIdConnect on Idaptive side. But, anyway, decided to create an issue.

What I do,
1. I have

[2020-01-11 14:02] chernihiv commented on #208
In addition,

I have custom implementation of `IMultiTenantStrategy` interface and in case when step
 `5. https://localhost:44380/signin-oidc?...` is occurred, I do not know current Tenant, so my `GetIdentifierAsync` returns `NULL`.
I noticed that in such case default `RemoteAuthenticationStrategy.GetIdentifierAsync` is called, but since request doesn't contain `state` it leads to `NullReference`.

[2020-01-11 14:24] chernihiv commented on #208
My workaround is:

_From perspective of `Finbuckle.MultiTenant`_
Fixed null reference exception in `RemoteAuthenticationStrategy`

_From perspective of `MyProject`_
Overrode `MessageReceived` of `OpenIdConnectEvents` as:
[code]

[2020-01-11 17:39] AndrewTriesToCode commented on #208
hi @chernihiv thanks for reporting this and providing all the details. I think you have a good approach here. Curious, does Okta or others return the state when access is denied? Any way to get Idaptive to return it? I need to check the OpenId Connect specs on that.

I agree with your fix on the RemoteAuthenticationStrategy -- I am just about to release 5.0, but do you want to submit a PR real qui

[2020-01-12 03:39] AndrewTriesToCode commented on #208
@chernihiv

I am going to go ahead and put in a null check and log a warning if that condition occurs. I checked the OpenID Connect spec [here](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) and section 3.1.2.6 (and the OAuth 2.0 spec if references) say that a state response parameter is REQUIRED if one was passed. You might want to log this as an issue with Idaptive.

[2020-01-12 03:55] #208 closed, assigned to nobody

[2020-01-12 04:34] AndrewTriesToCode opened #211 "Finbuckle.MultiTenant 5.0.x"
Edit: the latest release is **v5.0.4**.

Hello, just released v5.0.0. Details are below. If you have any comments, questions, or feedback please let me know!

* Added support for ASP.NET Core 3.1.
* Major refactor of how Entity Framework multitenant data isolation works. No longer need to derive from `MultiTenantDbContext` greatly improving flexibility. `IdentityMultiTenantDbContext` reworked unde

[2020-01-13 16:49] chadbengen opened #212 "Why not store items in EFCoreStoreDbContext?"
I'm curious about why the EFCoreStoreDbContext ignores the Items property?  Why not store it as json?  I think something like this:

[code]

[2020-01-13 18:12] AndrewTriesToCode commented on #212
Hi @chadbengen

It certainly could be but it’s a little more complicated because when deserializing we don’t know the correct type. Also I’d want to build it in such a way that it is flexible for all users— I.e. provide reasonable defaults but let devs configure the serialization and deserialization. I’m open to ideas and PRs!

Taking a quick look I realized that Newtonsoft can handle the type pre

[2020-01-13 22:44] chadbengen commented on #212
Great, i look forward to it.

[2020-01-14 05:45] #196 closed, assigned to nobody

[2020-01-14 08:19] KonnectSalon opened #213 "ExpandViewLocations"
Will you guys be supporting ViewLocationExpanders?

I currently have
            services.Configure<RazorViewEngineOptions>(options =>
            {
                options.ViewLocationExpanders.Add(new TenantViewLocationExpander());
            });

 public class TenantViewLocationExpander : IViewLocationExpander
    {
        public IEnumerable<string> ExpandViewLocations(ViewLocationExpanderCon

[2020-01-15 04:19] AndrewTriesToCode opened #215 "Finbuckle.MultiTenant 5.0.1"
Just a few days after 5.0.0 was released Microsoft updated .NET Core to address security issues. This release primarily supports the newer versions .

**5.0.1**
* Updated for [.NET Core January 2020 Updates](https://devblogs.microsoft.com/dotnet/net-core-january-2020/) adding support for .NET Core 2.1.15, 3.0.2, and 3.1.1.
* Updated dependencies as recommended in security notices for [.NET Core Ja

[2020-01-15 04:20] AndrewTriesToCode commented on #213
hi @KonnectSalon
I haven't used ViewLocationExpanders, but I'll certainly take a look.

[2020-01-15 06:03] KonnectSalon commented on #213
It would appear that view locations are cached. So when the location is found using the first tenant,  TenantViewLocationExpander does not trigger again.

Would need to find someway to cache per tenant

[2020-01-15 14:02] AndrewTriesToCode commented on #213
This happens a few places in authentication as well and I was able to work around it by decorating a class with my own version and registering it. Hopefully that will work here too. I will try to take a look today.

[2020-01-17 09:31] Warhead5555 opened #216 "Extension methods not available for EFCore"
In the documentation section 'Adding MultiTenant functionality to an existing DbContext' for EF you are talking about extension methods when implementing the IMultiTenantDbContext interface.

[Link to documentation](https://www.finbuckle.com/MultiTenant/Docs/EFCore#adding-multitenant-functionality-to-an-existing-dbcontext)

But to my surprise it's not possibile to reach the following extension met

[2020-01-18 03:46] AndrewTriesToCode commented on #216
@Warhead5555

Thanks for reporting the issue! You are right and I will et up a new release with the corrections.

[2020-01-21 17:14] #216 closed, assigned to nobody

[2020-01-21 17:21] AndrewTriesToCode opened #218 "Finbuckle.MultiTenant 5.0.3"
This release addresses #216 found by @Warhead5555.

**5.0.3**
* Fixed a bug where documented static methods were internal rather than public.
* Minor documentation fix.

[2020-01-22 07:55] Warhead5555 commented on #218
Thank you for fixing this bug on such short notice. Keep up the good work!

[2020-01-22 07:56] Warhead5555 commented on #216
Thank you for fixing this bug on such short notice. Keep up the good work.

[2020-01-24 22:08] terencevs commented on #131
Hello, sorry to post to old request, but I have a similar use case:

I have an api using WithRouteStrategy, example: https://localhost:5000/tenant1/contacts, https://localhost:5000/tenant2/contacts

What I want to do as part of my authentication is to check if the auth token has claim tenant1 and if so allow the request if not access denied.

Any help with trying to achieve this would be greatly a

[2020-01-26 16:10] #175 closed, assigned to nobody

[2020-01-28 17:33] UmairB opened #219 "MultiTenantContext has internal properties"
Why was a decision made to make `MultiTenantContext` with internal properties? Finbuckle has been very good for us in asp.net core scenario but when we tried to implement our infrastructure using finbuckle in say, azure functions, we ran into the problem of not being able to provide a mechanism for creating our own `MultiTenantContext`.

Maybe make `MultiTenantContext` an abstract base class and a

[2020-01-28 18:51] AndrewTriesToCode commented on #219
hi @UmairB

There is no strong reason other than my personal preference for strong encapsulation at the time. I definitely agree with you and will plan to address this in the next release.

Thanks!

[2020-01-28 18:52] AndrewTriesToCode commented on #219
I'll add to this that I also plan to remove the dependency on `HtpContext` storing the `MultiTtenantContext` so that things work better in scenarios like yours or also non web hosted .NET Core stuff.

[2020-01-28 18:59] AndrewTriesToCode commented on #131
@terencevs
I am working on something like this for the next release. For the moment you'd have to do it manually by adding the claim and the authorization check yourself.

I think you'd want to have it be a global authorization policy that compares the tenant in `MultiTenantContext.TenantInfo` to the user's claim. The harder part is setting the claim in the first place, but I would recommend hooki

[2020-01-29 13:32] terencevs commented on #131
@achandlerwhite this is my first attempt:

[code]

[2020-01-30 23:24] gitriinbigd opened #221 "Multitenant Store does not work if given constructor has dependency injections"
First, my rationale for creating a custom store is I do not want to store connection strings in plain text in the database. I'd like to have a custom store that handles obfuscating that information. From there, I may get cheeky and try other things but that's the goal. I started with a simple configuration:
[code]
I hard-coded a store because what I had wasn't working. So I have something akin to

[2020-01-31 01:14] AndrewTriesToCode commented on #221
Hi @gitriinbigd

Is `IDbContextScopeFactory` registered in the service collection for dependency injection? If so it should be able to use the constructor without problem by injecting the parameter. It's possible there is a bug with that though so let me know.

A different option: the `WithStore` method can take parameters which will then be plugged into the constructor. For example if you have an

[2020-01-31 17:24] devalot76 opened #222 "Should I use the tenant filter for a many-to-many join entity?"
Hi,
I apologize in advance for the possible OT, but I really don't know what else to ask.
Should I use the tenant filter even for a join entity created to implement a many-to-many ralationship?

Thank you very much.
Best regards.

[2020-01-31 17:48] gitriinbigd commented on #221
`IDbContextScopeFactory `is registered as a service and what is weird is that the store constructor is called and the `TryGet `method is called as well.

This is where is gets very weird.

With that in the constructor, when the `SecurityDbContext` is invoked, the `TenantInfo `parameter is **NULL**. If I shut things down, remove the argument from the constructor, restart, when the `SecurityDbContex

[2020-01-31 20:02] AndrewTriesToCode commented on #222
hi @devalot76!

That is a very good question. The global query filter works on the "initial" Entity of the query, which is almost never the intersection entity. I usually don't bother with making the intersection table multitenant because I prefer to keep things simple if I can.

[2020-01-31 20:19] AndrewTriesToCode commented on #221
So in taking a closer look I can see this is a little more complicated. Is `SecurityDbContext` the concrete implementation of `IDbContextScopeFactory`? Do I have it right that you are trying to use a multitenant db context inside the multitenant store? We have a bit of a chicken-and-the-egg problem. I think I can explain the behavior you observe.

The `IMultiTenantDbContext` implementation expects

[2020-02-01 22:37] gitriinbigd commented on #221
Not exactly. The IDbContextScopeFactory generates context scopes which are used for accessing DbContexts (see https://mehdi.me/dbcontextscope-source-code-now-available-on-github/). I won’t get into that but it’s nothing to do directly with the DBContext.

I don’t have a project I can publish but will try and pull something together. In short, the dependency injection is working - but when it does,

[2020-02-02 07:05] AndrewTriesToCode commented on #221
Ok I see what you mean now. I enjoyed your article, interesting stuff as an aside.

I don't know what could be the cause. You probably are aware that `WithStore` actually decorates the provided store with a wrapper store that does validation and logging. I wonder if that is somehow causing the problem.

Can you try registering without the helper method just to eliminate the wrapper as a factor?
[c

[2020-02-04 02:34] markgould opened #223 ".NET Standard 2 support dropped"
Is there a reason .NET Standard support was dropped in 5.0.1? (A major breaking change)

I have some sites that have to integrate with some full framework dlls, so they're .NET 4.7.2 ASP.NET Core projects which supports .NET Standard 2.0.

[2020-02-04 03:02] AndrewTriesToCode commented on #223
hi @markgould

You are correct, in 5.0.1 when adding ASP.NET Core 3.1.1 support I also changed how the ASP.NET Core 2 support works by targeting `netcoreapp2.1` instead of `netstandard2.0`. I did this mainly for consistency and easier maintenance. I intended to do it as part of 5.0 alongside other breaking changes. The January .NET Core updates came out very shortly after the 5.0 release so I took

[2020-02-04 03:09] markgould commented on #223
Hi @achandlerwhite  - thanks for the quick response, as always.

I'm planning on abstracting the pieces that rely on the full framework into a gRPC server, that way I can make the web project .NET Core 3 and keep current. So hopefully this shouldn't end up being an issue.

Appreciate the explanation!

[2020-02-04 12:32] mphill opened #224 "Foreign key consistency with Tenants table"
When using the EF Core storage for Tenants, and Identity, you have to have two different contexts:

1. EFCoreStoreDbContext
2. MultiTenantIdentityDbContext

As a result the TenantId is decoupled from your main models in MultiTenantIdentityDbContext.

This introduces a host of issues, like if you want to change the TenantId (perhaps a domain change on the routing strategy) - a cascade update would

[2020-02-05 03:18] AndrewTriesToCode commented on #224
hi @mphill

My thought process was that `TenantId` should never change, but `TenantIdentifier` could change over time. The multitenant strategies and stores primarily use `TenantIdentifier` for their lookups. In your example of host lookup that would be against the `TenantIdenfier` rather than the `TenantId` column.

The reason I have 2 separate contexts in my examples are because I consider the s

[2020-02-05 11:39] mphill commented on #224
@achandlerwhite

This makes perfect sense.  The fact the `TenantIdentifier` is the discriminator definitely puts my initial concern to rest.

In my use case, I want to have 1 shared database to keep costs and maintenance lower so I don't even use the connection string.  Would you still say this is a perfectly acceptable and supported use case for your library?

As for the unique key, I think I fou

[2020-02-06 20:19] DeeJayTC opened #225 "Option to ignore specific routes and static files"
When working with a SPA approach I have a few common endpoints used for everyone and per tenant endpoints using route strategy.

Is there any way to ignore the tenant check for specific routes or all static files?

[2020-02-06 23:45] AndrewTriesToCode commented on #225
Hi @DeeJayTC

For files if you place `UseStaticFiles` before `UseMultiTenant` regular files should not be affected. However there currently isn't a built in way to prevent the multitenant middleware from running otherwise. You could create a custom `MultiTenantStrategy` to do that, but I think this is an excellent idea for a new feature.

[2020-02-06 23:47] AndrewTriesToCode commented on #224
I really like your idea for `HasMultiTenantUnique` or `HasMultiTenantIndex`. I'll tag this as an enhancement. Feel free to submit a PR if you are feeling ambitious, otherwise I think I'll try to work on it in the near future.

[2020-02-06 23:57] DeeJayTC commented on #225
Yea, especially when you use the dpa middleware its constantly looking up tenant from the hot module replacement checks , websocket connections etc, too.

Could you maybe, to make it easier add something that allows to say:

UseRouteStrategyExplicit(
*RoutesThatShouldCheckTenant*
)

Any other route is ignored?

Or else any route without the __ Tenant __ is ignored automatically per option?

[2020-02-06 23:57] DeeJayTC commented on #225
SPA middleware...not dpa :)

[2020-02-07 19:58] mphill commented on #224
The proposed change is in this commit:

https://github.com/mphill/Finbuckle.MultiTenant/commit/74b92ef19a7e4cdf167bcd50434fa58ab13aeca4

By returning `IndexBuilder` you have the option to chain `IsUnique()`

This allows both indexes and unique indexes to now incorporate `TenantId`

[2020-02-10 03:03] #199 closed, assigned to nobody

[2020-02-10 03:03] #197 closed, assigned to nobody

[2020-02-10 04:03] #198 closed, assigned to nobody

[2020-02-13 01:39] markgould opened #228 "Routing Strategy and exception pages"
Hi Andrew,

Are you aware of anyway for the routing strategy to work properly when using exception pages?

We're finding that when we use a routing strategy (.NET Core 3.1) the route values are empty on the error pages.

Some sample code:

[code]

The only way around this we've found is to switch to using the base path strategy, and then we can access the tenant just fine (using the IMultiTenantCo

[2020-02-13 01:54] AndrewTriesToCode commented on #228
@markgould

Hello, question, what is the status code in these cases? I suspect that if it a 404 or similar then routing failed which would explain why the tenant is null. Would it work in your case to register the routing strategy followed by the base path strategy? That if routing fails it will try the base path next.

[2020-02-13 01:57] markgould commented on #228
Yeah, 404 was one case. It also seemed to happen with unhandled exceptions when using:

`app.UseExceptionHandler("/Error");`

I made sure that the Error page has a route template when I setup the page model conventions (Using Razor Pages)

If I'm going to fallback to base path, is there any reason to not just use the base path strategy only?

Thanks for always responding so quickly!

[2020-02-13 03:09] AndrewTriesToCode commented on #228
Hm, I'm going to try to reproduce it. Do you mind sharing your `Configure` and `ConfigureServices` methods?

[2020-02-13 03:31] markgould commented on #228
[FinbuckleRepro.zip](https://github.com/Finbuckle/Finbuckle.MultiTenant/files/4196367/FinbuckleRepro.zip)
Here's a repro! It does appear to work with the unhandled exception page (if you navigate to TenantA/ExceptionPage you can see the behavior working)

If you try and go to an invalid page, such as TenantA/blah you'll see there is no route values as you suspected.

[2020-02-13 04:16] AndrewTriesToCode commented on #228
Thanks for the example. I'm taking a look. I noticed the `UseStatusCodePage` is at the end of the pipeline rather than the beginning of the pipeline which [microsoft recommends](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-3.1#usestatuscodepages). Still seems to work ok though.

I stepped into the source code for Finbuckle and yeah for a status code resp

[2020-02-13 15:53] AndrewTriesToCode commented on #228
Thinking on it some more I realized its clear that just like "/" routes to the default Index Page, "/anything" routes to the default Index Page when it has a route template of /{routeparam}.

So in this case the "/Error" url for the exception middleware is matching the Index page route.

What is interesting is that the exception middleware doesn't redirect-- it just reruns the app pipeline on the

[2020-02-13 18:12] AndrewTriesToCode commented on #221
@gitriinbigd

Hi just checking in. Have you been able to make this work for you?

[2020-02-13 18:40] markgould commented on #228
Yeah, I actually have 2 in our solution and it appears to work correctly. It doesn't seem like there's much way for the status pages to work, as like you said, the routing has failed.

I think we'll just use the BasePathStrategy knowing that the routing has that limitation.

Thanks for looking into this!

[2020-02-15 06:24] #169 closed, assigned to nobody

[2020-02-20 11:26] hbermani commented on #225
In a similar place here with a SPA application and it looks very chatty on the server end checking finbuckle tenancy unnecessarily. Will try and implement a custom strategy but will also greatly welcome the proposed enhancement.

[2020-02-20 14:51] hbermani opened #229 "Help with custom strategy implementation"
Hello there,

First of all I can't be thankful enough for the existence of this library, thank you so much for all the efforts that have gone into this.

I was hoping someone can help me with the custom strategy implementation as the documentation didn't dive into the details of param 2, particularly how I can pass the HTTPContext to the custom strategy .
``services.AddMultiTenant().WithStrategy<C

[2020-02-20 17:08] akasoggybunz opened #230 "[Question] WithRouteStrategy() tenantInfo.Identifier is Case sensitive with Identity"
## Issue
When using `WithRouteStrategy` and `identity` when logging in.
If I have a different case it will not login, or incorrectly route  tenant.  I get a `Status Code: 400; Bad Request`

## Case
Tenant identifier = `Dev`

If I go to `https://localhost:44310/dev` get redirected to `https://localhost:44310/Dev/Identity/Account/Login?returnurl=%2Fdev` (To this point everything looks correct, Tenan

[2020-02-20 18:19] natelaff commented on #229
Your custom strategy class should use dependency injection to inject IHttpContextAccessor into the constructor. Unless I'm missing something :)

[2020-02-20 19:11] hbermani commented on #229
Thank you @natelaff  for the prompt reply, this seems to work but it's super sluggish, probably because it's creating a new context accessor with every request. Does this look right to you?

[code]

And on the strategy end...
[code]

Could it be done better?

[2020-02-20 19:32] natelaff commented on #229
That's what I do (of course I don't use a custom strategy, but use a custom store that calls out to an API and I require the HttpContext within it). I can't speak to why it would be slugish on your end. I utilize memory cache in my custom store though so I don't have to keep hitting my API once I have a tenant hit. maybe you could do something similar.

Oh, I wouldn't new up an HttpContextAccessor

[2020-02-20 19:35] AndrewTriesToCode commented on #229
Hello @hbermani  and @natelaff

I'm glad you find the library helpful!

The 2nd parameter in `WithStrategy` is either a factory method that will build the strategy per scope (transient in your case) or a parameter that will be used as a constructor parameter with normal DI. If it helps check the source [here](https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/master/src/Finbuckle.MultiTenant.

[2020-02-20 19:39] natelaff commented on #229
@achandlerwhite it is quite helpful. i'm very new to it, but digging it so far. off topic, i had written a very similar multi-tenancy library for my own purposes, but once i got stuck in per tenant option on the cookie is when i stumbled upon this. the only thing i think this needs either via you, PR or custom strategy is to pull the tenant name from http header ;) easy enough to add.

[2020-02-20 19:41] AndrewTriesToCode commented on #229
@hbermani

Separate response here for your code above-- if you did for some reason need to pass `IHttpContextAccessor` to the constructor you wouldn't need to pass in `new HttpContextAccessor` because it would use the default DI instance that `AddHttpContextAccessor` sets up....

.... and now I see @natelaff  beat me to it!

In general `IHttpContextAccessor` is slow which is why you have to opt in

[2020-02-20 19:48] AndrewTriesToCode commented on #225
Thanks for the input!

It's funny because in ASP.NET Core 2.1 you actually can set a different route for the strategy but then in ASP.NET Core 2.2 they changed to "Endpoint" routing which overall is better but has this one issue.

In general the tenant strategy is fast but the tenant store check can be slow. So with that in mind I have a few ideas. Tell me what you think:
1. Exception list - Have

[2020-02-20 19:51] AndrewTriesToCode commented on #230
Hi, what is the underlying database used for `TenantDbContext`? The behavior can vary based on how the underlying provider does string comparisons.

[2020-02-20 20:01] akasoggybunz commented on #230
[code]

with the migration
[code]

Also now that I am looking at this. I probably don't want Identifier to be nullable, correct?

[2020-02-20 20:05] hbermani commented on #229
Thank you so much @natelaff  And @achandlerwhite.

The casting is working a treat @achandlerwhite  and the sluggishness turned out to be Windows Update :( !! I don't need to use HttpContextAccessor now. Having said that the library is still expecting me to pass a second parameter... do I just add new object() instead - the parameter is redundant in my implementation.

[code]

[code]

Also in terms

[2020-02-20 20:13] hbermani commented on #225
In my case Finbuckle middleware is running even when the React app is being loaded. I think that's partly due to poor architecture my end. I was thinking I will separate the SPA to load from a different project where multitenancy is not required and then just run the backend APIs and persistence with multitenancy.

Update: Implemented the above and it now works better.

[2020-02-20 20:26] hbermani commented on #229
That's kind of what I am doing with the custom strategy, storing the tenant identity reference for the user in the JWT token that I am getting from the identity provider (Azure AD B2C in my case) and in the custom strategy verify and decode the token to extract the tenant identity reference. I worry if it's just stored in a header/cookie outside a JWT token that it would present a security risk as

[2020-02-20 20:29] natelaff commented on #229
I wouldn't use header for that personally. In my case I just use the header for API access to know which JWT i should verify and database to attempt to connect to. I pass in x-tenant-name header value on any API call along with the token.

[2020-02-20 20:35] hbermani commented on #229
@natelaff does your API then verify user X is part of x-tenant-name?  I am just trying to understand what stops a malicious user of passing a different x-tenant-name alongside their JWT to view other tenant data?

[2020-02-20 20:37] natelaff commented on #229
Actually, re-reading it, you're not doing anything too dissimilar from what I'm doing. Not sure where you're using Finbuckle.. I have three parts (IdentityServer, API and client). Finbuckle lives in my IdentityServer project (gets tenant name from path, and authenticates against ASP.NET Core Identity, then adds tenant name to the token). Then in API, i pass the token and tenant in request header.

[2020-02-20 20:40] hbermani commented on #229
That makes sense... Instead of Identity Server I have Azure AD B2C . B2C hosts users from different tenants and provides a tenant Id as a claim to the client which then passes the JWT to the application API to verify and authenticate. I am using Finbuckle at the API level.

[2020-02-20 20:43] natelaff commented on #229
then yes, what you're doing is pretty similar to me. finbuckle could live in my API theoretically too, but I use database per tenant... it's easy enough to extract the tenant name from the claim and build my connection string without this package there.

[2020-02-20 20:50] hbermani commented on #229
Indeed, I am just too lazy (and frankly don't trust my skills) and this library is perfect to route the controller action to different/same databases based on the tenant.
Ps. I don't know if this remains to be the case but be careful if using EF and only switching connection strings, I remember once watching a video where it said the caching engine of EF can be problematic in terms of caching data

[2020-02-20 20:56] natelaff commented on #229
I'd be curious to see the video, but it may be for previous versions. In ASP.NET Core 2.2+ (i think 2.2) it builds a new DbContextOptionsBuilder. So right in startup when I add the context I can build out a connectionString for each request that comes in. It _should_ always go to the proper place from what's in that access token. They made this a whole lot easier in one of those recent versions.

[2020-02-20 21:03] hbermani commented on #229
I'll try and find it on YouTube for you now.

Btw, I am assuming you are applying the same EF migrations to all tenant databases.. Have you figured out a nice easy way to apply to all other than just manually :-p

[2020-02-20 21:05] natelaff commented on #229
I preprovision databases in an elastic pool using a bacpac. So whatever migration is applied in the bacpac is what each database gets.

Planning to use elastic jobs and apply migration script to all existing databases though. Haven't quite got there, but soon.

[2020-02-20 21:08] hbermani commented on #229
Cool... I will look into that, thanks :D

I know ABP (Asp.net Boiler Plate) has a tool that applies migrations to different DBs, will explore if that's an option too.

[2020-02-20 21:42] hbermani commented on #229
@natelaff  took a lot of digging but finally found it, here you go. https://youtu.be/-1cTReZ9lzY

It's 56 minutes but I will watch again tomorrow to refresh my knowledge and extract the specific timestamp where the cashing issue is referenced.

[2020-02-20 21:56] AndrewTriesToCode commented on #230
Thanks for the detail. Which [database](https://docs.microsoft.com/en-us/ef/core/providers/index?tabs=dotnet-core-cli) provider are you using?

[2020-02-20 22:01] AndrewTriesToCode commented on #230
Looking closer now I'm wondering if the Cookie Path is the culprit here. Can you try commenting out this line and let me know if it works:
[code]

the downside is that if multiple tenant logins exist on the same machine a cookie for each is sent. In practice this probably isn't a serious problem. I'm debating changing the documentation to knot recommend this path adjustment.

[2020-02-20 23:26] akasoggybunz commented on #230
## Solved!
Commenting out the  `options.Cookie.Path = $"/{tenantInfo.Identifier}";'`
Indeed did fix this for me, thank you!

p.s. Loving Finbuckle! Kudos, and praise!

[2020-02-20 23:28] akasoggybunz commented on #230
`Logout` is not working now, that i commented out the `option.Cookie.Path`
Is there something else in the `startup.cs`, I need to configure?

[2020-02-20 23:48] AndrewTriesToCode commented on #230
In your code here. since we can't changing path any more notice the login and logout originally use it?
[code]

So if you comment out the path just change it like so:
[code]

[2020-02-21 16:45] akasoggybunz commented on #230
Yeah this is much better behavior.
Thank you

[2020-02-21 16:45] #230 closed, assigned to nobody

[2020-02-24 17:05] hbermani opened #231 "[SOLVED] How to EnableRetryOnFailure() to increase resiliency ?"
Hello there,

Is there an easy way to add EnableRetryOnFailure() to `services.AddDbContext<AppContext>();` ?

Typically I add it like in the code block below but I am unable to do so as the tenant connection string is being injected at runtime.
[code]

Thanks

H.

[2020-02-24 17:16] #229 closed, assigned to nobody

[2020-02-25 09:53] hbermani commented on #231
So I forgot I created the context somewhere else in the application, it was as simple as updating this line in the context (and context factory)

`optionsBuilder.UseSqlServer(ConnectionString, options => options.EnableRetryOnFailure());`

[2020-02-25 09:53] #231 closed, assigned to nobody

[2020-02-26 02:54] AndrewTriesToCode commented on #225
@hbermani Excellent!

[2020-03-02 16:46] #200 closed, assigned to nobody

[2020-03-08 09:11] clinically-au opened #232 "HttpRemoteStore - configure placement of tenant identifier"
Hi Andrew

Thanks for your work (again!) - going from strength to strength.

I am implementing the HttpRemoteStore using an Azure function, and am using function-level security, which requires passing in a secret key. The URL I pass in to `.WithHttpRemoteStore()` looks something like:
`https://internalapi.my.app/GetTenantInfo?code=[SECRET KEY]&identifier=`

I then strip off the leading / that Finb

[2020-03-08 09:20] clinically-au commented on #232
Actually, looking at the source code, i see that the endpoint template can include `{__tenant__}`

Feel free to close (but it may be useful to add that to the sample).

[2020-03-08 09:28] clinically-au opened #233 "HttpRemoteStore does not parse Items collection"
Hi Andrew,

Similarly to EFCoreStore (https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/212), it would be great if HttpRemoteStoreClient could parse the Items collection returned to it.

Thanks
W.

[2020-03-08 10:49] #232 closed, assigned to nobody

[2020-03-08 21:41] clinically-au commented on #233
I've found that simply adding the items dictionary to the anonymous type in `HttpRemoteStoreClient.TryGetByIdentifierAsync(...)` seems to work:

`var anon = new { Id = "", Identifier = "", Name = "", ConnectionString = "", Items = new Dictionary<string,object>()};`

And then:
`return new TenantInfo(result.Id, result.Identifier, result.Name, result.ConnectionString, result.Items);`

Am I missing so

[2020-03-09 09:16] attiqeurrehman commented on #185
Looking forward to Identity Server support.

[2020-03-11 04:47] AndrewTriesToCode commented on #185
@attiqeurrehman  Yes it is tricky--I think all the parts are there but IS4 has so many different use cases and configurations it makes it hard to cover them all.

[2020-03-11 04:49] AndrewTriesToCode commented on #233
Yep--it can almost exactly the same way as long as the server uses the compatible type variable within the JSON. I'll add this to the list.

[2020-03-11 15:38] attiqeurrehman commented on #185
@achandlerwhite we can list out the most common scenario and we can all pinch in with PR's.

[2020-03-13 23:52] #219 closed, assigned to nobody

[2020-03-14 00:21] AndrewTriesToCode opened #234 "feat: refactor multitenant context storage"
Currently the ASP.NET Core middleware stores the `MultiTenantContext` instance in the `HttpContext.Items` property. However this adds a dependency to `HttpContext` and `HttpContextAccessor` that is not ideal.

A better solution would be to store it in the dependency injection container. This would have the added benefit of utility for non-webhost based .NET Core hosted applications which can also

[2020-03-14 20:07] #205 closed, assigned to nobody

[2020-03-17 07:30] alonsoalon opened #236 "If you include objects in the tenant's Items in appsettings.json, the read will report an error"
If you include objects in the tenant's Items in appsettings.json, the read will report an error,
eg:
"Items": {
   "configExample":{"key":"1"} // []
}
Error source location:
Finbuckle.MultiTenant.Core\Stores\ConfigurationStore\ConfigurationStore.cs
line number : 65

[2020-03-17 15:56] #201 closed, assigned to nobody

[2020-03-17 16:36] AndrewTriesToCode commented on #236
@alonsoalon Thanks for reporting this. I'll take a look.

[2020-03-18 09:47] alonsoalon opened #237 "How can I get the tenant information to support hot updates"
Get the tenant information in the configuration file. How can I get the tenant information to support hot updates?The production environment is in need of thermal updates.

[2020-03-25 13:43] jimmymcpeter opened #238 "Composite primary key"
Great work on this library.  I've been playing around with it and EFCore...  I'm curious what your opinion is using a composite primary key of `TenantId` and `Id` in the AppDbContext?  I had to use the fluent API extensively for this.  The LocalTenant record is populated to the DB as part of provisioning a new tenant in the CatalogDbContext.

Adding `ValueGeneratedOnAdd` to the LocalTenant.cs `Ten

[2020-03-25 16:16] niravbhattsai opened #239 "Tenant availability validation"
I am using route strategy with in memory store.

I have added 2 tenants in the store tenant1 and tenant2 along with its connection string and all.

Now while opening page http://localhost/tenant1/Home/Index or http://localhost/tenant2/Home/Index. It is working fine as expected.

However, if I open http://localhost/tenant3/Home/Index, it is also opening however while database query it is failing as

[2020-03-25 21:19] AndrewTriesToCode commented on #238
@jimmymcpeter

Hello, thanks for the question. I think it all depends on the specific application when its comes to including tenantId in multicolumn keys and indexes. I had to make sure Identity keys and indexes were adjusted accordingly. Your approach here looks pretty solid.

With respect to needing the `ValueGenerateOnAdd`, I don't think it should be needed because in a typical setup the libra

[2020-03-25 21:23] AndrewTriesToCode commented on #239
Hi @niravbhattsai

You aren't missing anything, in that case the request is being routed to the controller with no tenant detected, and in my view I decided to show the default page if no tenant was detected.

You could do something in your controller like this if you wanted to return a 404:
[code]

Maybe it would make for a good enhancement to somehow automatically return a 404 if the tenant isn'

[2020-03-25 21:25] AndrewTriesToCode commented on #237
@alonsoalon I apologize for the late reply.

I'm not sure I understand your question. Are you using the `ConfigurationStore' MultiTenantStore? It should automatically pick up any changes to the saved appsettings.json file just like ASP.NET Core picks up other changes in the settings file at runtime.

[2020-03-25 21:29] AndrewTriesToCode commented on #238
Also, I just want to make sure I understand -- the `EFCoreStore` database context is not part of the issue you are having is it?

[2020-03-27 11:02] jimmymcpeter commented on #238
Thanks for replying so quickly, @achandlerwhite 👍

Correct, I do not have any issues with this.

Do you think it's because on my `Currency` model I have the relationship to `LocalTenant`
[code]
and EFCore is checking for the `TenantId` before Finbuckle actually sets it when I run `context.SaveChanges();` ?

[2020-03-28 13:11] jimmymcpeter commented on #238
You're right on the `ValueGenerateOnAdd`.  I built out a CurrencyController for HttpPost to create a Currency record

[code]

I kept getting a `MultiTenantException` for the TenantId not matching when I sent in my HTTP Post to create a currency.  I threw a breakpoint on the `_context.Currencies.Add(currency);` line and noticed a random GUID getting set for the TenantId.  This led me to the docs on

[2020-03-29 10:32] niravbhattsai commented on #239
Thanks @achandlerwhite, I am planning to use the similar approach.

I agree with you, it will be a good enhancement to return a 404.
I did not get chance to look at the host strategy, but I believe it will be similar output.

In Host, if we map a CNAME record as * and in IIS we map *.domain.com, it is behaving same as route strategy.

[2020-03-30 15:53] cland opened #240 "Web API implementation or example"
Hi there,
Thanks for this great package. I am new to this and trying out a simple Multi-tenant Rest API. Can I use this package for that? I've tried to modify the "RouteStrategySample" by creating an API controller and updating the Startup.cs, UserEndPoints like so:
[code]

I am not 100% confident if this is the correct way to configure it. My api controller simply return and IActionResult of the

[2020-03-30 17:12] AndrewTriesToCode commented on #238
@jimmymcpeter This is an interesting find, thanks for providing all the detail. I usually use a GUID for my Id and so haven't personally hit this problem with a composite key. I'm glad you found a workaround.

One more thing, what is the purpose of the `LocalTenants` entity? I ask because the name implies it might be serving the same purpose as the tenant store (Storing basic info on the tenant),

[2020-03-30 17:13] AndrewTriesToCode commented on #239
@niravbhattsai I've pinned this issue as an enhancement so I can come back to it later. I'm glad you found a workaround for now-- let me know if you run into any problems.

[2020-03-30 17:18] AndrewTriesToCode commented on #240
Hi @cland

It should work for APIs just fine. If I recall correctly the API route ignores the `UseEndpoint` configuration. I think you just need to add `__tenant__` in your `ApiController` route attribute:
[code]

Give that a try and let me know. You can remove the other routes stuff (unless you need them otherwise). I should probably add something about this to the documentation.

[2020-03-30 17:38] jimmymcpeter commented on #238
No problem!  I have some other things I've found I will probably put in a separate issue for your comments.  My local_tenant table is for keeping referential integrity of whatever tenants are on that specific database.

[2020-03-30 18:36] cland commented on #240
Thanks, it's working fine now.

Just a note to other newbies like me, the error I had received when I tried to return the TenantInfo object as is, as per my code in my post, was this:

![image](https://user-images.githubusercontent.com/4290381/77946461-9ce9a080-72c2-11ea-83fd-d85728258a80.png)

The multi-tenant setup was actually working fine, I just needed to sort out the object being returned. F

[2020-03-30 18:36] #240 closed, assigned to nobody

[2020-03-31 13:29] #238 closed, assigned to nobody

[2020-04-01 00:40] Hammurabidoug commented on #236
In an attempt to overcome this issue, I inherited from TenantInfo with a class that contains additional configuration properties. I had to create my own IMultiTenantStore named CustomConfigurationStore. The UpdateTenantMap method looks like:

[code]

It binds DerivedTenantInfo instead of TenantInfo.

[code]
In the appsettings file:
[code]
When I add per-tenant options in the Startup.ConfigureServi

[2020-04-01 00:46] AndrewTriesToCode commented on #236
@Hammurabidoug do you have a repository of this I can clone and try out?

[2020-04-01 00:52] Hammurabidoug commented on #236
I'll whip one up.

Doug Simpson

On Tue, Mar 31, 2020 at 8:46 PM Andrew White <notifications@github.com>
wrote:

[2020-04-01 01:25] Hammurabidoug commented on #236
https://github.com/Hammurabidoug/Finbuckle.ObjectOptions

On Tue, Mar 31, 2020 at 8:46 PM Andrew White <notifications@github.com>
wrote:

[2020-04-01 01:38] Hammurabidoug commented on #236
I'm not sure how you would do this because I haven't dug deep into Finbuckle, but it would be nice to have a `ConfigurationStore<T> where T : TenantInfo`. This class might allow users to use strongly typed object properties. I personally would like my custom TenantInfo to contain CorsOptions, OpenIdConnectOptions, AuthorizationOptions, AuthenticationOptions, and a slew of other per-tenant options.

[2020-04-01 01:41] AndrewTriesToCode commented on #236
@Hammurabidoug thanks. The `ConfigurationStore` was originally intended to be a bare bones implementation I could use in samples and stuff--but I like your ideas. Thanks for the repo I'll take a look.

[2020-04-01 02:28] AndrewTriesToCode commented on #236
@Hammurabidoug

I rigged it up with the library source code and stepped through it all. Turns out its a simple pass-by-value issue. You can't totally replace the `options` object itself because it isn't passed into this delegate by reference. But if you set each property like below it works:

[code]

Also your delegate strategy wasn't working in the example... I change `BasePath` to `path` to make

[2020-04-01 02:42] Hammurabidoug commented on #236
Thanks. That'll work for now.

It seems like it wouldn't take much to map properties of one to the other in a "more elegant" fashion. I forked your repository and may try to add some features like this mapping and `ConfigurationStore<T>` if I have extra time. Now that I think about it, it may be possible to register all of the custom properties within a derived TenantInfo and only call a single Wi

[2020-04-01 22:26] Hammurabidoug commented on #236
I submitted a pull request to implement this feature. Let me know what you think.

[2020-04-03 14:37] cland opened #242 "Rest API with DATA/DB isolation and using JWT token bearer authentication"
Hi,
This is more a question to anyone who help me get my simple test to work. I have a Rest API that uses JWT token bearer authentication and works fine. I am now trying to adjust to handle multi-tenancy where by each tenant has their own database in Postgresql (can be MySql). Below is my current setup:
**Startup.cs**
[code]

**Then my dbcontext looks like so**:

[code]
When I try to run my applic

[2020-04-03 15:05] natelaff commented on #242
Its actually funny because I have started thinking this week about how to handle seeding as well in the db per tenant model. EF Core data seeding, especially for default roles is useless so this is the approach you have to take. The issue you're running into i believe, is exactly what I was anticipating would happen with this approach, where this is being initialized before you have an actual tena

[2020-04-03 15:11] AndrewTriesToCode commented on #242
@cland
Thanks for raising this issue. I haven't actually tried using the EFCore seeding functionality yet... so you are forging new ground here.

Just as a quick reality check can you add
[code]
to the seed lines just to confirm that works?

By default the `MultiTenantIdentityDbContext` will register `IdentityRole` as multitenant, but in your use case will different tenants need to have unique set

[2020-04-03 15:18] natelaff commented on #242
@achandlerwhite well, they're not using the built in EF Core seeding via HasData (that's the useless part), so this is the necessary approach for doing something like default roles and claims. But I'm quite sure at the point this is being called there is no tenant context.

[2020-04-03 15:19] AndrewTriesToCode commented on #242
@natelaff I agree with you the challenge of seeding a database per tenant setup is a lot trickier and I would argue close to "provisioning" and all the complexity that implies.

I'm working on adding support for `IHostedService` so all the multitenant stuff can workwith AspNetCore proper. I could see a background service perhaps being a good way to provision/on-board new tenants.

[2020-04-03 15:22] AndrewTriesToCode commented on #242
@natelaff I think he is using `HasData` in his `Configure` method, but it doesn't fire off until his `Initialize` function causing the issue. Your points are 100% valid though.

[2020-04-03 15:22] natelaff commented on #242
@achandlerwhite yes, you're exactly right. I have an entire provisioning API that deals with initializing the tenant database, and I believe that's where I will have to add default roles/claims because I didn't anticipate this method of actually working, and suspect this is what @cland will have to do as well.

EDIT: Ah yes, I missed the user/role creation. That works fine. Adding the default user

[2020-04-03 15:38] cland commented on #242
Thank you all for your quick response. I must say you guys I way advanced than me and need a bit of time to really digest what you are saying :)

But just to add a few points. The app will have standard roles regardless of the tenant. And I am trying to achieve this type of multi-tenancy (sort of):

![multitenant-db-isolation](https://user-images.githubusercontent.com/4290381/78378606-7b91f880-75d

[2020-04-03 15:45] natelaff commented on #242
Yes, that is what I do as well. I haven't added roles yet, this was coming, but for my default user, this is handled in the provisioning process.

So, I have a provisioning API that creates the database and schema (from a SQL bacpac, of course this could be done any number of ways), and handles other things like Azure Storage containers, DNS, adds to my 'catalog' db, etc...

When the database isas

[2020-04-03 16:12] AndrewTriesToCode commented on #242
@cland

I started to write out how to make just the role non-multitenant, but it occurs to me that if you truly have a separate database per tenant then you might be better off just using the regular `IdentityDbContext`. The multitenant one really is about separating data when tenants share a single database, but at the cost of added complexity.

Of course the tenant resolution and connection stri

[2020-04-03 16:21] natelaff commented on #242
Yeah, I wouldn't attempt that either. Using IdentityDbContext is the best way to do this. The second you have a requirement for instant roles you'll be thankful you did. In db per tenant, there is no reason to use the MultitenantDbContext.

In full disclosure for myself, I never implemented this library, but still intend to. I have a custom multi tenancy library that basically does exactly this th

[2020-04-03 16:27] AndrewTriesToCode commented on #242
@cland I've got custom tenant type coming soon. It really adds a lot of power. I expect to open the PR this weekend if you want to take a look

[2020-04-03 16:31] Hammurabidoug commented on #242
Would something like this work work you?

[code]

[2020-04-03 16:36] cland commented on #242
Thanks @Hammurabidoug just saw your comment and will digest it.

Just wanted to respond to the outcome after doing what @achandlerwhite suggested. I am getting a different error now after adding the TenantId as suggested.

![error2](https://user-images.githubusercontent.com/4290381/78384120-e2b3ab00-75d9-11ea-8ce1-fee8dac99db0.png)

Still going thru all the responses though.

[2020-04-03 16:57] Hammurabidoug commented on #242
How about this?

[code]

[2020-04-03 18:05] AndrewTriesToCode commented on #242
@cland I can help with that error -- do you have a repo on github I can clone to take a look at?

[2020-04-03 18:15] natelaff commented on #242
Please share findings. If there is a way to seed data when connecting to each tenant DB that would be awesome...

[2020-04-03 19:56] cland commented on #242
I have dumped the code here:
https://github.com/cland/multitenant

Hope you will find all in order.

[2020-04-03 20:58] Hammurabidoug opened #243 "Get IOptions with a service class."
How do I get IOptions with a class that does not have an HttpContext like a service class?

[2020-04-05 20:14] cland commented on #242
Got something working (well sort of). Created a new branch here:
https://github.com/cland/multitenant/tree/CLAND_Updates
Have simple controller and returning simple json data back from the table.

**SUCCESSFUL**
1) Creation of the databases for each tenant and _seeding_ the database with _roles_ and _admin_ user.
2) Returning the roles (just as test) from a test controller "TasksController". (Weir

[2020-04-06 17:47] #242 closed, assigned to nobody

[2020-04-06 19:07] natelaff commented on #242
Correct me if I'm wrong @cland, but your startup code relies on statically pushed TenantInfo...?

[2020-04-06 19:28] cland commented on #242
No. It's working just like @achandlerwhite  [dataisolation](https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/master/samples/ASP.NET%20Core%203/DataIsolationSample) sample with the appSettings.json containing the tenant info. So If I add another tenant in appsettings.json it should just work as well.

The initialize or seeding the db for the first time is happening in the startup but I could

[2020-04-07 13:20] ericbrumfield opened #244 "Should EFCoreStoreDbContext set TenantId property on model during SaveChangesAsync?"
Hi,

I've been following the tutorials and samples but can't seem to get the TenantId to be set automagically during SaveChangesAsync.  I'm under the assumption/impression that EFCoreStoreDbContext will do this for me given that I've decorated the model with MultiTenant attribute or used IsMultiTenant() on the model builder.  I also have declared a TenantId property on the model because I want to

[2020-04-07 13:53] Hammurabidoug commented on #243
I posted a [Blazor code sample](https://github.com/Hammurabidoug/Finbuckle.MultiTenant) that mocks up what I am trying to achieve.

The example includes [this contribution](https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/188), which does not work.

Service classes do not contain HttpContext, so it is always null. "[How do I access HttpContext in Server-side Blazor](https://stackoverflow.

[2020-04-07 19:51] AndrewTriesToCode commented on #244
hi @ericbrumfield I'm sorry for the slow reply.

This is something I need to clarify in the docs I think. `EFCoreStore` itself isn't intended to be multitenant (although I guess it could in some specific use cases). It's just a multitenant store that happens to use EFCore to talk to a database to pull tenant info during tenant resolution. Most apps will only have a single store that stores all the

[2020-04-07 20:03] ericbrumfield commented on #244
No problem, it does help me, thank you.  I actually dug into the source a bit ago and figured it out that I would indeed have to add the implementation to get it to save.  I did switch to deriving from IMultiTenantDbContext and it's mostly working, but I'm hitting some DI related lifecycle problems getting TentnInfo to not be null during EF context construction.  It feels like it's being injected

[2020-04-07 21:04] AndrewTriesToCode commented on #244
Thanks for the detail. In your `Configure` method, do you have any middleware  that might be triggering the dbcontext initialization prior to `UseMultiTenant` getting called?

[2020-04-07 21:12] ericbrumfield commented on #244
I don't believe so but it could be possible, I'd have to dig.  This is what my Configure method looks like:

[code]

I'm going to try right now to pop in a Lazy<T> injection wise for TenantInfo resolution in my context to see if I can get around it being null.  I know I'm probably hacking this together at this point for my use case, but am learning this library some while doing it.

[2020-04-07 21:17] ericbrumfield commented on #244
My injected Lazy TenantInfo just worked, so I added this to my startup ConfigureServices:
[code]

and then my DbContext looks like this for the required bits:

[code]

I'm using the HttpContextAccessor down in here because I'm using some shadow properties for audit fields (created by etc.) and am pulling the user id from JWT.  App here already existed before introducting Finbuckle.

I don't know i

[2020-04-07 21:34] #222 closed, assigned to nobody

[2020-04-07 21:35] AndrewTriesToCode commented on #244
Makes sense. In fact I use HttpContextAccessor for the same purpose within the library for per-tenant options.

[2020-04-07 21:40] ericbrumfield commented on #244
Thanks again for the responses.  In my use case I guess you have to have this one Lazily evaluate instead of a more common DI setup for TenantInfo to inject as the Finbuckle middleware runs later in the pipeline I guess, so TenantInfo is null without it.

Hopefully this is a useful scenario and work-around for the library and others.  I'll close this out now, I think I'm good now and if we need to

[2020-04-07 21:40] #244 closed, assigned to nobody

[2020-04-07 21:45] AndrewTriesToCode commented on #243
hi @Hammurabidoug
I'm not up-to-date on Blazor-- are you able to inject the same services into services that you can into Asp.Net Core controllers?

For per-tenant-options currently this library relies internally on `HttpContextAccessor` so I think that Blazor bug will impact you. For the next release I am working to remove that dependency, but I am probably not going to put it directly into DI pe

[2020-04-08 16:07] Hammurabidoug commented on #243
Hi @achandlerwhite
The HttpContextAccessor is not working with Blazor as written. I created a Finbuckle.MultiTenant.Blazor library [here](https://github.com/Hammurabidoug/Finbuckle.MultiTenant/tree/master/src/Finbuckle.MultiTenant.Blazor). There's also a sample [Blazor application here](https://github.com/Hammurabidoug/Finbuckle.MultiTenant/tree/master/samples/ASP.NET%20Core%203/BlazorSample). It

[2020-04-16 05:15] KonnectSalon commented on #213
Wondering if you had a chance to think about this at all?

[2020-04-16 21:36] tcorvin opened #245 "Multiple DbContexts per tenant"
Does Finbuckle.MultiTenant support multiple connection strings per tenant?
(i.e. for an infrastructure database, an auth database, and an app database)

If not, any thoughts and how this could be accomplished "manually?"

Thanks,
Tyson

[2020-04-17 20:07] AndrewTriesToCode commented on #245
hi @tcorvin
The next version releasing soon will support a custom Tenant Info object so you can have any number of connection strings. Then in the configuration for the database context you would have to somehow choose the connection string you wanted to use.

In the current version you could store them in Items collection, but its just a <string, object> dictionary and not strongly typed.

[2020-04-17 22:08] tcorvin commented on #245
Hey @achandlerwhite, perfect ... I'll use the items collection for now as we wait for next release ... thanks!

[2020-04-17 22:08] #245 closed, assigned to nobody

[2020-04-19 03:50] #223 closed, assigned to nobody

[2020-04-20 07:34] mobinseven opened #246 "Question about seeding database"
Hi.
I am trying to use your well-designed library in a Blazor app, [BlazorBoilerplate](https://github.com/enkodellc/blazorboilerplate).

The problem I encountered is simple:
In the above mentioned app, a function, `databaseInitializer`, tries to seed database with default roles and built-in user accounts. This `databaseInitializer` is called in startup.configure() part of the program. Where:

1. `

[2020-04-21 10:34] bilalhashmi opened #247 "Using Finbuckle.Multitenant with IdentityServer4"
Hi

Thanks for the great library. It is quite easy to use.

I am trying to implement a multi-tenant application. I have **ASP.NET Core MVC** application which uses a service (implemented using **IdentityServer4** and **ASP.NET Identity Framework**) for authentication.  Let suppose, I have two tenants (tenant1, tenant2). I have added **Redirect Uris** for both tenants in IdentityServer4 service. No

[2020-04-22 19:03] #215 closed, assigned to nobody

[2020-04-22 19:03] #218 closed, assigned to nobody

[2020-04-22 19:03] #221 closed, assigned to nobody

[2020-04-22 19:03] #228 closed, assigned to nobody

[2020-04-22 21:01] AndrewTriesToCode commented on #247
hi @bilalhashmi

Good day for a tough question huh!? :)

In this case the same identity cookie is getting reused because you happen to be on the same computer when trying the two tenants (which could happen in real life). I see two options:

1) On the identity Server disable to the "remember me" functionality when the user logs in there. I think this would effectively require them to always sign o

[2020-04-22 21:03] AndrewTriesToCode commented on #247
Folllowup queston -- does your IdentityServer4 setup have the same database of users for both of your tenants or would it have different sets of users for each tenant?

A simple but effective solution might be just to run one identity server instances per tenant.

[2020-04-22 21:10] AndrewTriesToCode commented on #246
@mobinseven  sorry for the slow response

Are the default roles and user accounts the same for all tenants or are they "per-tenant"?

If they are shared across all tenants I recommend creating a dummy `TenantInfo` with the proper connection string so you can just `new MyDbContext(dummyTenant)` or similar.

If these are per-tenant then it gets a lot tricker. One approach I've seen is to create an e

[2020-04-23 03:12] mobinseven commented on #246
@AndrewTriesToCode Thanks for your involvement.
As the first case is true for our case, I used a hack:
[code]
Let me know what do you think about this. Thanks.

[2020-04-23 07:05] pworthy99 commented on #247
Hi @AndrewTriesToCode

I am currently attempting your option 2 and am struggling with getting operational and configuration store to be per-tenant. I have setup both my client and identity server to be multi tenant. I have a Tenant Configuration Database holding the tenantinfo table , then a Database per a tenant having all the ID4 tables and identity tables.

I agree it has got quite complicated.

[2020-04-23 07:22] bilalhashmi commented on #247
Hi Andrew,

Thanks for the feedback.

My **IdentityServer4** have different sets of users for each tenant.

I have resolved that issue by listening the **OnValidatePrincipal** event against cookie options at **IdentityServer4** end as shown below.

[code]
In the event handler, I compare user associated tenant and tenant info contained in "acr_values". In case of mismatch, I reject the principal.

[2020-04-23 07:22] #247 closed, assigned to nobody

[2020-04-25 13:43] ZedZipDev opened #248 "How to use other tenant-specific config parameters?"
I understand how to use ConnectionString
[code]
There is ConnectionString from parent class used.
I have in appsettings.json 2 tenant specific parameters

ConnectionString
S3ConnectionString

How I can pass the tenants S3ConnectionString?

[2020-04-25 19:18] GioviQ opened #249 "Logging info"
Is it normal to have a log full of lines with:

Finbuckle.MultiTenant.Strategies.DelegateStrategy.GetIdentifierAsync: Found identifier: "MyApp".
Finbuckle.MultiTenant.Stores.EFCoreStore`1[MyApp.Storage.TenantStoreDbContext].TryGetByIdentifierAsync: Tenant found with identifier "MyApp"?

Anyway I suggest to change level for this lines from Info to Debug.

[2020-04-28 10:34] win32nipuh opened #250 "Blazor server-side sample?"
It will be very useful to have an example how to use  Finbuckle.MultiTenant in a Blazor Web Server. Do you have a plan to create one?

[2020-04-28 15:05] AndrewTriesToCode commented on #249
It is normal, but I see your point about debug being a better level than info. I'll tag this to make that change.

[2020-04-28 15:10] AndrewTriesToCode commented on #250
hi @win32nipuh

I would like to, but I need to get up-to-date with Blazor and so it probably won't be in the immediate future. There are some decent discussions about it in the closed issues if you haven't found them yet.

[2020-04-29 07:52] win32nipuh commented on #250
Thanx. I see ok.
Andrew could you please take a look at my another question?
I need to pass multiple tenants parameters  like Connection string to database, S3 connection parameters etc.
How I can do it?

[2020-05-01 13:46] joashTheCoder opened #251 "Data Isolation: DataContext ConnectionString null"
in the Documentation it says that the connectionString will be specified in the OnConfiguring like so

 protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
        {
            optionsBuilder.UseSqlite(ConnectionString);
            base.OnConfiguring(optionsBuilder);
        }

and i also followed the dataIsolation sample

this is inside setupDb()

var ti = new TenantIn

[2020-05-01 21:22] vdecristofaro commented on #141
How did you configured this on a mac?
Thanks

[2020-05-01 22:09] AndrewTriesToCode commented on #141
@vdecristofaro
on Mac you can edit your /etc/Hosts file and add entries for your local hosts files to have your subdomains point to your loopback address. This link explains how to do it:

 https://www.imore.com/how-edit-your-macs-hosts-file-and-why-you-would-want

After 127.0.01 localhost you can have lines like:
[code]

[2020-05-01 22:15] AndrewTriesToCode commented on #251
@joashTheCoder

Hi, for migration look at the code I have to trigger it in `Program.cs` in that sample. You'll see it doesn't refer to SetupDb at all.

Alternatively you could use a design time factory for the database context. The IdentityDataIsolation samples shows how to use this approach. Looks for the DesignTimeFactory.cs file.

[2020-05-01 22:17] AndrewTriesToCode commented on #248
@Oleg26Dev I'm sorry for the late reply.

Your best bet here is to not derive from `MultiTenantDbContext`, but to instead implement `IMultiTenantDbContext` per the documentation -- with this option you'll have total control and can use the connection strings you want. Let me know if you run into any problems.

[2020-05-01 23:30] AndrewTriesToCode opened #253 "Finbuckle 6.0.0 prep"
Hello,

I'm planning to release Finbuckle 6.0.0 soonish.

The code is in the `release-6.0.0-dev` branch.

I've uploaded Finbuckle.MultiTenant version `6.0.0-preview1` to Nuget.org so you can take a look at the changes.
**Preview 1 Notes**
- Entire library has been rewritten to support custom tenant information.
  - `AddMultiTenant`, `UseMultiTenant`, and many other types/functions now have a `TTen

[2020-05-02 05:42] clinically-au commented on #253
Thanks, Andrew. A very elegant solution for ITenantInfo

Do the constructors for MultiTenantIdentityDbContext and MultiTenantDbContext need to be adjusted to expect an ITenantInfo object rather than TenantInfo?

[2020-05-02 15:28] AndrewTriesToCode commented on #253
@wojtj yeah I need to register ITenantInfo in DI. I’ll upload a new version today.

I've gone back and forth on whether to take the `TTenantInfo` approach into the multi tenant EFCore area of the library. I've decided to leave it as-is, e.g. dependent on `ITenantInfo` for now. Users have the option of course to inject any `ITenantInfo` implementation they want.

[2020-05-03 10:25] kamalraturi commented on #188
Hi,
I am trying to apply it on Razor Pages project. But In startup.cs file how we should replace this (in DataIsolationSample project):
[code]

In Razor pages startup file we have
[code]
My objective is to use Finbuckle.Multitenant for host strategy with different stores (sqlserver):
`services.AddMultiTenant().WithHostStrategy("*.__tenant__.?").WithConfigurationStore();
`

[2020-05-03 16:57] AndrewTriesToCode commented on #188
Hi @mynkow

if you are using the host strategy then you don't need to worry about the the route -- that is only needed if you are using the routing strategy.

[2020-05-04 12:46] hhuseyinpay opened #256 "IdentityDataIsolation with Host Strategy"
Hi, I'm trying to run the IdentityDataIsolation example with the host strategy. I made the following changes:
![Screen Shot 2020-05-04 at 15 42 55](https://user-images.githubusercontent.com/14811488/80966897-17f02a80-8e1e-11ea-8e96-965c7f8f4d8a.png)
![Screen Shot 2020-05-04 at 15 43 01](https://user-images.githubusercontent.com/14811488/80966903-1b83b180-8e1e-11ea-89ee-12f62382b928.png)
![Screen S

[2020-05-05 09:51] win32nipuh commented on #188
@unencode Can you please give a link to this working app?

Because of many undefined entities, for example: what is the AppTenantInfo ? where and how it is defined?

[2020-05-06 05:41] ZedZipDev commented on #253
Thanx, it is great.
What about "how to use in Blazor" example? It may be useful

[2020-05-06 05:59] ZedZipDev commented on #248
The matter is: I do not use DbContext when work with AWS S3. I use service, register it in ConfigureServices and pass the connection object.
The same about using Redis: I need connection string or connection object and service to work. No EF context, migrations etc.

In case of multi-tenant environment need to have a possibility to get tenants config.
But... I can do it inside of service but need

[2020-05-06 11:02] win32nipuh opened #257 "Why the tenant is not found?"
That is my  ConfigureServices
[code]
There is my appsettings.json section
[code]
When I run  the app I receive the exception. What is incorrect?

[code]